

mixin mod_filter(params)
   div.mod_filter
      .flt-box
         h3.flt-title Filtros
         fieldset.fmf-fieldset
            legend.fmf-legend.hideAccessible Agentes disponibles
            .fmf-fieldGroup
               .fmf-checkboxGroup
                  input.fmf-field.fmf-checkbox(type="checkbox",id="agentes")
                  label.fmf-label(for="agentes") Agentes disponibles en las proximas horas
         fieldset.fmf-fieldset.fc-accordion_init.mod_accordion
            legend.fmf-legend.hideAccessible Idioma
            h4.acn-head.fc-accordion_head Idioma
            ul.acn-body
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="español")
                     label.fmf-label(for="español") Español
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="catalan")
                     label.fmf-label(for="catalan") Catal&aacute;n
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="ingles")
                     label.fmf-label(for="ingles") Ingl&eacute;s
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="aleman")
                     label.fmf-label(for="aleman") Alem&aacute;n
               li.fmf-fieldGroup
                  a(href="#",class="fc-showMore_init flt-showMore") Mostrar m&aacute;s
         fieldset.fmf-fieldset.fc-accordion_init.mod_accordion
            legend.fmf-legend.hideAccessible Disponibilidad
            h4.acn-head.fc-accordion_head Disponibilidad
            ul.acn-body
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="lunes-viernes")
                     label.fmf-label(for="lunes-viernes") Lunes a viernes
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="fines")
                     label.fmf-label(for="fines") Fines de semana
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="mananas",checked="checked")
                     label.fmf-label(for="mananas") Ma&ntilde;anas
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="tardes")
                     label.fmf-label(for="tardes") Tardes
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="noches")
                     label.fmf-label(for="noches") Noches
         fieldset.fmf-fieldset.fc-accordion_init.mod_accordion
            legend.fmf-legend.hideAccessible Forma de contacto
            h4.acn-head.fc-accordion_head Forma de contacto
            ul.acn-body
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="skype")
                     label.fmf-label(for="skype") Skype
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="facetime")
                     label.fmf-label(for="facetime") Facetime
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="llamada")
                     label.fmf-label(for="llamada") Llamada telef&oacute;nica
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="mensajeria")
                     label.fmf-label(for="mensajeria") Mensajer&iacute;a instant&aacute;nea
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="email")
                     label.fmf-label(for="email") Email
         fieldset.fmf-fieldset.fc-accordion_init.mod_accordion
            legend.fmf-legend.hideAccessible Forma de contacto
            h4.acn-head.fc-accordion_head Forma de contacto
            ul.acn-body
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="coche")
                     label.fmf-label(for="coche") Coche
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="moto-ciclomotor")
                     label.fmf-label(for="moto-ciclomotor") Moto y ciclomotor
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="hogar",checked="checked")
                     label.fmf-label(for="hogar") Hogar
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="salud")
                     label.fmf-label(for="salud") Salud y seguro dental
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="vida-inversion")
                     label.fmf-label(for="vida-inversion") vida e inversi&oacute;n
         fieldset.fmf-fieldset
            legend.fmf-legend Rango de edad
            .fmf-fieldGroup
               .mod_rangeSlider.fc-rangeSlider_init
            .fmf-fieldGroup
               .fmf-swich
                  p.fmf-swich_text ¿Tiene hijos?
                  input#hijos.fmf-swich-checkbox(type="checkbox", name="onoffswitch")
                  label.fmf-swich-label(for="hijos")
                     span.fmf-swich-inner
                     span.fmf-swich-switch
         fieldset.fmf-fieldset.fc-accordion_init.mod_accordion
            legend.fmf-legend.hideAccessible Aficiones
            h4.acn-head.fc-accordion_head Aficiones
            ul.acn-body
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="deportes",checked="checked")
                     label.fmf-label(for="deportes") Deportes
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="cine")
                     label.fmf-label(for="cine") Cine
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="literatura")
                     label.fmf-label(for="literatura") Literatura
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="gastronomia")
                     label.fmf-label(for="gastronomia") Gastronom&iacute;a
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="musica")
                     label.fmf-label(for="musica") M&uacute;sica
               li.fmf-fieldGroup
                  a(href="#",class="fc-showMore_init flt-showMore") Mostrar m&aacute;s
         fieldset.fmf-fieldset.fc-accordion_init.mod_accordion
            legend.fmf-legend.hideAccessible Mascota
            h4.acn-head.fc-accordion_head Mascota
            ul.acn-body
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="perro")
                     label.fmf-label(for="perro") Perro
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="gato")
                     label.fmf-label(for="gato") Gato
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="pajaro")
                     label.fmf-label(for="pajaro") P&aacute;jaro
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="pez")
                     label.fmf-label(for="pez") Pez
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="reptil")
                     label.fmf-label(for="reptil") Reptil
      .mod_botonera.btn-center.hidden-lg
         button(type="button", class="btn-normal fc-filter_init") Cancelar
         button(type="button", class="btn-orange fc-filter_init") Aplicar filtros
         a(href="#", title="Mostrar Filtros", class="btn-orange fc-filter_init flt-showFilter") Filtros


mixin mod_filter_sec(params)
   div.mod_filter
      .flt-box
         h3.flt-title.hideAccessible Calendario de eventos
         fieldset.fmf-fieldset
            legend.fmf-legend.hideAccessible Agentes disponibles
            .fmf-fieldGroup
               .mod_datepicker_view
                  label.hideAccessible(for="calendar01", class="") Calendario de eventos
                  input.fc-datepickerView.hideAccessible(id="calendar01", type="text", name="calendar01", value="", maxlength="10")
         fieldset.fmf-fieldset
            legend.fmf-legend.hideAccessible Filtro de eventos
            .fmf-fieldGroup
               .fmf-swich
                  p.fmf-swich_text Eventos recomendados
                  input#idEveRec.fmf-swich-checkbox(type="checkbox", name="onoffswitch",checked="checked")
                  label.fmf-swich-label(for="idEveRec")
                     span.fmf-swich-inner
                     span.fmf-swich-switch 
            .fmf-fieldGroup
               .fmf-swich
                  p.fmf-swich_text Eventos Allianz
                  input#idEveAll.fmf-swich-checkbox(type="checkbox", name="onoffswitch",checked="checked")
                  label.fmf-swich-label(for="idEveAll")
                     span.fmf-swich-inner
                     span.fmf-swich-switch 
         fieldset.fmf-fieldset.fc-accordion_init.mod_accordion
            legend.fmf-legend.hideAccessible ¿Cu&aacute;ndo?
            h4.acn-head.fc-accordion_head ¿Cu&aacute;ndo?
            ul.acn-body
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="lunes-viernes")
                     label.fmf-label(for="lunes-viernes") Lunes a viernes
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="fines")
                     label.fmf-label(for="fines") Fines de semana
         fieldset.fmf-fieldset.fc-accordion_init.mod_accordion
            legend.fmf-legend.hideAccessible ¿Qu&eacute; buscas?
            h4.acn-head.fc-accordion_head ¿Qu&eacute; buscas?
            ul.acn-body
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="confe")
                     label.fmf-label(for="confe") Conferencias y charlas
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="expo")
                     label.fmf-label(for="expo") Exposiciones
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="depo")
                     label.fmf-label(for="depo") Deportes
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="teatro")
                     label.fmf-label(for="teatro") Teatro
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="gastro")
                     label.fmf-label(for="gastro") Gastronom&iacute;a
               li.fmf-fieldGroup
                  .fmf-checkboxGroup
                     input.fmf-field.fmf-checkbox(type="checkbox",id="otrasAct")
                     label.fmf-label(for="otrasAct") Otras actividades
      +mod_banner({
         bannerClass: "fc-filter_showHide"
      })
      .mod_botonera.btn-center.hidden-lg
         button(type="button", class="btn-normal fc-filter_init") Cancelar
         button(type="button", class="btn-orange fc-filter_init") Aplicar filtros
         a(href="#", title="Mostrar Filtros", class="btn-orange fc-filter_init flt-showFilter") Filtros
