//- @jadedoc
//- @description Crea el modulo de tags
//- @param   {json}         params                          Parámetros para el componente. Acepta:
//- @param   {json}         params.item                     Parámetros para el componente. Acepta:
//- @param   {string}       item.name                       Nombre de la persona
//- @param   {string}       item.lastName                   Apellido de la persona
//- @param   {string}       item.profession                 Profesion de la persona
//- @param   {string}       item.src                        Atributo src de la imagen (Ruta de la imagen)
//- @param   {string}       [item.href]                     Atributo href del enlace
//- @param   {string}       [item.title]                    Atributo title del enlace
//- @endjadedoc

mixin mod_tags(params)
	div(class="mod_tags"+(params.cssClass!=undefined?" "+params.cssClass:""))
		p.tgs-title
			span.tgs-number!=params.numberAgents
			| &nbsp;agentes con tus mismos intereses:
		ul.tgs-list.fc-eraserTag
			each item in params.items
				li.tgs-listItem
					span.tgs-listItemLink!=item.content
						a(href=(item.href!=undefined?item.href:"#"),title=(item.title!=undefined?item.title:item.content), class="tgs-close")
							img(src=globals.imgPath+"/modules/icons/ico-close-white.png", alt="Eliminar tag")