
mixin mod_paginator(params)
   div(class="mod_paginator"+(params.cssClass!=undefined?" "+params.cssClass:""))
      ul.pgr-list
         each item in params.items
            li.pgr-listItem
               a(href=(item.href!=undefined?item.href:"#"),title=(item.title!=undefined?item.title:"Go to "+item.content), class="pgr-listItemLink"+(item.cssClass!=undefined?" "+item.cssClass:" pgr-page")+(item.type!=undefined?" pgr-"+item.type:""))!=item.content
