

mixin mod_machine(params)
    .mod_machine
        p.mch-text ¿No sabes por donde empezar?
            a(class="mch-link fc-initMachine_open",href="#") Mostrar maquina
        .mch-container
            .mch-box_play
                //-.mch-box_btn
                .mch-btn_up.fc-linkMachine.fc-up
                    .mch-btn_item: a(class="mch-btn_link fc-slot1",href="#slot1-up", title="", role="")
                        img(src=globals.imgPath+"/modules/icons/icon-arrow-blue-up.png", alt="Desplazamiento superior del slot 1")
                    .mch-btn_item: a(class="mch-btn_link fc-slot2",href="#slot2-up", title="", role="") 
                        img(src=globals.imgPath+"/modules/icons/icon-arrow-blue-up.png", alt="Desplazamiento superior del slot 2")
                    .mch-btn_item: a(class="mch-btn_link fc-slot3",href="#slot3-up", title="", role="") 
                        img(src=globals.imgPath+"/modules/icons/icon-arrow-blue-up.png", alt="Desplazamiento superior del slot 3")
                .mch-btn_down.fc-linkMachine.fc-down
                    .mch-btn_item: a(class="mch-btn_link fc-slot1",href="#slot1-down", title="", role="") 
                        img(src=globals.imgPath+"/modules/icons/icon-arrow-blue-down.png", alt="Desplazamiento inferior del slot 1")
                    .mch-btn_item: a(class="mch-btn_link fc-slot2",href="#slot2-down", title="", role="") 
                        img(src=globals.imgPath+"/modules/icons/icon-arrow-blue-down.png", alt="Desplazamiento inferior del slot 2")
                    .mch-btn_item: a(class="mch-btn_link fc-slot3",href="#slot3-down", title="", role="") 
                        img(src=globals.imgPath+"/modules/icons/icon-arrow-blue-down.png", alt="Desplazamiento inferior del slot 3")
                .fc-machine_play.slotMachine.fancy
                    ul.slot.slot0
                        li 
                            .li-conten.ico_dep.stateInit 
                                span Deportes
                        li 
                            .li-conten.ico_cin
                                span Cine
                        li 
                            .li-conten.ico_lit
                                span Literatura
                        li 
                            .li-conten.ico_gas
                                span Gastronomía
                        li 
                            .li-conten.ico_mus
                                span Música
                    ul.slot.slot1
                        li 
                            .li-conten.ico_coc.stateInit 
                                span Coche
                        li 
                            .li-conten.ico_mot
                                span Moto y ciclomotor
                        li 
                            .li-conten.ico_hog
                                span Hogar
                        li 
                            .li-conten.ico_sal
                                span Salud y seguro dental
                        li 
                            .li-conten.ico_vid
                                span Vida e inversión
                    ul.slot.slot2
                        li 
                            .li-conten.ico_luV.stateInit 
                                span Lunes a viernes
                        li 
                            .li-conten.ico_fin
                                span Fines de semana
                        li 
                            .li-conten.ico_man
                                span Mañanas
                        li 
                            .li-conten.ico_tar
                                span Tardes
                        li 
                            .li-conten.ico_noc
                                span Noches
            h4.mch-tit Encuentra tu agente ideal en 3 pasos:
            input(class="mch-input", type="button", id="playFancy", value="Comenzar")
