//- @jadedoc
//- @description Genera la estructura para menús genéricos con n submenus
//- @param {json}       params                      Parámetros para el componente. Acepta:
//- @param {json[]}     params.items                Grupo de enlaces. Se genera una columna para cada grupo. Acepta:
//- @param {String}     params.items.content        Contenido para el item
//- @param {Boolean}     [params.items.active]     Indica si el item está activo
//-                                                 default false
//- @param {String}     [params.items.type]         Tipo del enlace. Acepta: {p | link}
//-                                                 default link
//- @param {String}     [params.items.href]         Valor para el atributo href del enlace
//- @param {String}     [params.items.title]        Valor para el atributo title del enlace
//- @param {json[]}     [params.items.items]        Lista con sublistado. Este parámetro es recursivo, cualquier item en cualquier nivel acepta una lista.
//- @endjadedoc
mixin mod_navMenu(params)
    -var level = params.level || 1;
    // Nav menu
    nav(class="mod_navMenu")
        h2.hideAccessible Men&uacute; de navegaci&oacute;n
        a(class="nvm-mobileButton fc-menuMobile_init",href="#",title="Desplegar menu mobile") Desplegar menu Mobile
        ul(class="nvm-list nvm-level-"+level)
            each item in params.items
                li(class="nvm-listItem")
                    a(href=(item.href!=undefined?item.href:"#"),class="nvm-listItemLink"+(item.active===true?" nvm-active":""),title=(item.title!=undefined?item.title:"Ir a "+item.content))!=item.content

            li(class="nvm-listItem hdr-language")
                form(class="mod_formField", method="post" action="#")
                    label(class="hideAccessible", for="id-language") Selecciona lenguaje
                    select(class="fmf-combobox fc-combobox_init", id="id-language")
                        option.fmf-option ES
                        option.fmf-option EN
                        option.fmf-option CAT
            li(class="nvm-listItem hdr-search")
                form(class="mod_formField", method="post" action="#")
                    div.hdr-searchField.mod_formField
                        label(for="search-menu", class="hideAccessible") Buscar
                        input(type="text", id="search-menu", class="fmf-field fmf-text", placeholder="Buscar...")
                    a(href="#", class="hdr-searchLink fc-searchButton_init",title="Pulsa para mostrar buscador") Pulsa para mostrar buscador
            li(class="nvm-listItem hdr-zone")
                a(href="#",class="hdr-zoneLink",title="Zona privada") Zona privada
            
    