

mixin mod_banner(params)
    div(class="mod_banner"+(params.bannerClass!=undefined?" "+params.bannerClass:""))
        p.bnr-tit ¿Quieres organizar un evento en nuestra Zona Allianz? 
        .mod_botonera
            a.btn-orange(href="#ni", title="") Contacta con nosotros


mixin mod_banner_img(params)
    div(class="mod_banner_img"+(params.cssClass!=undefined?" "+params.cssClass:"")+(params.brgLeftColumn!=undefined?" brg-leftColumn":""))
        ul.brg-list
            each item in params.items
                li(class="brg-listItem"+(item.recommend===true?" brg-recommend":""))
                    .brg-left
                        a(href="#linkEvento", title="Enlace al evento")
                            figure.brg-img
                                img(src="images/modules/mod_banner/"+item.img+(item.type!=undefined?"."+item.type:".png"),alt=(item.alt!=undefined?item.alt:item.img))
                                if (params.brgLeftColumn!==true)
                                    figcaption.brg-description
                                        p.brg-day!=item.day
                                        p.brg-month!=item.month
                                        p.brg-hour!=item.hour
                                        p.brg-bottomTitles
                                            if (item.organizerTitle)
                                                span.brg-organizerTitle!=item.organizerTitle
                                            if (item.organizerSubtitle)
                                                span.brg-organizerSubtitle!=item.organizerSubtitle
                                            if (item.organizerSubtitleLink)
                                                a(href="#",title="Ir a "+item.organizerSubtitleLink, class="brg-organizerSubtitle")!=item.organizerSubtitleLink

                    .brg-right
                        a(href="#title", title=item.title).brg-title!=item.title
                        if (params.brgLeftColumn===true)
                            if (item.recommend)
                                .brg-userRecommend
                                    figure.brg-imgUser
                                        img(src="images/content/thumbnail1.png",alt="ana")
                                        figcaption.brg-userDescription
                                            .brg-name!=item.name
                                            .brg-agent Tu agente digital te recomienda:
                                    p.brg-descriptionText "Un evento imprescindible para los amantes de la m&uacute;sica pop"
                            div.brg-description
                                p.brg-day!=item.day
                                p.brg-hour!=item.hour
                                p.brg-bottomTitles
                                    if (item.organizerTitle)
                                        span.brg-organizerTitle!=item.organizerTitle
                                    if (item.organizerSubtitle)
                                        span.brg-organizerSubtitle!=item.organizerSubtitle
                                    if (item.organizerSubtitleLink)
                                        a(href="#",title="Ir a "+item.organizerSubtitleLink, class="brg-organizerSubtitle ico-mapPoint")!=item.organizerSubtitleLink
                            .mod_botonera
                                if (item.btnModal===true)
                                    button.btn-orange(type=(item.btnType!=undefined?item.btnType:"button"), data-toggle=(item.dataToggle!=undefined?item.dataToggle:"modal"), data-target=(item.dataTarget!=undefined?item.dataTarget:"#myModal"))!=(item.btnContent!=undefined?item.btnContent:"Inscribirse al evento")
                                else
                                    a(href="#", class="btn-orange"+(item.btnClass!=undefined?" "+item.btnClass:""), title="Inscribirse al evento")!=(item.btnContent!=undefined?item.btnContent:"Inscribirse al evento")
                        else
                            if (item.recommend)
                                .brg-userRecommend
                                    figure.brg-imgUser
                                        img(src="images/content/thumbnail1.png",alt="Anna")
                                        figcaption.brg-userDescription
                                            .brg-name!=item.name
                                            .brg-agent Tu agente digital te recomienda:
                                    .brg-descriptionText "Un evento imprescindible para los amantes de la m&uacute;sica pop"
                            else
                                p.brg-subtitle!=item.subtitle
                                .mod_botonera
                                    if (item.btnModal===true)
                                        button.btn-orange(type=(item.btnType!=undefined?item.btnType:"button"), data-toggle=(item.dataToggle!=undefined?item.dataToggle:"modal"), data-target=(item.dataTarget!=undefined?item.dataTarget:"#myModal"))!=(item.btnContent!=undefined?item.btnContent:"Inscribirse al evento")
                                    else
                                        a(href="#", class="btn-orange"+(item.btnClass!=undefined?" "+item.btnClass:""), title="Inscribirse al evento")!=(item.btnContent!=undefined?item.btnContent:"Inscribirse al evento")
        if (params.brgShowMore)
            .brg-showMore.hidden-lg
                a(href="javascript:void(0)",title="Ver más agentes", class="brg-buttonMore") Ver m&aacute;s
        if (params.paginatorSettings)
            +mod_paginator(params.paginatorSettings)

