//- @jadedoc
//- @description Crea el modulo para redes sociales
//- @param   {json}         params                          Parámetros para el componente. Acepta:
//- @param   {json}         params.item                     Parámetros para el componente. Acepta:
//- @param   {string}       item.content                    Nombre de la red social
//- @param   {string}       item.cssClass                   Nombre de la red social
//- @param   {string}       item.content                    Nombre de la red social
//- @param   {string}       [item.href]                     Atributo href del enlace
//- @param   {string}       [item.title]                    Atributo title del enlace
//- @endjadedoc

mixin mod_social(params)
   div(class="mod_social"+(params.cssClass!=undefined?" "+params.cssClass:""))
      ul.scl-list
         each item in params.items
            li(class="scl-listItem"+(item.liClass!=undefined?" "+item.liClass:""))
               a(class="scl-listItemLink"+(item.icoClass!=undefined?" "+item.icoClass:" scl-"+item.content),href=(item.href!=undefined?item.href:"#"),title=(item.title!=undefined?item.title:"Ir a "+item.content))!="Ir a "+item.content
