//- @jadedoc
//- @description Crea el modulo para el listado de imagenes
//- @param   {json}         params                          Parámetros para el componente. Acepta:
//- @param   {json}         params.item                     Parámetros para el componente. Acepta:
//- @param   {string}       item.name                       Nombre de la persona
//- @param   {string}       item.lastName                   Apellido de la persona
//- @param   {string}       item.profession                 Profesion de la persona
//- @param   {string}       item.src                        Atributo src de la imagen (Ruta de la imagen)
//- @param   {string}       [item.href]                     Atributo href del enlace
//- @param   {string}       [item.title]                    Atributo title del enlace
//- @endjadedoc

mixin mod_imageList(params)
   .mod_imageList
      ul.row.iml-list
         each item in params.items
            li(class="col-xs-12 col-md-6 iml-listItem"+(item.liClass!=undefined?" "+item.liClass:""))
               a(class="iml-listItemLink",href=(item.href!=undefined?item.href:"#"),title=(item.title!=undefined?item.title:"Ver a "+item.name))
                  figure.iml-figure
                     img(src="images/content/"+item.src+".png", alt=(item.alt!=undefined?item.alt:item.name + " " + item.profession))
                     figcaption.iml-description
                        p.iml-profession!=item.profession
                        h2.iml-name!=item.name+" "+item.lastName
                        p.iml-btn!="Conecta con "+item.name 
      div.iml-showMore.hidden-lg
         a(href="javascript:void(0)",title="Ver más agentes", class="iml-buttonMore") Ver m&aacute;s
