//- @jadedoc
//- @description Crea el modulo header para la cabecera.
//- @param   {json}         params                          Pámetros para el componente. Acepta:
//- @require mod_navMenu
//- @see mod_navMenu
//- @endjadedoc

mixin mod_header(params)
    - params = params || {};
    // mod_header
    header(class="mod_header" +(params.isHome==true?" hdr-home":""))
        div.container
            div.row
                div.col-xs-12.col-md-12
                    div.hdr-logo
                        a(href="#",title="Logo Allianz", class="hdr-logoLink")
                            figure.hdr-img
                                img(class="hdr-logoMobile",src=globals.imgPath+"/modules/mod_header/logo-allianz-mobile.png", alt="Logo Allianz Mobile")
                                if (params.isHome==true)
                                    img(class="hdr-logoDesktop",src=globals.imgPath+"/modules/mod_header/logo-allianzHome.png", alt="Logo Allianz")
                                else
                                    img(class="hdr-logoDesktop",src=globals.imgPath+"/modules/mod_header/logo-allianz.png", alt="Logo Allianz")
                            //- picture
                            //-    source(srcset=globals.imgPath+"/modules/mod_header/logo-allianz-mobile.png" media="(max-width: 1280px)")
                            //-    source(srcset=globals.imgPath+"/modules/mod_header/logo-allianz.png")
                            //-    img(src=globals.imgPath+"/modules/mod_header/logo-allianz.png", alt="Logo Allianz")
                    +mod_navMenu(params.menu)

    // End mod_header