//- @jadedoc
//- @description Crea el modulo para el footer
//- @param   {json}         params                          Parámetros para el componente. Acepta:
//- @require mod_navMenu
//- @see mod_navMenu
//- @endjadedoc

mixin mod_footer(params)
    - params = params || {};

    // mod_footer
    footer.mod_footer
        .mod_ftr_slick
            .container
                .row
                    .col-xs-12
                        h2.ftr_slk_tith2 ¿Necesitas m&aacute;s informaci&oacute;n?
                        h3.ftr_slk_tith3 Descubre nuestros seguros
                        //- button(type="button", class="activar") Activar
                        //- button(type="button", class="quitar") quitar
                    .col-xs-12
            .slk_productos.fc_slkProduts
                div
                    .slk_prod_item

                        a(class="slk_prod_link slk-car", href="#car", title="Productos de coches")
                            img(class="slk_prod_img",alt="Coche",src="images/modules/mod_footer/coche-pie.png")
                            img(class="slk_prod_img_hover",alt="Coche",src="images/modules/mod_footer/coche-pie-activo.png")
                            span.slk_prod_text Coche
                div
                    .slk_prod_item

                        a(class="slk_prod_link slk-moto", href="#moto", title="Productos de Moto y ciclomotor")
                            img(class="slk_prod_img",alt="Moto",src="images/modules/mod_footer/moto-pie.png")
                            img(class="slk_prod_img_hover",alt="Moto",src="images/modules/mod_footer/moto-pie-activo.png")
                            span.slk_prod_text Moto y ciclomotor
                div
                    .slk_prod_item

                        a(class="slk_prod_link slk-home", href="#home", title="Ptoductos de Hogar")
                            img(class="slk_prod_img",alt="Hogar",src="images/modules/mod_footer/hogar-pie.png")
                            img(class="slk_prod_img_hover",alt="Hogar",src="images/modules/mod_footer/hogar-pie-activo.png")
                            span.slk_prod_text Hogar
                div
                    .slk_prod_item

                        a(class="slk_prod_link slk-salud", href="#salud", title="Productos de Salud")
                            img(class="slk_prod_img",alt="Salud",src="images/modules/mod_footer/salud-pie.png")
                            img(class="slk_prod_img_hover",alt="Salud",src="images/modules/mod_footer/salud-pie-activo.png")
                            span.slk_prod_text Salud
                div
                    .slk_prod_item

                        a(class="slk_prod_link slk-worker", href="#worker", title="Productos para Aut&oacute;nomos")
                            img(class="slk_prod_img",alt="Autónomos",src="images/modules/mod_footer/autonomo-pie.png")
                            img(class="slk_prod_img_hover",alt="Autónomos",src="images/modules/mod_footer/autonomo-pie-activo.png")
                            span.slk_prod_text Aut&oacute;nomos
                div
                    .slk_prod_item

                        a(class="slk_prod_link slk-travel", href="#travel", title="Productos de viajes")
                            img(class="slk_prod_img",alt="Viajes",src="images/modules/mod_footer/viajes-pie.png")
                            img(class="slk_prod_img_hover",alt="Viajes",src="images/modules/mod_footer/viajes-pie-activo.png")
                            span.slk_prod_text Viajes
                div
                    .slk_prod_item

                        a(class="slk_prod_link slk-boat", href="#boat", title="Productos para Embarcaciones")
                            img(class="slk_prod_img",alt="Embarcaciones",src="images/modules/mod_footer/embarcaciones-pie.png")
                            img(class="slk_prod_img_hover",alt="Embarcaciones",src="images/modules/mod_footer/embarcaciones-pie-activo.png")
                            span.slk_prod_text Embarcaciones
                div
                    .slk_prod_item

                        a(class="slk_prod_link slk-life", href="#life", title="Productos de Vida")
                            img(class="slk_prod_img",alt="Vida",src="images/modules/mod_footer/vida-inversion-pie.png")
                            img(class="slk_prod_img_hover",alt="Vida",src="images/modules/mod_footer/vida-inversion-pie-activo.png")
                            span.slk_prod_text Vida
        .mod_ftr_content
            .container
                .row
                    .col-xs-12.col-lg-4.ftr-boxName
                        p.ftr-name &copy; Allianz compa&ntilde;ia de seguros

                    ul.col-xs-12.col-lg-8.ftr-legal
                        li.ftr-item: a(href="#avi", title="", class="ftr-link") Aviso Legal
                        li.ftr-item: a(href="#pro", title="", class="ftr-link") Protecci&oacute;n de datos
                        li.ftr-item: a(href="#acc", title="", class="ftr-link") Accesibilidad
                        li.ftr-item: a(href="#pol", title="", class="ftr-link") Pol&iacute;tica de cookies

    // End mod_header