//- @jadedoc
//- @description Genera la box para el mensaje de cookies
//-
//- @endjadedoc
mixin mod_cookie(params)
   - params = params || {};
   div.mod_cookie
      div.container
         div.row
            div.col-xs-12.col-md-8.col-md-offset-2.col-lg-9.col-lg-offset-0
               p.cok-text Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarte publicidad relacionada con tus preferencias mediante el an&aacute;lisis de tus h&aacute;bitos de navegación. Si continuas navegando, consideramos que aceptas su uso. Puedes cambiar la configuración u &nbsp;
                  a(class="cok-bold",title="", href="#") obtener m&aacute;s información
            div.col-xs-12.col-md-4.col-md-offset-4.col-lg-2.col-lg-offset-1
               div.mod_botonera
                  button(class="cok-btn", type="button") Entendido