//****************************************************************************
//    Proyect: Allianz Zona
//    Title: mod_banner_img
//    Description: Styles for _mod_banner_img
//*****************************************************************************/
//mod_banner_img*/

.mod_banner_img {
    @include clearfix;
    .brg-left {
        float: left;
        width: 52%;
    }
    .brg-right {
        float: left;
        width: 48%;
        padding: em(25) em(18) em(20) em(30);
    }
    .brg-listItem {
        @include clearfix;
        position: relative;
        display: block;
        width: 100%;
        margin-top: em(30);
        border: 1px solid #DDDDDD;
        &:first-child {
            margin-top: 0;
        }
        &.brg-recommend {
            &:before {
                content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_banner/recommend.png");
                position: absolute;
                top: -5px;
                right: -5px;
                z-index: 9;
            }
            .brg-title {
                padding-right: em(20);
            }
        }
    }
    .brg-img {
        min-height: em(200);
        position: relative;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -65px;
            height: 100%;
            width: 52%;
            background-color: #0B265D;
            opacity: 0.8;
            transform: skew(27deg, 0deg);
            -webkit-transition: 0.5s ease all;
            transition: 0.5s ease all;
            z-index: 2;
        }
        img {
            display: block;
            min-width: 100%;
            max-width: 100%;
            height: 100%;
            margin: 0 auto;
        }
    }
    .brg-imgUser {
        position: relative;
        margin-top: em(30);
        img {
            display: inline-block;
            vertical-align: middle;
            border: 3px solid #962476;
            border-radius: 50%;
            width: 65px;
            height: 65px;
        }
        .brg-userDescription {
            display: inline-block;
            vertical-align: middle;
            max-width: 70%;
            padding-left: em(10);
        }
        &:after {
            display: block;
            position: absolute;
            content: "";
            width: 20px;
            height: 15px;
            bottom: -13px;
            left: 23px;
            border-left: 10px solid transparent; /* izquierda flecha */
            border-right: 10px solid transparent; /* derecha flecha */
            border-top: 15px solid #962476; /* base flecha y color*/
        }
    }
    .brg-name {
        font-family: "OpenSans-Semibold";
        font-size: em(16);
        color: #1F3D79;
        line-height: 120%;
    }
    .brg-agent {
        padding-top: em(5, 13);
        font-family: "OpenSans";
        font-size: em(13);
        color: #878787;
        line-height: 120%;
    }
    .brg-descriptionText {
        font-family: "OpenSans-italic";
        margin-top: em(20, 15);
        font-size: em(15);
        line-height: 140%;
        color: #666666;
        max-width: 70%;
    }
    .brg-description {
        position: absolute;
        top: 0;
        left: 0;
        padding: em(10) em(20) em(20);
        width: 50%;
        height: 100%;
        text-align: left;
        color: #FFF;
        z-index: 10;
    }
    .brg-day {
        font-family: "Montserrat-Bold";
        font-size: em(50);
        line-height: 120%;
    }
    .brg-month, .brg-hour {
        font-family: "Montserrat";
        font-size: em(20);
        line-height: 120%;
    }
    .brg-hour {
        margin-top: em(15);
    }
    .brg-bottomTitles {
        position: absolute;
        bottom: em(30);
        left: em(20);
    }
    .brg-organizerTitle {
        display: block;
        font-family: "Montserrat";
        font-size: em(14);
        line-height: 120%;
    }
    .brg-organizerSubtitle {
        display: block;
        font-family: "Montserrat";
        font-size: em(18);
        line-height: 120%;
    }
    .brg-title {
        display: block;
        font-family: "Montserrat-Bold";
        font-size: em(24);
        line-height: 120%;
        color: #132C5D;
    }
    .brg-subtitle {
        display: block;
        margin-top: em(20);
        font-family: "OpenSans";
        font-size: em(15);
        color: #333333;
        line-height: 140%;
    }
    .mod_botonera {
        margin-top: em(30);
    }
    .mod_paginator {
        margin: em(40) 0;
    }
    .brg-showMore {
        display: block;
        margin: 1.25em 0;
        padding: 0.9375em;
        text-align: center;
        border: 1px solid #DDDDDD;
    }
    .brg-buttonMore {
        display: inline-block;
        padding: 0.625em 0.3125em 0.625em 70px;
        font-family: "Montserrat-Bold";
        font-size: 1.25em;
        color: #FF7945;
        background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-plus-blue.png") no-repeat left center transparent;
    }
    &.brg-leftColumn {
        .brg-list {
            float: left;
            width: 100%;
            margin-top: em(110);
        }
        .brg-left, .brg-right {
            width: 100%;
        }
        .brg-right {
            padding: em(15) em(15) em(30);
        }
        .brg-img {
            min-height: inherit;
            &:before {
                display: none;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        .brg-description {
            position: relative;
            width: 100%;
            padding: em(15) 0 0;
            color: #333333;
        }
        .brg-day, .brg-hour, .brg-title {
            font-size: em(16);
        }
        .brg-hour {
            margin-top: em(5);
        }
        .brg-bottomTitles {
            position: relative;
            margin-top: em(15);
            bottom: 0;
            left: 0;
        }
        .brg-organizerTitle {
            font-size: em(12);
        }
        .brg-organizerSubtitle {
            font-size: em(16);
        }
        .mod_botonera {
            display: block;
        }
        .brg-imgUser{
            &:after{
                left: 18px;
            }
            img {
                width: 55px;
                height: 55px;
            }
        }
        .brg-descriptionText{
            max-width: 100%;
        }
        .mod_botonera{
            .btn-orange{
                width: 100%;
            }
        }
        .brg-organizerSubtitle{
            color: #1A3879;
            display: inline-block;
        }
    }
}

.mod_banner_info {
    .bni-content {
        display: block;
        width: 100%;
        border: 1px solid #DDDDDD;     
        min-height: 12em;
        float: left;
        margin-top: 1em;
        padding: 1.875em 1.875em 2.5em;
        &:first-child {
            margin-top: 4em;
        }
    }
    .bni-title {
        display: block;
        font-family: "Montserrat";
        font-size: em(20);
        color: #132C5D;
        margin-bottom: 0.8em;
    }
    .bni-text {
        display: block;
        font-family: OpenSans;
        font-size: em(18);
        color: $TXT_cromatico_7;
        margin-bottom: 2em;
    }
}

//End mod_banner_img*/

//VIEW LARGE
@mixin l-mod_banner_img {

}

//VIEW TABLET
@mixin m-mod_banner_img {
    .mod_banner_img {
        .brg-list {
            @include clearfix;
        }
        .brg-listItem {
            display: inline-block;
            vertical-align: top;
            float: none;
            width: 48%;
            margin-top: 0;
            margin-bottom: em(20);
            border: 0;
            &:nth-child(2n) {
                margin-left: 2%;
            }
            &.brg-recommend {
                &:before {
                    top: 0;
                    right: 0;
                }
            }
        }
        .brg-left, .brg-right {
            width: 100%;
        }
        .brg-userRecommend, .brg-subtitle, .mod_botonera {
            display: none;
        }
        .mod_paginator {
            display: none;
        }
        .brg-showMore {
            margin: 0 em(-15);
            border-left: 0;
            border-right: 0;
        }
        .brg-right {
            padding: em(10) em(15);
        }
        .brg-title {
            font-size: em(18);
        }
        .brg-day {
            font-size: em(40);
        }
        .brg-month, .brg-hour, .brg-organizerSubtitle {
            font-size: em(14);
        }
        .brg-img {
            min-height: inherit;
            img {
                width: auto;
                min-width: 100%;
                height: auto;
            }
        }
        &.brg-leftColumn {
            .brg-list{
                margin-top: em(40);
            }
            .brg-listItem {
                width: 100%;
                border: 1px solid #DDDDDD;
                &.brg-recommend{
                    margin-bottom: em(130);
                }
                .brg-img {

                }
            }
            .brg-left {
                width: 60%;
                overflow: hidden;
                min-height: em(272);
                .brg-img {
                    min-height: inherit;
                    img {
                        min-width: em(564);
                        min-height: inherit;
                    }
                }
            }
            .brg-right {
                width: 40%;
            }
            .brg-userRecommend{
                display: block;
                position: absolute;
                top: 100%;
                left: 0;
            }
        }
    }
    .mod_banner_info {
        position: inherit;
        .bni-content {
            border: 0;
            padding: 0 1.875em;
            min-height: auto;
            &:first-child {
                margin-top: 0;
            }
        }
        .bni-title {
            text-align: center;
            font-size: em(18);
        }
        .bni-text {
            display: none;
        }
    }
}

//VIEW MOBILE
@mixin s-mod_banner_img {
    .mod_banner_img {
        .brg-listItem {
            width: 100%;
            &:nth-child(2n) {
                margin-left: 0;
            }
        }
        .brg-list {
            margin: 0 em(-15);
        }
        .brg-img {
            min-height: em(170);
            &:before {
                left: -92px;
            }
            img {
                height: auto;
            }
        }
        &.brg-leftColumn {
            .brg-list{
                width: auto;
            }
            .brg-listItem{
                &.brg-recommend{
                    margin-bottom: em(150);
                }
            }
            .brg-left,.brg-right{
                width: 100%;
            }
            .brg-userRecommend{
                padding: 0 em(15);
            }
            .brg-left {
                width: 100%;
                min-height: auto;
                .brg-img {
                    min-height: auto;
                    img {
                        min-width: 100%;
                        min-height: auto;
                    }
                }
            }
        }
    }
}

//VIEW MOBILE
@mixin xs-mod_banner_img {
    .mod_banner_img {
        .brg-img {
            min-height: inherit;
            &:before {
                left: -48px;
            }
            img {
                height: auto;
            }
        }
        .brg-bottomTitles {
            bottom: em(5);
        }
    }
}