.mod_ejemplo{
 background-color: white;
 font-size: em(20);
 	.me-col{
 		border: 1px solid black;
 		background-color: red;
 	}
 	.me-box{
 		background-color: grey;
 		color: white;
 	}
}
h1{
	font-size: em(36);
	margin-top: 10px;
	margin-bottom: 10px;
}

@mixin m-mod_ejemplo{
	.mod_ejemplo{

	}
}

@mixin s-mod_ejemplo{
	.mod_ejemplo{

	}
}