//****************************************************************************
//    Proyect: desarrollo
//    Title: _mod_paginator
//    Description: Styles for _mod_paginator
//*****************************************************************************/
//mod_paginator*/
.mod_paginator {
    .pgr-list{
        display: block;
        text-align: center;
    }
    .pgr-listItem{
        display: inline-block;
        vertical-align: middle;

    }
    .pgr-listItemLink{
        position: relative;
        display: block;
        text-indent: -999em;
        width: 52px;
        height: 52px;
        margin-right: em(10);
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            text-indent: 0;
            width: 100%;
            height: 100%;
        }
        &.pgr-page{
            &:after{
                content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_paginator/ico-page.png");
                top: 50%;
                left: 50%;
                margin-top: -14px;
                margin-left: -14px;
                width: 29px;
                height: 29px;
            }
            &.pgr-active{
                &:after{
                    content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_paginator/ico-page-active.png");
                }
            }
        }
        &.pgr-next{
            margin: 0 0 0 em(30);
            &:after{
                content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_paginator/ico-next.png");
            }
            &.pgr-disabled{
                &:after{
                    content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_paginator/ico-next-disabled.png");
                }
            }
        }
        &.pgr-prev{
            margin: 0 em(30) 0 0;
            &:after{
                content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_paginator/ico-prev.png");
            }
            &.pgr-disabled{
                &:after{
                    content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_paginator/ico-prev-disabled.png");
                }
            }
        }
    }
    &.pgr-spacing{
        margin: em(40) 0;
    }
    &.pgr-border{
        padding: em(40) 0;
        border-top: 1px solid #DDD;
    }
    &.pgr-search{
        .pgr-listItemLink {
            &.pgr-page {
                font-size: em(30);
                text-indent: 0;
                padding: em(10, 30) em(2, 30);
                color: #BABABA;
                &:after{
                    display: none;
                }
                &.pgr-active, &:hover {
                    color: #1F3D79;
                }
            }
            &.pgr-next {
                &:after {
                    content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_paginator/ico-next-search.png");
                }
                &.pgr-disabled{
                    &:after{
                        content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_paginator/ico-next-disabled.png");
                    }
                }
            }
            &.pgr-prev {
                &:after {
                    content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_paginator/ico-prevsearch.png");
                }
                &.pgr-disabled{
                    &:after{
                        content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_paginator/ico-prev-disabled.png");
                    }
                }
            }
        }
    }
}

//End _mod_paginator*/

//VIEW LARGE
@mixin l-mod_paginator {

}

//VIEW TABLET
@mixin m-mod_paginator {

}

//VIEW MOBILE
@mixin s-mod_paginator {

}