//****************************************************************************
//    Proyect: Allianz Zona
//    Title: _mod_fichaDatos
//    Description: Styles for _mod_fichaDatos
//*****************************************************************************/
//mod_fichaDatos*/
.mod_fichaDatos {
    background-color: #EEEEEE;
    &.fcd-spacing {
        padding-top: em(10);
        padding-bottom: em(100);
    }
    .fcd-head {
        position: relative;
        background-color: #142C5D;
        .fcd-headTitle {
            padding: em(25, 25) em(30, 25);
            font-family: "Montserrat-Bold";
            font-size: em(25);
            color: #FFF;
            line-height: 120%;
        }
        &.fcd-arrow {
            &:after {
                content: "";
                position: absolute;
                bottom: -1px;
                left: 50%;
                width: 0;
                height: 0;
                margin-left: -15px;
                font-size: 0;
                line-height: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid #FFF;
            }
            + .fcd-body {
                padding: em(20) em(20);
            }
        }
    }
    .fcd-body {
        @include clearfix;
        padding: em(35) em(30) em(30);
        background-color: #FFF;
        border: 1px solid #DDDDDD;
        -webkit-box-shadow: 3px 3px 6px 0 rgba(221, 221, 221, 0.65);
        -moz-box-shadow: 3px 3px 6px 0 rgba(221, 221, 221, 0.65);
        box-shadow: 3px 3px 6px 0 rgba(221, 221, 221, 0.65);
        .mod_botonera {
            padding: em(15) 0 0;
            display: block;
            float: none;
            text-align: right;
            .btn-orange {
                display: inline-block;
                float: none;
            }
        }
    }
    .fcd-box {
        padding-top: em(50);
        &.fcd-interes {
            .fcd-head {
                background-color: #962476;
            }
            .fcd-content {
                font-family: "OpenSans-Semibold";
                width: 50%;
                padding-top: em(10);
                padding-bottom: em(10);
                .fcd-ico-contact{
                    .fcd-ico-whatsapp{
                        float: right;
                        margin-top: -3px;
                    }
                    .fcd-ico-video{
                        float: right;
                        margin-left: 25px;
                    }
                }
            }
        }
        &.fcd-video {
            .fcd-body {
                position: relative;
                //padding: em(35) em(30) em(30);
                padding: em(52.5) em(30);
            }
            .fcd-link{
                position: relative;
                display: block;
                width: 100%;
                .ico-playB{
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        img {
            display: block;
            width: 100%;
        }
    }
    .fcd-content {
        font-family: "OpenSans";
        color: #545454;
        font-size: em(17);
        line-height: 166%;
        &.ico-mail {
            a {
                color: #132C5D;
            }
        }
        &.ico-telephone {
            position: relative;
           /*  &:before {
                content: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-video-orange.png");
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -10px;
            }
            &:after {
                content: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-whatsapp-orange.png");
                position: absolute;
                top: 50%;
                right: 55px;
                margin-top: -14px;
            } */
        }
    }
    .fcd-separator {
        color: #132C5D;
    }
    .fcd-language {
        padding-top: em(15, 20);
        font-family: "Montserrat";
        font-size: em(20);
        color: #666;
        line-height: 166%;
        span {
            display: block;
        }
    }
    .fcd-horary {
        margin-top: em(15, 20);
        padding: 0 0 0 40px;
        font-family: "OpenSans";
        font-size: em(20);
        color: #525252;
        line-height: 166%;
        background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-clock.png") no-repeat 0 0 transparent;
        span {
            display: block;
        }
    }
    .fcd-strong {
        font-family: "OpenSans-Bold";
    }

}

//End mod_fichaDatos*/

//VIEW LARGE
@mixin l-mod_fichaDatos {

}

//VIEW TABLET
@mixin m-mod_fichaDatos {
    .mod_fichaDatos {
        .fcd-separator {
            display: none;
        }

        .fcd-box {
            padding-top: em(20);
        }
        .fcd-head {
            .fcd-headTitle {
                padding: em(18, 20) em(30, 20);
                font-size: em(20);
            }
        }
        .fcd-body {
            .mod_botonera {
                text-align: left;
            }
        }
        .fcd-content {
            font-size: em(14);
            &.ico-mail {
                a {
                    display: block;
                }
            }
        }
        .fcd-language {
            padding-top: em(15, 14);
            font-size: em(14);
        }
        .fcd-horary {
            margin-top: em(15, 14);
            font-size: em(14);
        }
    }
}

//VIEW MOBILE
@mixin s-mod_fichaDatos {
    .mod_fichaDatos {
        .fcd-head {
            &.fcd-arrow {
                &:after {
                    margin-left: -10px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid #FFF;
                }
            }
        }
        .fcd-body {
            padding: em(15);
        }
        .mod_botonera {
            .btn-orange {
                display: block;
                width: 100%;
            }
        }
        .fcd-box{
            &.fcd-interes{
                .fcd-content {
                    &.ico-telephone {
                        width: 100%;
                        margin-bottom: em(40, 14);
                        &:after, &:before {
                            top: 100%;
                            margin-top: em(15);
                            left: 0;
                        }
                        &:before {
                            left: 55px;
                        }
                    }
                    &.ico-mail {
                        width: 100%;
                       /*  padding-top: em(45);
                        padding-left: 0; */
                        background-position: left top 15px;
                    }
                    .fcd-ico-contact{
                        position:absolute;
                        left: 0;
                        .fcd-ico-whatsapp{
                            margin-top: 40px;
                            margin-right: 25px;
                        }
                        .fcd-ico-video{
                            margin-top: 43px;
                            margin-left: 0px;
                        }
                    }

                }
            }
            &.fcd-video {
                .fcd-body {
                    padding: em(15);
                }
                .fcd-link{

                    .ico-playB{
                        background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-playVideoB-mini.png") no-repeat center center transparent;
                    }
                }
            }
        }
    }
}