//****************************************************************************
//    Proyect: Allianz Zona
//    Title: _mod_error
//    Description: Styles for _mod_error
//*****************************************************************************/
//mod_error*/
.mod_error {
    width: 100%;
    max-width: em(1600);
    margin: 0 auto;
    overflow: hidden;
    &:before,&:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: #1D3B7B;
    }
    &:after{
        left: auto;
        right: 0;
        background-color: #962476;
    }
    .err-box{
        position: relative;
        padding-bottom: 48.689%;
    }
    .err-left{
        position: absolute;
        top: 0;
        left: 0;
        float: left;
        width: 19.5%;
        padding: 24.345% 0;
        background-color: #1D3B7B;
        z-index: 3;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            right: -481px;
            width: 481px;
            height: 100%;
            background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_error/bg-error-blue.png") no-repeat top right transparent;
        }
        &:before{
            content: "";
            position: absolute;
            top: 0;
            right: -447px;
            width: 336px;
            height: 100%;
            background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_error/404.png") no-repeat top right transparent;
            z-index: 1
        }
    }
    .err-right{
        position: absolute;
        top: 0;
        right: 0;
        float: left;
        width: 80.5%;
        padding: 24.345% 0 24.345% 481px;
        background-color: #962476;
        z-index: 2;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            right: -190px;
            width: 858px;
            height: 100%;
            background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_error/nubes.png") no-repeat center right transparent;
        }
    }

    .err-message{
        position: absolute;
        top: em(200);
        right: 0;
        width: 80.5%;
        padding-left: 481px;
        z-index: 4;
    }
    .err-title{
        display: block;
        font-family: "Montserrat-Bold";
        font-size: em(40);
        line-height: 141%;
        color: #FFF;
    }
    .err-description{
        display: block;
        margin-top: em(10,28);
        font-size: em(28);
        font-family: "Montserrat";
        line-height: 141%;
        color: #FFF;
    }
    .mod_botonera{
        margin-top: em(20);
        .btn-orange{
            padding-left: em(30);
            padding-right: em(30);
        }
    }
}

//End _mod_error*/

//VIEW LARGE
@mixin l-mod_error {

}

//VIEW TABLET
@mixin m-mod_error {
    .mod_error{
        .err-box{
            padding-bottom: 37.798%;
        }
        .err-left{
            //padding: 18.362% 0;
            padding: 18.9% 0;
            &:after{
                right: -407px;
                width: 407px;
                height: 100%;
                background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_error/bg-error-blue-tablet.png") no-repeat top right transparent;
            }
            &:before{
                right: -244px;
                width: 137px;
                height: 161px;
                margin-top: 56px;
                background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_error/404-tablet.png") no-repeat top right transparent;
            }
        }
        .err-right{
            padding: 18.9% 0;
            //padding: 18.362% 0;
            &:after{
                right: 0;
                width: 392px;
                background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_error/nubes-tablet.png") no-repeat center right transparent;
            }
        }
        .err-title{
            font-size: em(20);
        }
        .err-description{
            margin-top: em(10,14);
            font-size: em(14);
        }
        .err-message{
            top: 50%;
            left: 0;
            max-width: 69%;
            margin-top: -80px;
            margin-left: 19.5%;
            padding-left: 37%;
        }
        .mod_botonera{
            margin-top: em(30);
            .btn-orange{
                padding-left: em(16);
                padding-right: em(16);
            }
        }
    }
}

//VIEW MOBILE
@mixin s-mod_error {
    .mod_error{
        .err-box {
            padding-bottom: 72%;
        }
        .err-left{
            width: 25%;
            padding: 36% 0;
            &:before{
                right: -213px;
                margin-top: 10px;
            }
        }
        .err-right{
            width: 85%;
            padding: 36% 0;
        }
        .err-message{
            top: 50%;
            left: 0;
            width: 70%;
            max-width: inherit;
            margin-top: -87px;
            margin-left: 0;
            padding-left: 0;
        }
        .err-title{
            max-width: 75%;
        }
        .err-description{
            max-width: 80%;
        }
    }
}