//****************************************************************************
//    Proyect: desarrollo
//    Title: _mod_rangeSlider
//    Description: Styles for _mod_rangeSlider
//*****************************************************************************/
//mod_rangeSlider*/
.mod_rangeSlider {
    &.ui-rangeSlider {
        height: 30px;
        margin: em(10) 0 em(20);
        .ui-rangeSlider-container{
            width: 100%!important;
        }
        .ui-rangeSlider {
            height: 30px;
        }
        .ui-rangeSlider-innerBar {
            height: 8px;
            margin: 7px 10px;
            background-color: #D8E7EC;
        }
        .ui-rangeSlider-bar {
            margin: 7px 0;
            background-color: #203D7A;
            height: 8px;
        }
        .ui-rangeSlider-handle{
            width: 22px;
            height: 22px;
            padding: 0 em(10);
            text-indent: -999em;
            cursor: pointer;
            background: transparent;
            &:after{
                content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_rangeSlider/ico-rangeSlider.png");
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-indent: 0;
            }
        }
        .ui-rangeSlider-label{
            top: 100%;
            bottom: auto;
            margin: 0;
            padding: 0;
            font-family: "OpenSans";
            font-size: em(14);
            color: #333333;
            background: transparent;
            cursor: pointer;
        }
    }
}

//End _mod_rangeSlider*/

//VIEW LARGE
@mixin l-mod_rangeSlider {

}

//VIEW TABLET
@mixin m-mod_rangeSlider {

}

//VIEW MOBILE
@mixin s-mod_rangeSlider {

}