//*****************************************************************************
//    Proyecto: Allianz
//    Titulo: icons
//    Desripcion: Iconos genéricos
//******************************************************************************/

.icoBtnGlobo {
	padding: 0.5em 0.8em 0.5em 2.4em !important;
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/sprite-btn.png") no-repeat scroll 12px 9px transparent;
}

.ico-back{
	padding: em(10) em(10) em(10) 55px;
	font-family: "Montserrat";
	font-size: em(20);
	color: #1F3D79;
	line-height: 120%;
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-back-blue.png") no-repeat left center transparent;
	&.ico-white{
		background-image: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-back-white.png");
	}
}

//icon for button
.ico-conecta{
	padding-left: 65px;
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-conecta.png") no-repeat left 30px center transparent;
}

.ico-white{
	color: #FFF;
}

.ico-ok{
	min-width: 30px;
	min-height: 30px;
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-ok-white.png") no-repeat center center transparent;
}

.ico-dog{
	min-width: 42px;
	min-height: 32px;
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-dog-white.png") no-repeat center center transparent;
}

.ico-telephone{
	min-height: 32px;
	padding-left: 50px;
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-telephone-orange.png") no-repeat left center transparent;
}
.ico-skype{
	min-height: 27px;
	padding-left: 50px;
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-skype-orange.png") no-repeat left center transparent;
}
.ico-mail{
	min-height: 20px;
	padding-left: 50px;
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-mail-orange.png") no-repeat left center transparent;
}

.ico-event{
	padding-left: 50px;
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-event.png") no-repeat left 20px center transparent;
}

.ico-mapPoint{
	padding-right: 30px;
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-mapPoint.png") no-repeat right 10px center transparent;
}

.ico-twitter{
	padding-right: 60px;
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-twitter.png") no-repeat right center transparent;
}
.ico-plus-blue{
	padding-left: 60px;
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-plus-blue.png") no-repeat left center transparent;
}
.ico-house{
	padding-left: 55px;
	padding-top: 55px;
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-home-orange.png") no-repeat left center transparent;
}

.mvs-boxImg{
	position:absolute;
	width:100%;
	text-align:center;
	bottom:1em;
	z-index:2;
}
.ico-smile{
	padding-bottom:55px;
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-smile.png") no-repeat center bottom transparent;
}
.ico-house-white{
	padding-bottom: 55px;
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-white-house.png") no-repeat center bottom transparent;
}
.ico-threeHouse{
	padding-bottom: 55px;
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-threeHouse.png") no-repeat center bottom transparent;
}
.ico-link{
	padding-bottom: 55px;
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-linkExternal.png") no-repeat center bottom transparent;
}


@mixin m-mod_icons{
	.ico-back{
		margin-left: em(40);
	}
}



/* Iconos maquina */
@mixin ico-machine($class, $pos){
	#{$class} {
		background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/sprite-ico-machine.png") no-repeat center ($pos - 1857)+px transparent;
		&.ico_winner {
			background-position: center $pos+px;
		}
	}
}


@include ico-machine(".ico_dep", -962);
@include ico-machine(".ico_cin", -467);
@include ico-machine(".ico_lit", -583);
@include ico-machine(".ico_gas", -703);
@include ico-machine(".ico_mus", -832);
@include ico-machine(".ico_coc", -1068);
@include ico-machine(".ico_mot", -1186);
@include ico-machine(".ico_hog", -1328);
@include ico-machine(".ico_sal", -1449);
@include ico-machine(".ico_vid", -1577);
@include ico-machine(".ico_luV", -221);
@include ico-machine(".ico_fin", -107);
@include ico-machine(".ico_man", -1706);
@include ico-machine(".ico_tar", 10);
@include ico-machine(".ico_noc", -341);
.ico_play {
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-play.png") no-repeat center center transparent;
	width: 61px;
	height: 61px;
	display: block;
    margin: 7em auto 0;
    text-indent: -99999999px;
    border: 0;
}
.ico-playB{
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-playVideo-Bold.png") no-repeat center center transparent;
	width: 106px;
	height: 106px;
	display: block;
    text-indent: -99999999px;
    border: 0;
}
@mixin m-mod_icons{
	.ico_play{
		margin-top: em(48);
	}
}
.ico_downPage {
	background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-downPage.png") no-repeat center center transparent;
	position: relative;
	animation: botar 3s 250ms normal;
	-webkit-animation:botar 3s 250ms normal;
	-moz-animation:botar 3s 250ms normal;
	-ms-animation:botar 3s 250ms normal;
	-o-animation:botar 3s 250ms normal;
	display: block;
    margin: 0 auto;
    text-indent: -99999999px;
	width: 34px;
	height: 40px;
	top: 200px;
}

@keyframes botar{
 0% {top:200px; animation-timing-function:ease-in;}
 30% {top:200px; animation-timing-function:ease-out;}
 45% {top:150px; animation-timing-function:ease-in;}
 60% {top:200px; animation-timing-function:ease-out;}
 68% {top:175px; animation-timing-function:ease-in;}
 76% {top:200px; animation-timing-function:ease-out;}
 80% {top:188px; animation-timing-function:ease-in;}
 84% {top:200px; animation-timing-function:ease-out;}
 86% {top:194px; animation-timing-function:ease-in;}
 88% {top:200px; animation-timing-function:ease-out;}
 87% {top:192px; animation-timing-function:ease-in;}
 88% {top:200px; animation-timing-function:ease-out;}
 100% {top:200px;}
}
@-webkit-keyframes botar{
 0% {top:200px; -webkit-animation-timing-function:ease-in;}
 30% {top:200px; -webkit-animation-timing-function:ease-out;}
 45% {top:150px; -webkit-animation-timing-function:ease-in;}
 60% {top:200px; -webkit-animation-timing-function:ease-out;}
 68% {top:175px; -webkit-animation-timing-function:ease-in;}
 76% {top:200px; -webkit-animation-timing-function:ease-out;}
 80% {top:188px; -webkit-animation-timing-function:ease-in;}
 84% {top:200px; -webkit-animation-timing-function:ease-out;}
 86% {top:194px; -webkit-animation-timing-function:ease-in;}
 88% {top:200px; -webkit-animation-timing-function:ease-out;}
 87% {top:192px; -webkit-animation-timing-function:ease-in;}
 88% {top:200px; -webkit-animation-timing-function:ease-out;}
 100% {top:200px;}
}
@-moz-keyframes botar{
 0% {top:200px; -moz-animation-timing-function:ease-in;}
 30% {top:200px; -moz-animation-timing-function:ease-out;}
 45% {top:150px; -moz-animation-timing-function:ease-in;}
 60% {top:200px; -moz-animation-timing-function:ease-out;}
 68% {top:175px; -moz-animation-timing-function:ease-in;}
 76% {top:200px; -moz-animation-timing-function:ease-out;}
 80% {top:188px; -moz-animation-timing-function:ease-in;}
 84% {top:200px; -moz-animation-timing-function:ease-out;}
 86% {top:194px; -moz-animation-timing-function:ease-in;}
 88% {top:200px; -moz-animation-timing-function:ease-out;}
 87% {top:192px; -moz-animation-timing-function:ease-in;}
 88% {top:200px; -moz-animation-timing-function:ease-out;}
 100% {top:200px;}
}
@-o-keyframes botar{
 0% {top:200px; -o-animation-timing-function:ease-in;}
 30% {top:200px; -o-animation-timing-function:ease-out;}
 45% {top:150px; -o-animation-timing-function:ease-in;}
 60% {top:200px; -o-animation-timing-function:ease-out;}
 68% {top:175px; -o-animation-timing-function:ease-in;}
 76% {top:200px; -o-animation-timing-function:ease-out;}
 80% {top:188px; -o-animation-timing-function:ease-in;}
 84% {top:200px; -o-animation-timing-function:ease-out;}
 86% {top:194px; -o-animation-timing-function:ease-in;}
 88% {top:200px; -o-animation-timing-function:ease-out;}
 87% {top:192px; -o-animation-timing-function:ease-in;}
 88% {top:200px; -o-animation-timing-function:ease-out;}
 100% {top:200px;}
}
