//****************************************************************************
//    Proyect: Allianz - Zona
//    Title: mod_timepicker
//    Description: Styles for mod_timepicker
//*****************************************************************************/
//mod_datepicker*/
// Style for timepicker 
.mod_timepicker{
    &.ui-timepicker-wrapper{
        overflow: inherit;
        min-width: em(325);
        height: auto;
        box-shadow: none;
        border: 0px;
        .ui-timepicker-list{
            width: 100%;
            @include clearfix;
            li{
                border-left: 1px solid $BDR_cromatico_2;
                padding: em(11);
                width: 24.9%;
                float: left;
                text-align: center;
                line-height: 120%;
                &:nth-child(2n+1){
                    background-color:$BG_cromatico_10;
                }
                &:nth-child(4n+4){
                    border-right:1px solid $BDR_cromatico_2;
                }
                &:hover, &.ui-timepicker-selected{
                    color: $TXT_cromatico_1;
                    background-color: $BG_cromatico_1;
                    font-family: "opensans-bold";    
                }
                &.ui-timepicker-disabled{
                    cursor: default;
                    &:nth-child(2n+1){
                        &:hover{
                            background-color:$BG_cromatico_10;
                        }
                    }
                    &:hover{
                        background-color: transparent;
                        color: #888888;
                        font-family: "arial"
                    }
                }
            }
        }
    }
}
// Style for mod_datepicker into form
.dFront{
    .mod_timepicker{
        position: relative;
        &.fmf-fieldGroup{
            .fmf-label{
                font-size: em(16);
                margin-right: em(20);
            }
            .fmf-field{
                display: inline;
                min-width: em(325);
                width: em(325);
                height: em(55);
            }
        }
    }
}
//Estilos para el fechas. 

//VIEW LARGE
@mixin l-mod_timepicker {

}

//VIEW TABLET
@mixin m-mod_timepicker {

}

//VIEW MOBILE
@mixin s-mod_timepicker {
    .mod_timepicker{
        margin-top:em(20);
        &.fmf-fieldGroup{
            .fmf-field{
                min-width: 100%;
                width: 100%;
            }
        }
    }
}