//****************************************************************************
//    Proyect: desarrollo
//    Title: _mod_mapa
//    Description: Styles for _mod_mapa
//*****************************************************************************/
//mod_mapa*/
.mod_mapa {
    margin-top: 0 !important;
    padding: 0;
    float: left;
    width: 100%;
    position: relative;
    height: em(515);
    .map-parrafo{
        position: absolute;
        z-index: 1;
        float: left;
        width: 100%;
        background: url("../" + $CONFIG_IMG_PATH + "/modules/backgrounds/bg-parche-map.png") no-repeat left top transparent;
        height: inherit;
    }
    .map-parrafo-box{
        float: left;
        width: em(600);
        margin-top: 2em;
    }
    .map-tit {
        font-family: "Montserrat-Bold";
        font-size: em(40);
        margin: 0 0 1em 15px;

    }
    .map-text{
        z-index: 1;
        margin-left: 15px;
        font-family: "OpenSans";
        span {
            display: block;
        }
    }  
    .map-iframe {
        position: absolute;
        z-index: 0;
        width: 100%;
        iframe {

        }
    }
}

//End mod_mapa*/

//VIEW LARGE
@mixin l-mod_mapa {
    .mod_mapa {

        .map-iframe {

            iframe {
                width: 1600px;
            }
        }
    }
}

//VIEW TABLET
@mixin m-mod_mapa {
    .mod_mapa {
        margin-top: 3em !important;
        .map-parrafo{
            background-size: 70% 100%;
        }
        .map-tit {
            font-size: em(20);
        }
        .map-text{
            font-size: em(14);
            span {
            }
        }  
        .map-iframe {

            iframe {
                width: 1280px;
            }
        } 
    }
}

//VIEW MOBILE
@mixin s-mod_mapa {
    .mod_mapa{
        margin-top: 3em !important;
        .map-parrafo{
            background-size: 100% 315px;
        }
        .map-tit {
            font-size: em(20);
        }
        .map-text{
            font-size: em(14);
            span {
            }
        }  
        .map-parrafo-box{
            width: em(178);
        }
        .map-iframe {

            iframe {
                width: 768px;
            }
        }
    }
}