//****************************************************************************
//    Proyect: Allianz Zona
//    Title: mod_calc
//    Description: Styles for mod_calc
//*****************************************************************************/
//mod_calc*/
.mod_calc {
    text-align: right;
    .mc-link{
        display: inline-block;
    }
    .mc-img{
        display: block;
        margin: auto;
    }
    .mc-figCap{
        font-family: "Montserrat";
        font-size: em(18);
        color: $TXT_cromatico_12;
        @include border-radius("5px, 5px, 0, 0")
    }
}

//End mod_calc*/

//VIEW LARGE
@mixin l-mod_calc {

}

//VIEW TABLET
@mixin m-mod_calc {
    .mod_calc{
        text-align: left;
        margin-bottom: em(20);
        .mc-link{
            display: inline-block;
            text-decoration: none;
        }
        .mc-img{
            display: inline-block;
            // margin: auto;
        }
        .mc-figCap{
            display: inline-block;
        }
    }
}

//VIEW MOBILE
@mixin s-mod_calc {
    .mod_calc{

    }
}