//****************************************************************************
//    Proyect: Allianz Zona
//    Title: _mod_vivePost
//    Description: Styles for mod_vivePost
//*****************************************************************************/
.mod_vivePost{

    .mvp-post{
        padding-left: em(55);
        padding-right: em(40);
        margin-bottom: em(60);
        p{
            margin-top: em(35,18);
            margin-bottom: em(35,18);
            font-family: "Opensans";
            font-size: em(18);
            color: $TXT_cromatico_11;
        }
    }
    .mvp-titH2{
        padding-left: em(55,40);
        padding-right: em(40,40);
        font-family: "Montserrat-Bold";
        font-size: em(40);
        color: $TXT_cromatico_10;
    }
    .mvp-titH3{
        font-family: "Montserrat-Bold";
        font-size: em(30);
        color: $TXT_cromatico_4;
    }
    .mvp-text{
/*         margin-top: em(35,18);
        margin-bottom: em(35,18);
        font-family: "Opensans";
        font-size: em(18);
        color: $TXT_cromatico_11; */
    }
    .mvp-boxAside{
        position: relative;
        padding-top: em(60);
        .mod_social{
            position: absolute;
            bottom: em(-100);
            left:em(40);
        }
    }

}

//VIEW LARGE
@mixin l-mod_vivePost {
    .mod_vivePost{
    }
}

//VIEW TABLET
@mixin m-mod_vivePost {
    .mod_vivePost{
        .mvp-post{
            padding-left: em(15,20);
            padding-right: em(15,20);
            margin-bottom: em(20);
        }
        .mvp-titH2{
            padding-left: em(15,25);
            padding-right: em(15,25);
            font-size: em(25);
        }
        .mvp-titH3{
            font-size: em(14);
        }
        .mvp-text{
            font-size: em(14);
        }
        .mvp-fig{
            display: block;
            .mvp-item{
                width: 100%;
                display: inline-block;
                margin: auto;
            }
        }
        .mvp-boxAside{
            padding:0;
            .mod_social{
                position: initial;
                bottom: initial;
                left:initial;
                margin-bottom: em(20);
            }
        }
    }
}

//VIEW MOBILE
@mixin s-mod_vivePost {
    .mod_vivePost{
        // Enlace de seguro de hogar

    }
}