//****************************************************************************
//    Proyect: desarrollo
//    Title: _mod_footer
//    Description: Styles for _mod_footer
//*****************************************************************************/
//mod_footer*/
.mod_footer {
    max-width: em(1600);
    margin: 0 auto;
}

//End _mod_footer*/

//VIEW LARGE
@mixin l-mod_footer {

}

//VIEW TABLET
@mixin m-mod_footer {

}

//VIEW MOBILE
@mixin s-mod_footer {

}