//****************************************************************************
//    Proyect: Allianz Zona
//    Title: mod_filter
//    Description: Styles for _mod_filter
//*****************************************************************************/
//mod_filter*/
.mod_filter {
    $BR-global: $BDR_cromatico_1;
    margin-bottom: em(20);
    .flt-box {
        display: block;
    }
    .mod_botonera{
        .btn-primary{
            display: none;
        }
        .flt-showFilter{
            display: inline-block;
        }
    }
    .flt-showMore {
        float: right;
        color: #E56446;
        font-size: em(14);
    }
    .flt-title {
        margin-bottom: em(15);
        font-family: "Montserrat";
        font-size: em(18);
        color: #FF7A4D;
        line-height: 120%;
    }
    .fmf-fieldset {
        border-top: 1px solid $BR-global;
        padding-bottom: em(10);
    }
    .fmf-fieldGroup {
        @include clearfix;
        padding: em(10) em(10) 0;
        float: left;
        width: 100%;
    }
    .fmf-field {
        &.fmf-checkbox {
            display: inline-block;
            width: auto;
            vertical-align: middle;
        }
    }
    .fmf-label {
        display: inline-block;
        vertical-align: middle;
        max-width: 90%;
    }
    .fmf-legend {
        padding: em(10, 14);
        line-height: 120%;
    }
    .fmf-swich {
        .fmf-swich_text {
            padding: em(10) 100px em(10) em(10);
        }
        .fmf-swich-label {
            float: right;
        }
    }
    .mod_banner {
        margin-top: 1em;
    }
}

//End _mod_filter*/

//VIEW LARGE
@mixin l-mod_filter {
    .mod_filter {
        .flt-box {
            display: block !important;
        }
    }
}

//VIEW TABLET
@mixin m-mod_filter {
    .mod_filter {
        margin: 0;
        @include clearfix;
        .flt-showFilter{
            display: block;
        }
        .fmf-swich{
            .fmf-swich_text{
                width: auto;
                padding: em(10) 100px em(10) em(10);
            }
        }
        .mod_botonera {
            position: fixed;
            bottom: em(40);
            left: 0;
            display: block;
            margin: 0 auto;
            width: 100%;
            float: none;
            z-index: 99;
            .btn-orange {
                display: none;
                width: 100%;
                max-width: em(280);
            }
            .btn-normal{
                display: none;
            }
            .flt-showFilter{
                display: block;
                margin: 0 auto;
                padding-left: 40px;
                background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-filter.png") no-repeat left 35% center #FF7A4D;
            }
            &.active {
                margin: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                max-width: inherit;
                padding: em(15) em(20);
                text-align: right;
                background-color: #F8F8F8;
                border-top: 1px solid #CCCCCC;
                .btn-normal{
                    display: inline-block;
                    float: none;
                }
                .btn-orange {
                    display: inline-block;
                    width: auto;
                    margin-left: em(10);
                }
                .btn-primary{
                    display: inline-block;
                }
                .flt-showFilter{
                    display: none;
                }
            }
        }

        .flt-box {
            display: none;
            margin-top: em(20);
            margin-bottom: em(85);
        }
        .mod_banner{
            margin-top: 0;
            .mod_botonera{
                position: inherit;
                display: inline-block;
                vertical-align: middle;
                width: 58%;
                bottom: inherit;
                left: inherit;
                .btn-orange{
                    display: inline-block;
                    float: right;
                }
            }
        }
    }
}

//VIEW MOBILE
@mixin s-mod_filter {

}