//****************************************************************************
//    Proyect: Allianz Zona
//    Title: _mod_fichaGente
//    Description: Styles for _mod_fichaGente
//*****************************************************************************/
//mod_fichaGente*/
.mod_fichaGente {
    position: relative;
    background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_fichaGente/bg_personal.png") no-repeat left center transparent;
    overflow: hidden;
    .fcg-back {
        position: absolute;
        top: em(20);
        left: 0;
    }
    .fcg-personal {
        position: relative;
        padding: em(65) 0 em(100);
        .mod_botonera {
            padding: em(40) 0;
            display: block;
            float: none;
            text-align: center;
            .btn-orange {
                float: none;
            }
        }
    }
    .fcg-img {
        width: em(120);
        height: em(120);
        margin: 0 auto;
        img {
            display: block;
            width: 100%;
            height: 100%;
            border: 3px solid #FFF;
            border-radius: 50%;
        }
    }
    .fcg-title {
        padding-top: em(15, 30);
        font-family: "Montserrat-Bold";
        font-size: em(30);
        color: #FFF;
        line-height: 120%;
        text-align: center;
    }
    .fcg-description {
        padding-top: em(10, 20);
        font-family: "OpenSans";
        font-size: em(20);
        color: #FFF;
        line-height: 120%;
        text-align: center;
    }
    .fcg-list {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        &:before, &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            height: 100%;
            width: 50%;
        }
        &:after {
            left: 100%;
            right: auto;
        }
    }
    .fcg-listItem {
        float: left;
        width: 25%;
        text-align: center;
        padding: em(15) em(15);
        min-height: em(100);
        border-right: 1px solid #FFF;
        &:first-child {
            border-left: 1px solid #FFF;
            .fcg-listItemDescription {
                padding-top: em(4, 25);
                font-size: em(25);
            }
        }
    }
    .fcg-listItemTitle, .fcg-listItemDescription {
        display: block;
        color: #FFF;
        line-height: 120%;
    }
    .fcg-listItemTitle {
        font-family: "Montserrat";
        font-size: em(21);
    }
    .fcg-listItemDescription {
        font-family: "OpenSans";
        font-size: em(16);
        padding-top: em(15);
        &[class*="ico-"] {
            padding-top: em(25);
            text-indent: -999em;
        }
    }
}

//End _mod_fichaGente*/

//VIEW LARGE
@mixin l-mod_fichaGente {

}

//VIEW TABLET
@mixin m-mod_fichaGente {
    .mod_fichaGente {
        .fcg-personal {
            padding: em(100) 0 em(130);
            .mod_botonera {
                padding: em(20) 0;
            }
        }
        .fcg-back {
            left: 4%;
        }
        .fcg-title {
            font-size: em(20);
        }
        .fcg-description {
            font-size: em(14);
        }
        .fcg-listItemTitle {
            font-size: em(14);
        }
        .fcg-listItemDescription {
            font-size: em(14);
            padding-top: em(10, 14);
            &[class*="ico-"] {
                padding-top: em(25, 14);
            }
        }
        .fcg-listItem {
            padding: em(10) em(15);
            min-height: em(80);
            &:first-child {
                .fcg-listItemDescription {
                    padding-top: em(15, 18);
                    font-size: em(18);
                }
            }
        }
    }
}

//VIEW MOBILE
@mixin s-mod_fichaGente {
    .mod_fichaGente {
        .fcg-back{
            display: none;
        }
        .fcg-personal{
            padding: em(50) 0 em(180);
        }
        .fcg-listItem {
            position: relative;
            width: 50%;
            &:nth-child(2n) {
                border-right: 0;
            }
            &:first-child{
                border-left: 0;
            }
        }
    }
}