//*****************************************************************************
//    Proyecto: Allianz
//    Titulo: icons
//    Desripcion: Botones genéricos que no correspondan a compoentes
//******************************************************************************/

.mod_botonera {
	float: left;
	width: 100%;
	.btn-normal{
		float: left;
		padding: em(13.5,18) em(14,18);
		font-size: em(18);
		font-family: Montserrat;
		line-height: 120%;
		text-align: center;
		-webkit-appearance: none;
		color: $BG_cromatico_1;
		background-color: transparent;
		border: 1px solid $BG_cromatico_1;
		@include border-radius(5px);
	}
	.btn-orange {
		float: left;
		padding: em(13.5,18) em(14,18);
		font-size: em(18);
		font-family: Montserrat;
		color: $TXT_cromatico_1;
		line-height: 120%;
		text-align: center;
		-webkit-appearance: none;
		background-color: $BG_cromatico_1;
		border: 0;
		@include border-radius(5px);
		&.ico-conecta{
			padding-left: 65px;
		}
		&.ico-event {
			padding-left: 50px;
		}
	}
	&.btn-center {
		text-align: center;
		.btn-orange {
			display: inline-block;
			float: none;
		}
	}

	// Estilos para los botones en el formulario de conecta formulario
	&.conectForm{
		margin-top: em(20);
		.btn-orange{
			width: 100%;
		}
	}
}

@mixin s-mod_buttons {
	.mod_botonera {
		.btn-orange {
		}
	}
}