//*****************************************************************************
//    Proyecto: Allianz
//    Titulo: Home rows
//    Desripcion: Estilos para los cuatro modulos (filas) que contiene la home
//******************************************************************************/


.mod-homeRow1{
	height: em(420);
	overflow: hidden;
	background-color: $BG_cromatico_3;
	transform:  		skew(0deg, -3.4deg) ;
	-webkit-transform:  skew(0deg, -3.4deg) ;
	-moz-transform: 	skew(0deg, -3.4deg) ;
	-o-transform:  		skew(0deg, -3.4deg) ;
	-ms-transform:  	skew(0deg, -3.4deg) ;
	position: relative;
	//margin-top: -50px;
	width: 100%;
    z-index: 10;
	.hr1-content {
		height: em(430);
		background: url("../" + $CONFIG_IMG_PATH + "/modules/backgrounds/bg_head.png") no-repeat scroll center bottom #FFFFFF;
		transform:  		skew(0deg, 3.4deg) ;
		-webkit-transform:  skew(0deg, 3.4deg) ;
		-moz-transform: 	skew(0deg, 3.4deg) ;
		-o-transform:  		skew(0deg, 3.4deg) ;
		-ms-transform:  	skew(0deg, 3.4deg) ;
		position: absolute;
		top: 40px;
		width: 100%;
	    padding: 5.9em 0 0 0;
	}
	.mod-banner {
		text-align: center;
		.bnr-txt {
			font-family: OpenSans-light;
			color: $TXT_cromatico_1;
			font-size: em(42);
			margin: 1.3em auto 0;
			width: 55%;
			.extraBold {
				font-family: "Montserrat-Bold";
			}
			.bold {
				font-family: Montserrat;
				font-weight: 100;
			}
		}
		.bnr-link {

		}
	}
	&.mod-homeRow1_XL {
		height: em(785);
		.hr1-content {
			height: em(690);
			background: url("../" + $CONFIG_IMG_PATH + "/modules/backgrounds/bg-head-ven.png") no-repeat scroll center top #FFFFFF;
			top: 133px;
		}
		.mod-banner {
			.bnr-txt {
				font-size: em(60);
				margin: 0.5em auto 0;
				.extraBold {
					font-family: "Montserrat-Bold";
				}
			}
		}
	}
}
.mod-homeRow1Tap {
	transform:  		skew(0deg, -3.4deg) ;
	-webkit-transform:  skew(0deg, -3.4deg) ;
	-moz-transform: 	skew(0deg, -3.4deg) ;
	-o-transform:  		skew(0deg, -3.4deg) ;
	-ms-transform:  	skew(0deg, -3.4deg) ;
	height: 55px;
	background-color: #fff;
	margin-top: -12px;
	position: relative;
	z-index:11;

}
.mod-homeRow2{
	height: em(440);
	overflow: hidden;
	background-color: $BG_cromatico_3;
	transform:  		skew(0deg, 2.6deg) ;
	-webkit-transform:  skew(0deg, 2.6deg) ;
	-moz-transform: 	skew(0deg, 2.6deg) ;
	-o-transform:  		skew(0deg, 2.6deg) ;
	-ms-transform:  	skew(0deg, 2.6deg) ;
	position: relative;
	margin-top: -88px;
	width: 100%;
    z-index: 9;
	.hr2-content {
		height: em(450);
		transform:  		skew(0deg, -2.6deg) ;
		-webkit-transform:  skew(0deg, -2.6deg) ;
		-moz-transform: 	skew(0deg, -2.6deg) ;
		-o-transform:  		skew(0deg, -2.6deg) ;
		-ms-transform:  	skew(0deg, -2.6deg) ;
		position: absolute;
		top: 25px;
		width: 100%;
		.container {
			background-color: blue;
			height: inherit;
		}
	}

}
.mod-homeRow2Tap {
	transform:  		skew(0deg, 2.6deg) ;
	-webkit-transform:  skew(0deg, 2.6deg) ;
	-moz-transform: 	skew(0deg, 2.6deg) ;
	-o-transform:  		skew(0deg, 2.6deg) ;
	-ms-transform:  	skew(0deg, 2.6deg) ;
	height: 55px;
	background-color: #fff;
	margin-top: -3px;
	position: relative;
	z-index:11;
}
.mod-homeRow3{
	height: em(420);
	overflow: hidden;
	background-color: $BG_cromatico_3;
	transform:  		skew(0deg, -2.7deg) ;
	-webkit-transform:  skew(0deg, -2.7deg) ;
	-moz-transform: 	skew(0deg, -2.7deg) ;
	-o-transform:  		skew(0deg, -2.7deg) ;
	-ms-transform:  	skew(0deg, -2.7deg) ;
	position: relative;
	margin-top: -78px;
	width: 100%;
    z-index: 8;
	.hr3-content {
		height: em(430);
		transform:  		skew(0deg, 2.7deg) ;
		-webkit-transform:  skew(0deg, 2.7deg) ;
		-moz-transform: 	skew(0deg, 2.7deg) ;
		-o-transform:  		skew(0deg, 2.7deg) ;
		-ms-transform:  	skew(0deg, 2.7deg) ;
		position: absolute;
		top: 40px;
		width: 100%;
	}
}
.mod-homeRow3Tap {
	transform:  		skew(0deg, -2.7deg) ;
	-webkit-transform:  skew(0deg, -2.7deg) ;
	-moz-transform: 	skew(0deg, -2.7deg) ;
	-o-transform:  		skew(0deg, -2.7deg) ;
	-ms-transform:  	skew(0deg, -2.7deg) ;
	height: 55px;
	background-color: #fff;
	margin-top: -3px;
	position: relative;
	z-index:11;
}
.mod-homeRow4 {
	height: em(354);
	overflow: hidden;
	background-color: $BG_cromatico_3;
	position: relative;
	margin-top: -40px;
	margin-bottom: 2em;
	width: 100%;
    z-index: 7;
    .hr4-content {
		height: inherit;
		position: absolute;
		top: 0px;
		width: 100%;
	}
	.mod-tiempo {
		height: inherit;
		&.tpo-01 {
			background: url("../" + $CONFIG_IMG_PATH + "/modules/backgrounds/bg_mod-homeRow4-01.png") repeat-y scroll center bottom #FFFFFF;
		}
		&.tpo-02 {
			background: url("../" + $CONFIG_IMG_PATH + "/modules/backgrounds/bg_mod-homeRow4-02.png") repeat-y scroll center bottom #FFFFFF;
		}
		&.tpo-03 {
			background: url("../" + $CONFIG_IMG_PATH + "/modules/backgrounds/bg_mod-homeRow4-03.png") repeat-y scroll center bottom #FFFFFF;
		}
		&.tpo-04 {
			background: url("../" + $CONFIG_IMG_PATH + "/modules/backgrounds/bg_mod-homeRow4-04.png") repeat-y scroll center bottom #FFFFFF;
		}
		.tpo-content {
			color: $TXT_cromatico_2;
			font-family: OpenSans-light;
			float: left;
    		margin-top: 2em;
			.tpo-ciudad {
				font-family: Montserrat;
				float: left;
    			width: 100%;
				font-size: em(35);
			}
			.tpo-tempMin {
				font-size: em(20);
				float: left;
    			width: auto;
    			padding-right: 1em;
			}
			.tpo-tempMax {
				font-size: em(20);
				float: left;
    			width: auto;
    			border-left: 1px solid $BG_cromatico_6;
    			padding-left: 1em;
			}
			.tpo-fecha {
				font-family: Montserrat;
				float: left;
				font-size: em(16);
				background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_header/bg_header.png") repeat-x 0 0 transparent;
				text-align: center;
				@include border-radius(50px);
				padding: 0.5em 2em;
				margin-top: 10em;
			}
			.tpo-tempNumber {
				font-size: em(27);
			}
			.bold {
				font-family: OpenSans-bold;
			}
		}
	}
}
.mod-homeRow5 {
	overflow: hidden;
	background-color: $BG_cromatico_3;
	position: relative;
	margin-top: -40px;
	margin-bottom: 2em;
	width: 100%;
    z-index: 7;
	.mod-generalContent {
		height: inherit;
		position: relative;
		.container {

		}
		.gct-content {
			color: $TXT_cromatico_2;
			font-family: OpenSans-light;
    		margin-top: 5em;
		}
	}
}

@mixin m-mod_homeRow {

	.mod-homeRow1{
		.mod-banner {
			.bnr-txt {
				font-size: 40px;
				width: 16em;
				.extraBold {
				}
				.bold {
				}
			}
		}
		&.mod-homeRow1_XL {
			height: em(420);
			.hr1-content {
				height: em(315);
				background-size: 100%;
			}
			.mod-banner {
				.bnr-txt {
					font-size: em(30);
					margin: 0 auto 0;
					.extraBold {
						font-family: "Montserrat-Bold";
					}
				}
			}
		}
	}

	.mod-homeRow4 {
		.mod-tiempo {
			&.tpo-01,
			&.tpo-02,
			&.tpo-03,
			&.tpo-04 {
				background-image: none;
				background-color: $BG_cromatico_3;
			}
		}
	}

	.mod-homeRow5 {

		.mod-generalContent {

			.gct-content {

	    		margin-top: 4.3em;
		        &.mod_banner_info{
		            margin-top: 0;
		        }
			}
		}
	}

}

@mixin s-mod_homeRow {

	.mod-homeRow1{
		.mod-banner {
			.bnr-txt {
				font-size: 30px;
				width: 9em;
				.extraBold {
				}
				.bold {
				}
			}
		}
		&.mod-homeRow1_XL {

			.hr1-content {
				background-size: 768px;
			}
			.mod-banner {
				top: -3em;
				.bnr-txt {
					font-size: em(30);
					margin: 0 auto 0;
					.extraBold {
						font-family: "Montserrat-Bold";
					}
				}
			}
		}
	}
	.mod-homeRow2{
		height: 55em;
	}

	.mod-homeRow4 {
		height: 25.125em;
		.mod_botonera {
			.btn-orange {
				width: 50%;
				margin: 0 25%;
			}
		}
	}

}