//****************************************************************************
//    Proyect: Allianz
//    Title: mod_navMenu
//    Description: Styles for mod_navMenu
//*****************************************************************************/
//mod_navMenu*/
.mod_navMenu {
    position: relative;
    .nvm-list {
        position: relative;
        float: left;
        width: 100%;
        padding: 0 0 0 em(7);
        margin-right: em(25);
        @include clearfix;
    }
    .nvm-listItem {
        float: left;
        &.hdr-zone{
            float: right,
        }
    }
    .nvm-listItemLink {
        display: block;
        padding: em(29.5, 24) em(40, 24);
        font-family: "Montserrat";
        font-size: em(24);
        line-height: 118%;
        color: #1F3D79;
        &.nvm-active {
            font-family: "Montserrat-Bold";
            color: #FF794C;
        }
    }
    &.hdr-zone {
        float: right;
    }

    .nvm-mobileButton {
        float: right;
        display: none;
        position: relative;
        width: 48px;
        height: 48px;
        margin: em(19.5) em(20);
        text-indent: -999em;
        z-index: 99;
        &:after {
            content: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-menu-mobile.png");
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-indent: 0;
        }
        &.active {
            &:after {
                content: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-menu-close-mobile.png");
            }
        }
    }

    .nvm-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        -khtml-opacity: 0.5;
        opacity: 0.5;
        z-index: 90;
    }

}

//End mod_navMenu*/

//VIEW LARGE
@mixin l-mod_navMenu {
    .mod_navMenu {
        .nvm-list {
            display: block !important;
        }
    }
}

//VIEW TABLET
@mixin m-mod_navMenu {
    .mod_navMenu {
        width: 83%;
        .nvm-mobileButton {
            display: block;
        }
        .nvm-list {
            display: none;
            position: absolute;
            top: 100%;
            right: -15px;
            width: 320px;
            padding: em(50) 0 0 0;
            margin: 0;
            background-color: #962476;
            z-index: 99;
            border-bottom: 10px solid #1F3D79;
            &:before {
                display: none;
            }
        }
        .nvm-listItemLink {
            padding: em(14, 18) em(20, 18);
            font-size: em(18);
            color: #FFF;
            border-top: 1px solid #671851;
        }
        .nvm-listItem {
            width: 100%;
            &:first-child {
                .nvm-listItemLink {
                    border-color: transparent;
                }
            }
        }
    }
}

//VIEW MOBILE
@mixin s-mod_navMenu {
    .mod_navMenu {
        position: initial;
        //.nvm-menuMobile {
        .nvm-list {
            right: 0;
            width: em(250);
            max-width: 100%;
        }
        //}
    }
}