//****************************************************************************
//    Proyect: Allianz Zona
//    Title: mod_boxButton
//    Description: Styles for mod_boxButton
//*****************************************************************************/
//mod_boxButton*/
.mod_boxButton{
    padding: em(30,18);
    
    text-align: center;
    border: 1px solid $BDR_cromatico_2;
    .text-strong {
        font-family: "Montserrat-Bold";
    }
    .mbb-text{
        font-family: "Montserrat";
        font-size: em(18);
        color: $TXT_cromatico_12;
    }
    .mod_botonera{
        margin-top: em(30,18);
        float: none;
        .btn-orange{
            float: none;
        }
    }
}

//End mod_boxButton*/

//VIEW LARGE
@mixin l-mod_boxButton {

}

//VIEW TABLET
@mixin m-mod_boxButton {
    .mod_boxButton{
        text-align: left;
        border-right: 0;
        border-left: 0;
        .text-strong {
            font-family: "Montserrat-Bold";
        }
        .mod_botonera{
            margin-top: em(30,18);
        }
    }
}

//VIEW MOBILE
@mixin s-mod_boxButton {
    .mod_boxButton{
        padding: em(15);
        .mod_botonera{
            .btn-orange{
                font-size: em(16,18);
                background-position: em(30,16) center;
                padding-left: em(60,16);
                width: 100%;
            }
        }
    }
}