//****************************************************************************
//    Proyect: Allianz Zona
//    Title: _mod_viveSeguro
//    Description: Styles for mod_viveSeguro
//*****************************************************************************/
.mod_viveSeguro{
    .mvs-colunmL{
        padding-bottom: em(110);
        height: 100%;
        min-height: em(800);
    }
    // Columna de la derecha
    .mvs-colunmR{
        //min-height: em(800);
        height: 100%;
        max-height: em(800);
        background-color: $BG_cromatico_14;
        overflow-y: scroll;
        .bck-columnR{
            background: url("../" +$CONFIG_IMG_PATH+ "/modules/mod_vive/bck-boxOptions.jpg") no-repeat left top;
            background-size: 100% 100%;
        }
    }
    // cajas de opcion de la columna de la derecha
    .mvs-boxGroup{
        .mvs-boxOptions{
            position: relative;
            overflow: hidden;
            padding: 0 0 em(30);
            background-color: rgba(247,115,49,0.8);
            // background-color: rgba(247,118,60,0.8);
            height: em(373);
            border-bottom: 2px solid $BDR_cromatico_4;
            border-right: 2px solid $BDR_cromatico_4;
            cursor: pointer;

            transition: background 1s;
            -ms-transition: background 1s;
            -o-transition: background 1s;
            -moz-transition: background 1s;
            &:last-child{
                border-right: none;
            }
            .mvs-boxOptionsbox {
                height: 100%;
                &:before{
                    content:"";
                    position: absolute;
                    top:-950px;
                    left:0;
                    display: block;
                    background-color: $BG_cromatico_15;
                    width: 100%;
                    height: 700px;
                    z-index: 1;
                    transform: skewY(-30deg);
                    -ms-transform: skewY(-30deg);
                    -o-transform: skewY(-30deg);
                    -moz-transform: skewY(-30deg);

                    transition: top 1s;
                    -ms-transition: top 1s;
                    -o-transition: top 1s;
                    -moz-transition: top 1s;
                }
                &:after{
                    content:"";
                    position: absolute;
                    top:-250px;
                    left:0;
                    display: block;
                    background-color: rgba(255,255,255,0.5);
                    width: 100%;
                    height: 150px;
                    z-index: 1;
                    transform: skewY(-30deg);
                    -ms-transform: skewY(-30deg);
                    -o-transform: skewY(-30deg);
                    -moz-transform: skewY(-30deg);

                    transition: top 1s;
                    -ms-transition: top 1s;
                    -o-transition: top 1s;
                    -moz-transition: top 1s;
                }

            }
             &:hover{
                .mvs-boxOptionsbox {
                    &:before{
                        top:-200px;
                         transition: top 1s;
                        -ms-transition: top 1s;
                        -o-transition: top 1s;
                        -moz-transition: top 1s;
                    }
                    &:after{
                        top: 500px;
                        transition: top 1s;
                        -ms-transition: top 1s;
                        -o-transition: top 1s;
                        -moz-transition: top 1s;
                    }
                }
            }
            .mvs-boxLink{
                position: relative;
                $fontBase: 40;
                padding: em(65,$fontBase) em(35,$fontBase);
                display: block;
                height: 100%;
                font-size: em($fontBase);
                font-family: "Montserrat-Bold";
                color: $TXT_cromatico_1;
                text-decoration: none;
                background:none;
                z-index: 2;
                &.ico-link{
                    font-size: em(30);
                }
            }

        }
    }

    .mod_back{
        background-color: $BG_cromatico_3;
        .mb-linkBack{
            color:$TXT_cromatico_12;
            &:before{
                background-color: $BG_cromatico_3;
            }
        }
    }
    .mvs-titH2{
        font-size: em(40);
        font-family: "Montserrat-Bold";
        color: $TXT_cromatico_12;
        text-align: center;
        margin-bottom: em(20,40);
        .mvs-icoH2 {
            display: block;
            margin-bottom: em(15, 40);
        }
    }
    .mod_boxButton{
        text-align: center;
        border: none;
        padding-bottom: em(50);
        .mbb-text{
            font-size: em(18);
            font-family: "Opensans";
            color: $TXT_cromatico_7;
        }
        .mod_botonera{
            margin-top: em(70);
        }
    }
    .mod_calc{
        text-align: center;
        .mc-img{
            display: block;
        }
    }
}

//VIEW LARGE
@mixin l-mod_viveSeguro {
    .mod_viveSeguro{
    }
}

//VIEW TABLET
@mixin m-mod_viveSeguro {
    .mod_viveSeguro{
        .mvs-colunmL{
            height: inherit;
            min-height: inherit;
            padding-bottom: em(10);
        }
        .mvs-titH2{
            font-size: em(35);
        }
        .mod_boxButton{
            padding-bottom: em(20);
            .mbb-text{
                font-size: em(14);
            }
            .mod_botonera{
                margin-top: em(20);
                .btn-orange{
                    width: 100%;
                    background-position: 30% center;
                }
            }
        }
        .mvs-colunmR{
            max-height: initial;
            background-color: $BG_cromatico_14;
            overflow-y: initial;
        }
        .mod_showMore{
            margin-bottom:0;
        }
        .mvs-boxGroup{
            .mvs-boxOptions{
                .mvs-boxOptionsbox{
                    &:after, &:before{
                        content: initial;
                    }
                    &:hover{
                        &:after,&:before{
                            content: initial;
                        }
                    }
                }
            }
        }
    }
}

//VIEW MOBILE
@mixin s-mod_viveSeguro {
    .mod_viveSeguro{

        .mod_boxButton{
            padding-bottom: em(20);
            .mbb-text{
                font-size: em(14);
            }
            .mod_botonera{
                margin-top: em(20);
                .btn-orange{
                    width: 100%;
                    background-position: 5% center;
                }
            }
        }
        .mvs-boxGroup{
            .mvs-boxOptions{
                border-right: none;
            }
        }
    }
}