//****************************************************************************
//    Proyect: Allianz - Zona
//    Title: _mod_datepicker
//    Description: Styles for _mod_datepicker
//*****************************************************************************/
//mod_datepicker*/
.dFront{
    .mod_datepicker{
        display: inline-block;
        position: relative;
        .md-controlIcon{
            display: inline-block;
            position: relative;
            min-width: em(325);
        }
        &.fmf-fieldGroup{
            .fmf-label{
                font-size: em(16);
                margin-right: em(20);
            }
            .fmf-field{
                //display: inline;
                line-height: 200%;
            }
        }
        .date-picker-control{
            display: block;
            width: 28px;
            height: 25px;
            position: absolute;
            top: 15px;
            right: 10px;
            background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_datepicker/seleccion-fecha.png");
            span:first-child{
                display: none;
            }
        }
    }
}
//Estilos para el calendario. 
.date-picker{
    background-color: #fff;
    font-size: em(16);
    width: em(250);
    div{
        border: none;
    }
    .date-picker-table{
        width: 100%;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        border-collapse: collapse;
        background: #fff;
        border: 1px solid #BBB;
        box-shadow: none;
        border-spacing: 0;
        border-collapse: collapse;
        color:#333;
        .date-picker-title{
            font-family: "Opensans-bold";
            font-size: em(11);
            color: $TXT_cromatico_6;
            span{
                line-height: 256%;
                text-transform: capitalize;
            }
        }
        .date-picker-day-header{
            font-family: arial;
            font-weight: bold;
            font-size: em(11);
            color: $TXT_cromatico_6;
        }
        .date-picker-thead{
            position: relative;
            .prev-but.prev-year{
                display: none;
            }
            .prev-but.prev-month{
                position: absolute;
                top: 0px;
                left:0;
                text-indent: -999em;
                &:after{
                    content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_datepicker/flecha6-izquierda.png");
                    position: absolute;
                    text-indent: 0;
                    top: 0;
                    left: 20px;
                }
            }
            .next-but.next-year{
                display: none;
            }
            .next-but.next-month{
                position: absolute;
                top: 0px;
                right: 0;
                text-indent: -999em;
                &:after{
                    content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_datepicker/flecha6-derecha.png");
                    text-indent: 0;
                    position: absolute;
                    top: 0;
                    right: 20px;
                }
            }
        }
        tbody{
            tr{
                td{
                    background: none;
                    border:0;
                    border-bottom: 1px solid $BDR_cromatico_1;
                    height: em(38);
                    vertical-align: middle;
                    font-size: em(16);
                    color: $TXT_cromatico_7;
                    font-family: OpenSans-bold;
                    text-align: center;

                }
                &:last-child{
                    display: none;
                }
            }
        }
        .date-picker-hover{
            border: 0px;
            border-radius: 0px;
            background-color: #FF7A4D;
            color: #fff;
        }

    }
    &:after, &:before{
        content: "";
        transform: inherit;
        box-shadow: none;
    }
}

.mod_datepicker_view {
    margin: 0;
    width: 100%;
    .date-picker {
        margin: 0;
        width: 100% !important;
        height: auto!important;
    }
    .date-picker-table {
        border: 0;
        tbody {
            tr {
                border-top: 1px solid $BDR_cromatico_1;
                td {
                    border: 0;
                }
                &:first-child {
                    border: 0;
                }
            }
        }
    }
}


//VIEW LARGE
@mixin l-mod_datepicker {

}

//VIEW TABLET
@mixin m-mod_datepicker {
    .mod_datepicker{
        .date-picker-control{
            right: 10px;
        }
    }
}


//VIEW MOBILE
@mixin s-mod_datepicker {
    .mod_datepicker{
        .md-controlIcon{
            min-width: 100%;
        }
    }

}