//*****************************************************************************
//    Proyecto: Allianz Zona
//    Titulo: mod_ftr_slick
//    Desripcion: Estilos carrusel para slick de productos
//******************************************************************************/
$bgColor: $BG_cromatico_8;
$textColor: $TXT_cromatico_2;
$bdrColor: $BDR_cromatico_1;

.mod_ftr_slick{
	padding: em(20) 0 0;
	border:1px solid $bdrColor;
	background-color:$bgColor;
	color: $textColor;
	.ftr_slk_tith2{
		font-size: em(32);
		font-family: "Montserrat-Bold";
	}
	.ftr_slk_tith3{
		margin-top: em(10);
		margin-bottom: em(30);
		font-size: em(23);
		font-family: Montserrat;
	}
	// Estilos para el carrusel slick
	.slk_productos{
		width: 100%;
		max-width: em(1280);
		margin: 0 auto em(30);
		.slk_prod_item{
			margin: auto;
		}
		.slk_prod_link{
			display: block;
			text-decoration: none;
			&:before{
				display: block;
				width: 100px;
				height: 100px;
				margin: auto;
				margin-bottom: em(20);
			}
			.slk_prod_img{
				display: block;
			}
			.slk_prod_img_hover{
				display: none;
			}
			&:hover {
                .slk_prod_img {
                    display: none;
                }
                .slk_prod_img_hover {
                    display: block;
                }
			}


		}
		.slk_prod_img, .slk_prod_img_hover{
			max-width: 100%;
			width: auto;
			margin: 0 autO;
		}
		.slk_prod_text{
			display: block;
			color: $textColor;
			font-family: Montserrat;
			font-size: em(17);
			text-align: center;
		}
		// Flechas
		.slick-next, .slick-prev{
			text-indent: -999em;
			position: absolute;
			top: 35px;
			border: 0;
			background-color: transparent;
			z-index:90;
			width: 20px;
			height: 34px;
		}
		.slick-next{
			right:0;
			height: 100%;
    		top: 0;
			&:after{
				content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/arrow-next.png");
				text-indent: 0;
				position: absolute;
				top:30%;
				right:0;
				width: 100%;
			}
			&.slick-disabled {
				visibility: hidden;
			}
		}
		.slick-prev{
			left:15px;
			height: 100%;
    		top: 0;
			&:after{
				content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/arrow-prev.png");
				text-indent: 0;
				position: absolute;
				top:30%;
				right:0;
				width: 100%;
			}
			&.slick-disabled{
				visibility: hidden;
			}
		}
		// iconos de los productos
		.slk-car{
			/*&:before{
				content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/coche-pie.png");
			}
			&:hover:before, &:focus:before{
				content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/coche-pie-activo.png");
			} */
		}
		.slk-moto{
			/* &:before{
				content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/moto-pie.png");
			}
			&:hover:before,&:focus:before{
				content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/moto-pie-activo.png");
			} */
		}
		.slk-home{
			/* &:before{
				content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/hogar-pie.png");
			}
			&:hover:before,&:focus:before{
				content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/hogar-pie-activo.png");
			} */
		}
		.slk-salud{
			/* &:before{
				content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/salud-pie.png");
			}
			&:hover:before,&:focus:before{
				content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/salud-pie-activo.png");
			} */
		}
		.slk-worker{
			/* &:before{
				content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/autonomo-pie.png");
			}
			&:hover:before,&:focus:before{
				content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/autonomo-pie-activo.png");
			} */
		}
		.slk-travel{
			/* &:before{
				content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/viajes-pie.png");
			}
			&:hover:before,&:focus:before{
				content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/viajes-pie-activo.png");
			} */
		}
		.slk-boat{
			/* &:before{
				content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/embarcaciones-pie.png");
			}
			&:hover:before,&:focus:before{
				content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/embarcaciones-pie-activo.png");
			} */
		}
		.slk-life{
			/* &:before{
				content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/vida-inversion-pie.png");
			}
			&:hover:before,&:focus:before{
				content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/vida-inversion-pie-activo.png");
			} */
		}
	}
}

@mixin l-mod_ftr_slick{
	.mod_ftr_slick{}
}
@mixin m-mod_ftr_slick{
	.mod_ftr_slick{
		.ftr_slk_tith2{
			margin-bottom: em(30);
		}
		.ftr_slk_tith3{
			display:none;
		}
		.slk_productos{
		}
	}
}
@mixin s-mod_ftr_slick{
	.mod_ftr_slick{

	}
}