//****************************************************************************
//    Proyect: desarrollo
//    Title: _mod_event
//    Description: Styles for _mod_event
//*****************************************************************************/
//mod_event*/
.mod_event {
    @include clearfix;
    margin-bottom: em(100);
    .evt-content {
        font-family: "OpenSans";
        font-size: em(18);
        color: #333333;
        line-height: 150%;
        &.evt-spacing{
            margin: em(40,18) 0;
        }
        .evt-content{
            font-size: 1em;
            display: block;
            margin-top: em(30,18);
        }
    }
    .evt-img {
        margin-top: em(20);
        img{
            display: block;
            width: 100%;
        }
    }
    .evt-spacing{
        margin: em(40) 0;
    }
    .mod_botonera{
        .btn-orange{
            float: right;
        }
        &.btn-border.mod_modal{
            margin-top: em(40);
            padding: em(20) em(25) em(20) em(30);
            border: 1px solid #CCC;
        }
        &.btn-border{
            padding: em(20) em(25) em(20) em(30);
        }
    }
    .evt-title{
        font-size: em(14);
    }
    .evt-listItem{
        font-family: "OpenSans";
        font-size: em(20);
        color: #333;
        line-height: 180%;
    }
    .evt-link{
        display: inline-block;
        margin-top: em(12);
        font-family:"Montserrat";
        font-size: em(18);
        color: #132C5D;
        line-height: 120%;
    }
}

//End mod_event*/

//VIEW LARGE
@mixin l-mod_event {

}

//VIEW TABLET
@mixin m-mod_event {
    .mod_event {
        margin-bottom: 0;
        .evt-content {
            width: 100%;
            font-size: em(14);
            &.evt-spacing {
                margin: em(30, 14) 0;
            }
        }
        .mod_botonera{
            display: block;
            float: left;
            width: 100%;
            //margin: 0 em(-15);
            padding: em(40) 0;
            text-align: center;
            border-top: 1px solid #CCC;
            .btn-orange{
                display: inline-block;
                float: none;
            }
            &.btn-border{
                margin-top: em(40);
                padding: em(40) em(30);
                border-left: 0;
                border-bottom: 0;
                border-right: 0;
            }
        }
        .evt-link{
            display: block;
            margin: em(5) 0 em(20);
        }
        .evt-img{
            img{
                width: auto;
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }
}

//VIEW MOBILE
@mixin s-mod_event {
    .mod_event{
        .evt-content {
            width: 100%;
        }
    }
}