//****************************************************************************
//    Proyect: Allianz Zona
//    Title: mod_title
//    Description: Styles for mod_title
//*****************************************************************************/
//mod_title*/
.mod_title {
    margin: em(20) 0;
    &.tit-spacing{
        margin: em(90) 0 0;
    }
    .mt-user,.mt-link{
        display: none;
    }

    .tit-title {
        font-family: "Montserrat-Bold";
        color: $TXT_cromatico_4;
        &.tit-h1{
            font-size: em(40);
            line-height: 100%;
        }
    }
    .tit-description{
        font-family: "OpenSans";
        font-size: em(20);
        color: $TXT_cromatico_4;
        line-height: 150%;
    }
    &.tit-center {
        text-align: center;
    }
}

//End mod_title*/

//VIEW LARGE
@mixin l-mod_title {

}

//VIEW TABLET
@mixin m-mod_title {
    .mod_title{
        margin-right: -5px;
        margin-left: -5px;
        &.tit-spacing{
            margin: em(30) 0 0;
        }
        .mt-user{
            display: inline-block;
            max-width: em(50);
            max-height: em(50);
            .mt-imgUser{
                border-radius: em(50);
            }
            + .tit-title{
                display: inline-block;
                &.tit-h1{
                    font-size: em(40);
                    line-height: 120%;
                    vertical-align: bottom;
                }
            }
        }
        .mt-link{
            padding: em(20) em(10) em(10) em(30);
            float: right;
            color: #FF7A4D;
            background: url("../images/modules/icons/ico-mas-boton-orange.png") no-repeat left top 16px;
            text-decoration: none;
        }
        .tit-title{
            &.tit-h1{
                font-size: em(25);
                line-height: 110%;
            }
        }
        .tit-description{
            font-size: em(14);
            line-height: 190%;
        }
        &.tit-center{
            text-align: left;
        }
    }
}

//VIEW MOBILE
@mixin s-mod_title {

}