//****************************************************************************
//    Proyect: Allianz Zona
//    Title: _mod_imageList
//    Description: Styles for _mod_imageList
//*****************************************************************************/
//mod_imageList*/
.mod_imageList {
    padding-top: em(20);
    .iml-showMore{
        display: block;
        margin: em(20) 0;
        padding: em(15);
        text-align: center;
        border: 1px solid #DDDDDD;
        .iml-buttonMore{
            display: inline-block;
            padding: em(10) em(5) em(10) 70px;
            font-family: "Montserrat-Bold";
            font-size: em(20);
            color: #FF7945;
            background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-plus-blue.png") no-repeat left center transparent;
        }
    }
    .iml-figure {
        position: relative;
        margin: 0;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            bottom: -40px;
            left: 0;
            height: em(197);
            width: 100%;
            background-color: #0B265D;
            opacity: 0.8;
            transform: skew(0deg, 10deg);
            -webkit-transition: 0.5s ease all;
            transition: 0.5s ease all;
            z-index: 2;
        }
        img {
            display: block;
            width: 100%;
        }
        .iml-btn {
            position: absolute;
            left: 50%;
            bottom: 0;
            min-width: 70%;
            padding: em(13, 18) em(10, 18) em(14, 18) 40px;
            font-family: "Montserrat-Bold";
            font-size: em(18);
            line-height: 120%;
            color: #FFF;
            text-align: center;
            background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-conecta.png") no-repeat left 20px center #FF7A4D;
            border: 0;
            border-radius: 5px;
            opacity: 0;
            -webkit-appearance: none;
            -webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
            transform: translateY(-50%) translateX(-50%) scale(0.25);
            -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
            transition: opacity 0.3s, transform 0.3s;
        }
    }

    .iml-description {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: em(25) em(40);
        width: 100%;
        height: auto;
        text-align: left;
        z-index: 10;
        .iml-name {
            font-family: "Montserrat-Bold";
            font-size: em(25);
            color: #FFF;
            -webkit-transition: opacity 0.3s, -webkit-transform 0.7s;
            transition: opacity 0.3s, transform 0.7s;
        }
        .iml-profession {
            padding: 0;
            font-family: "OpenSans-bold";
            font-size: em(20);
            color: #FFF;
            -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
            transition: opacity 0.3s, transform 0.3s;
        }
    }
    .iml-listItem{
        margin-top: em(10);
    }
    .iml-listItemLink {
        position: relative;
        display: block;
        background-color: rgba(31, 61, 121, 0.15);
        &:hover {
            .iml-figure {
                &:before {
                    height: em(96);
                    transform: skew(0deg, 0deg);
                    -webkit-transition: 0.5s ease all;
                    transition: 0.5s ease all;
                    bottom: 0;
                    content:"";
                }
                img {
                    opacity: 1;
                }
                .iml-btn {
                    opacity: 1;
                    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
                    transform: translateY(-50%) translateX(-50%) scale(1);
                }
            }
            .iml-description {
                .iml-name, .iml-profession {
                    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
                    transition: opacity 0.3s, transform 0.3s;
                }
                .iml-name, .iml-profession {
                    -webkit-transform: translateY(50px);
                    transform: translateY(50px);
                    opacity: 0;
                }
            }
        }
    }
    // Clases para los box de Agente en el formulario conecta
    &.conectForm{
        .iml-description{
            padding-left: em(14);
            padding-right: em(14);
        }
        .iml-figure{
            .iml-btn{
                width: 90%;
                background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-mas-boton.png") no-repeat left 10px center #FF7A4D;
            }
        } 
    }
}

//End _mod_imageList*/

//VIEW LARGE
@mixin l-mod_imageList {

}

//VIEW TABLET
@mixin m-mod_imageList {
    .mod_imageList {
        .iml-figure {
            &:before {
                bottom: -53px;
            }
        }
        .iml-description {
            .iml-name{
                font-size:em(20);
            }
            .iml-profession{
                font-size: em(14);
            }
        }
    }
}

//VIEW MOBILE
@mixin s-mod_imageList {
    .mod_imageList {
        .iml-figure {
            &:before {
                bottom: -63px;
                height: em(175);
            }
        }
    }
}