//****************************************************************************
//    Proyect: Allianz Zona
//    Title: mod_back
//    Description: Styles for mod_back
//*****************************************************************************/
//mod_back*/
$fontBase: 20;
.mod_back {
    background-color: $BG_cromatico_13;
    margin-bottom: em(52);
    .mb-linkBack{
        font-size: em($fontBase);
        position: relative;
        display: block;
        padding: em(38.5,$fontBase) em(85,$fontBase);
        font-family: "Montserrat-Bold";
        // background-color: $BG_cromatico_13;
        color: $TXT_cromatico_1;
        // text-decoration: none;
        // margin-bottom: em(65,20);
        &:before{
            position: absolute;
            content: url("../" + $CONFIG_IMG_PATH + "/modules/icons/square-left.png");
            background-color: $BG_cromatico_13;
            top: 0;
            left: em(-86,$fontBase);
            max-height: em(100,$fontBase);
        }
    }
}

//End mod_back*/

//VIEW LARGE
@mixin l-mod_back {

}

//VIEW TABLET
@mixin m-mod_back {
    .mod_back{
        background-color: $BG_cromatico_13;
        margin-bottom: em(20);
        .mb-linkBack{
            width: 93%;
            float: right;
            &:before{
                content: initial;
            }
        }
    }
}

//VIEW MOBILE
@mixin s-mod_back {
    .mod_back{
        .mb-linkBack{
            padding: em(30,$fontBase) 0;
            width: 100%;
            float: none;
            &.ico-back{
                background: none;
            }
        }
    }
}