//****************************************************************************
//    Proyect: Allianz Zona
//    Title: mod_showMore
//    Description: Styles for mod_showMore
//*****************************************************************************/
//mod_showMore*/

.mod_showMore {
    display: none;
}

//End mod_showMore*/

//VIEW LARGE
@mixin l-mod_showMore {
    .mod_showMore{

    }
}

//VIEW TABLET
@mixin m-mod_showMore {
    .mod_showMore{
        display: block;
        padding: em(25) 0;
        margin-bottom: em(20);
        border-top: 1px solid $BDR_cromatico_1;
        border-bottom: 1px solid $BDR_cromatico_1;
        z-index: 20;
        text-align: center;
        .mch-link{
            font-size: em(22);
            text-indent: 0;
            &:after{
                left: 49%;
                top: 49%;
            }
        }
        .md-link{
            $fontBase: 20;
            display: inline-block;
            margin-left: em(15, $fontBase);
            vertical-align: middle;
            padding-top: em(14,$fontBase);
            padding-bottom: em(14,$fontBase);
            font-family: "Montserrat-Bold";
            font-size: em($fontBase);
            color: $TXT_cromatico_10;
            text-decoration: none;
        }
    }
}

//VIEW MOBILE
@mixin s-mod_showMore {
    .mod_showMore{
        p{
            padding: em(12) 0;
        }

    }
}