//****************************************************************************
//    Proyect: Allianz Zona
//    Title: mod_cookie
//    Description: Styles for _mod_cookie
//*****************************************************************************/
//mod_cookie*/
.mod_cookie {
    position: relative;
    display: block;
    padding: em(15) 0;
    background-color: #666666;
    z-index: 999;
    .cok-text {
        font-family: "OpenSans";
        width: 100%;
        padding-left: em(65, 14);
        font-size: em(14);
        line-height: 140%;
        color: #FFF;
        background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-cookie.png") no-repeat left 5px center transparent;
        a {
            text-decoration: underline;
            color: #FFF;
        }
    }
    .cok-bold {
        font-family: "OpenSans-Bold";
    }
    .cok-btn {
        @include border-radius(5px);
        display: block;
        width: 100%;
        font-size: em(18);
        color: $TXT_cromatico_1;
        font-family: "Montserrat";
        padding: em(11.5,18);
        text-align: center;
        border: 0;
        background-color: $BG_cromatico_1;
    }
}

//End mod_cookie*/

//VIEW LARGE
@mixin l-mod_cookie {

}

//VIEW TABLET
@mixin m-mod_cookie {
    .mod_cookie {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        .cok-text {
            padding: em(70, 14) 0 0 0;
            background-position: top 10px center ;
        }
        .cok-btn {
            margin: em(30) 0 em(20);
        }
    }
}

//VIEW MOBILE
@mixin s-mod_cookie {

}