//****************************************************************************
//    Proyect: Allianz Zona
//    Title: mod_machine
//    Description: Styles for mod_machine
//*****************************************************************************/
//mod_machine*/
.mod_machine {
    // Estados iniciales de los slots
    .slot0, .slot1, .slot2{
        .stateInit{
            position: relative;
            text-indent: -9999em;
            background: none;
            &:after{
                position: absolute;
                display: block;
                top:40px;
                font-size: em(5);
                height: 100px;
                width: 100%;
                text-indent: 0;
            }
        }
    }
    .slot0{
        .stateInit{
            &:after{
                content: "Afición";
            }
        }
    }
    .slot1{
        .stateInit{
            &:after{
                content: "Especialidad";
            }
        }
    }
    .slot2{
        .stateInit{
            &:after{
                content: "Disponibilidad";
            }
        }
    }
    .mch-text {
        text-align: right;
        color: #FF7945;
        font-family: "Montserrat-Bold";
        font-size: em(20);
        line-height: 150%;
        margin-bottom: 0.6em;
    }
    .mch-box {

    }
    .mch-link{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 2.4em;
        height: 2.4em;
        text-indent: -999em;
        text-align: left;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
        margin-left: em(10);
        padding: em(10,20);
        border: 1px solid $TXT_cromatico_4;
        border-radius: 50%;
        &:after{
            text-indent: 0;
            content: "+";
            font-family: "OpenSans";
            color: $TXT_cromatico_4;
            font-size: em(40);
            position: absolute;
            top: 50%;
            left: 50%;
            width: 25px;
            height: 25px;
            margin-left: -15px;
            margin-top: -11px;
            line-height: 19px;
            text-align: center;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
        }
        &.active{
            border-color: $BG_cromatico_1;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
            -ms-transform: rotate(45deg); /* IE 9 */
            -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
            transform: rotate(45deg);
            &:after{
                //content: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-close-orange.png");
                color: $BG_cromatico_1;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -webkit-transition: all 1s ease;
                transition: all 1s ease;
            }
        }
    }
    .mch-container {
        display: none;
        position: relative;
        width: 100%;
        background-color: $BG_cromatico_11;
        @include clearfix;
        .mch-tit{
            padding-top: em(60,25);
            font-size: em(25);
            font-family: "Montserrat-Bold";
            color: $TXT_cromatico_4;
        }
        .mch-input{
            $fontBase: 18;
            width:20%;
            padding: 0.63889em;
            margin-top: em(10, $fontBase);
            font-family: "Montserrat-Bold";
            font-size: em($fontBase);
            color: #FFFFFF;
            text-align: center;
            background-color: $BG_cromatico_1;
            border: 0;
            border-radius: em(5, $fontBase);
        }
    }
    .mch-box_play {
        $positionBA: -11px;
        background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-line-machine.png") repeat-x center center;
        position: relative;
        background-color: #fff;
        float: left;
        width: 75%;
        height: 200px;
        margin: em(60) em(16);
        &:before, &:after{
            content: "";
            position: absolute;
            top: em(89);
            display: block;
            width: 14px;
            height: 22px;
        }
        &:before{
            left:$positionBA;
            background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/sprite-ico-arrows-machine.png") no-repeat -10px center;
        }
        &:after{
            right:$positionBA;
            background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/sprite-ico-arrows-machine.png") no-repeat 2px center;
        }
        // Botonera
        // Partes comunes de la botonera
        $positionRelativeBox: em(-50);
        .mch-btn_up, .mch-btn_down{
            width: 100%;
            position: absolute;
            display: block;
            @include clearfix;
            .mch-btn_item{
                display: inline-block;
                width: (100%/3.04);
            }
            .mch-btn_link{
                width: 100%;
                display: block;
                text-align: center;
                padding: em(10) em(15);
            }
        }
        // Botonera superior
        .mch-btn_up{
            top: $positionRelativeBox;
        }
        // Botonera inferior
        .mch-btn_down{
            bottom: $positionRelativeBox;
        }
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }


    .slot {
        float: left;
        width: 100%;
    }



    /* ---------------------------------------------------------------------
       FANCY EXAMPLE
    --------------------------------------------------------------------- */
    .fancy {
        overflow: hidden;
        height: 200px;
        padding: 50px 0;
        box-shadow: inset 0 0px 12px rgba(0,0,0,.3);
        border-radius: 3px;
    }
    .fancy .jSlots-wrapper {
        height: 100px;
        float: left; /* to size correctly, can use float too, or width*/
        width: (100%/3);
    }

    .fancy .slot li {
        width: 100%;
        line-height: 100px;
        text-align: center;
        font-size: 70px;
        font-weight: bold;
        color: #000;
        font-family: Montserrat, serif;
    }

    .fancy .slot:first-child li {
        border-left: none;
    }

    .fancy .slot:first-child li .li-conten {
        height: 100px;
        line-height: 17px;
        padding-top: 70px;
        color: $TXT_cromatico_2;
        &.ico_move {
            color: $TXT_cromatico_8;
        }
    }

    .fancy .slot li span {
        display: block;
        font-size: 17px;
    }
}

//End mod_machine*/

//VIEW LARGE
@mixin l-mod_machine {

}

//VIEW TABLET
@mixin m-mod_machine {
    .mod_machine {
        .mch-text{
            overflow: hidden;
        }
        .mch-container {
            text-align: center;
            .mch-tit{
                position: absolute;
                padding: em(15);
            }
            .mch-input{
                margin-bottom: em(20);
            }
            .mch-lineSelect{
                top: em(95);
            }
            .mch-box_play{
                width: 96.5%;
                margin-top: em(110);
                .mch-btn_up, .mch-btn_down{
                    //display: none;
                }
            }
        }
    }
}

//VIEW MOBILE
@mixin s-mod_machine {
    .mod_machine {
        .slot0, .slot1, .slot2{
            .stateInit{
                &:after{
                    font-size: em(2.8);
                }
            }
        }
        .fancy .slot li span{
            font-size: 12px;
        }
        margin-left:em(-15);
        margin-right:em(-15);
        padding: 0 em(7.5);
        .mch-text{
            $thisFontBase: 14.5;
            font-size: em($thisFontBase);
            line-height: em(58, $thisFontBase);
            .mch-link{
                font-size: em(20,$thisFontBase);
            }
        }
        .mch-container {
            .mch-tit{
                position: absolute;
                padding: em(20) em(15);
                font-size: em(14);
            }
            .mch-input{
                width: 96%;
                margin-bottom: em(20);
            }
            // Winner line
            .mch-lineSelect{
                top: em(95);
                width: 78.2%;
            }
            .mch-box_play{
                width: 98%;
                margin: em(80) 1% em(45);
                .mch-btn_up, .mch-btn_down{
                    .mch-btn_item{
                        width: (100%/3.1);
                    }
                }
                &:before{
                    background: none;
                }
                &:after{
                    background: none;
                }
            }
        }
    }
}