//*****************************************************************************
//    Proyecto: Allianz
//    Titulo: modulo tiempo home
//    Desripcion: Estilos para el modulo de tiempo de la home
//******************************************************************************/


.mod-tiempo {
	height: inherit;
	&.tpo-01 {
		background: url("../" + $CONFIG_IMG_PATH + "/modules/backgrounds/bg_mod-homeRow4-01.png") repeat-y scroll left bottom #FFFFFF;
		.tpo-content {
			background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/sprite-tiempo.png") no-repeat scroll 53px 114px transparent;
		}
	}
	&.tpo-02 {
		background: url("../" + $CONFIG_IMG_PATH + "/modules/backgrounds/bg_mod-homeRow4-02.png") repeat-y scroll left bottom #FFFFFF;
		.tpo-content {
			background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/sprite-tiempo.png") no-repeat scroll 53px -210px transparent;
		}		
	}
	&.tpo-03 {
		background: url("../" + $CONFIG_IMG_PATH + "/modules/backgrounds/bg_mod-homeRow4-03.png") repeat-y scroll left bottom #FFFFFF;
		.tpo-content {
			background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/sprite-tiempo.png") no-repeat scroll 53px -534px transparent;
		}		
	}
	&.tpo-04 {
		background: url("../" + $CONFIG_IMG_PATH + "/modules/backgrounds/bg_mod-homeRow4-04.png") repeat-y scroll left bottom #FFFFFF;
		.tpo-content {
			background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/sprite-tiempo.png") no-repeat scroll 53px -862px transparent;
		}		
	}
	.tpo-content {
		color: $TXT_cromatico_2;
		font-family: OpenSans-light;
		float: left;
		margin-top: 2em;
		.tpo-ciudad {
			font-family: Montserrat;
			float: left;
			width: 100%;
			font-size: em(35);
		}
		.tpo-tempMin {
			font-size: em(20);
			float: left;
			width: auto;
			padding-right: 1em;
		}
		.tpo-tempMax {
			font-size: em(20);
			float: left;
			width: auto;	
			border-left: 1px solid $BG_cromatico_6;		
			padding-left: 1em;	
		}
		.tpo-fecha {
			font-family: Montserrat;
			float: left;
			font-size: em(16);
			background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_header/bg_header.png") repeat-x 0 0 transparent;
			text-align: center;
			@include border-radius(50px);
			padding: 0.5em 2em;
			margin-top: 10em;
		}
		.tpo-tempNumber {
			font-size: em(27);
		}
		.bold {
			font-family: OpenSans-bold;
		}
		.tpo-simbol {
			font-size: em(27);
		}
	}
}

@mixin m-mod_tiempo {

	.mod-tiempo {
		.tpo-content {
			display: none;
		}
	}

}

@mixin s-mod_tiempo {

	.mod-tiempo {
		.tpo-content {
			display: none;
		}
	}
	
}