//*****************************************************************************
//    Proyecto: Allianz
//    Titulo: mod_slider
//    Desripcion: Estilo carruseles
//******************************************************************************/

.mod-sliderFade,
.mod-sliderFadeImg {
	position: relative;
	height: em(420);
	.slf-content {
		width: 100%;
	}
	.slick-list, .slick-track {
		height: em(420);
	}
/* 	.slick-slide {
		position: absolute !important;
		left: 0!important;
	} */
/* 	div[data-slick-index = "0"] {
		background-color: blue;
	}
	div[data-slick-index = "1"] {
		background-color: red;
	} */
	.slf-content-L,
	.slf-content-R {
		height: em(420);
	}
	.slf-content-L {
		background: url("../" + $CONFIG_IMG_PATH + "/modules//mod_slider/bg_slider-left.png") no-repeat scroll center bottom #FFFFFF;
		padding-top: em(40);
		padding-bottom: em(40);
	}
	.slf-content-R {
		overflow: hidden;
		.slf-img {
			width: 100%;
			padding: 1.8em 0;
		}
	}
	.slick-dots {
		position: absolute;
		bottom: 4em;
		z-index: 1000;
		width: 15em;
		li {
			float: left;
			width: em(24);
			height: em(24);
			@include border-radius(50px);
			margin-right: em(30);
			background-color: $BG_cromatico_2;
			&.slick-active {
				background-color: $BG_cromatico_1;
			}
			button {
				border: 0;
				background-color: transparent;
				width: inherit;
				height: inherit;
				text-indent: -999999px;
			}
		}
	}
	.slf-groupParraf {
		color: $TXT_cromatico_1;
		float: right;
		width: 29em;
		.slf-title {
			float: left;
			font-size: 40px;
			font-family: "Montserrat-Bold";
			margin-bottom: em(10);
		}
		.slf-parraf {
			float: left;
			font-size: 19px;
			font-family: OpenSans-light;
			margin-bottom: em(20);
			span {
				float: left;
				width: 100%;
			}
		}
	}
}
.mod-sliderFadeImg {
	height: 30.625em;
	padding:  0;
	.slick-dots {
	    text-align: center;
	    position: relative;
	    margin: 0 auto;		
	    width: em(162);
	    bottom: 4em;
	    li {
	    	margin: 0 em(15);
	    }
	}
	.slick-list, .slick-track, .slf-content {
		height: inherit;
	}
	.slf-content {
		overflow: hidden;
		position: relative;
		.slf-img {
			width: 1680px;
			max-width: 1680px;
			position: relative;
		    left: 50%;
		    -webkit-transform: translate(-50%,0);
		    -moz-transform: translate(-50%,0);
		    -o-transform: translate(-50%,0);
		    -ms-transform: translate(-50%,0);
		    -sand-transform: translate(-50%,0);
		}
	}
}

.mod-sliderCenter {
	margin: 0.9em 0;
	width: 100%;
	overflow: hidden;
	height: em(450);
	position: relative;
	ul {
		width: 110%;
		height: inherit;
	}
	li {
		width: (10% * 100%) / 110%;
		float: left;
		overflow: hidden;
		height: inherit;
		opacity: 0.2;
		position: relative;
		z-index: 0;

		.sdrC-content_item,
		.sdrC-content_txt,
		.sdrC-content_img {
			overflow: hidden;
			background-color: $BG_cromatico_3;
		}
		.sdrC-content_item {
			width: 25em;
    		float: right;
    		position: relative;
    		height: inherit;
		}

		.sdrC-content_txt{
			width: 45%;
			position: absolute;
			left: 0;
			padding: 5em 1em;
			height: 100%;
		}
		.sdrC-content_img {
			width: 55%;
			position: absolute;
			right: 0;
			height: inherit;
			img {
				position: absolute;
				//right: 0;		
				height: 438px;	
 			    left: 50%;
			    -webkit-transform: translate(-50%,0);
			    -moz-transform: translate(-50%,0);
			    -o-transform: translate(-50%,0);
			    -ms-transform: translate(-50%,0);
			    -sand-transform: translate(-50%,0);	
			    max-width: 607px;	 		
			}
		}
		.sdrC-content_titule {
			font-family: "Montserrat-Bold";
			font-size: em(40);
			color: $TXT_cromatico_2;
		}

	}
	.sdrC-content_center {
		width: (70% * 100%) / 110%;
	    color: #e67e22;
	    opacity: 1;
	    z-index: 1;
	    .sdrC-content_item {
	    	width: 100%;
	    }
	}
	.sdrC-btnP,
	.sdrC-btnN {
		width: 5%;
		position: absolute;
		z-index: 1;
		height: inherit;
		background-color: transparent;
		border: 0;
		text-indent: -999999px;
	}
	.sdrC-btnP {
		background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_slider/btn-slider-center-P.png") no-repeat scroll left center transparent;
		width: 55px;
	}
	.sdrC-btnN {
		background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_slider/btn-slider-center-N.png") no-repeat scroll left center transparent;
		right: 0;
		top: 0;
		width: 68px;
	}
	.sdrC-date{
		position: absolute;
		bottom: em(80);
		right: em(16);
		width: 45%;
		text-align: right;
		.mod_botonera {
			margin-top: em(15);
			.btn-orange {
				float: right;
			}
		}
		.sdrC-dateText{
			font-family: "Montserrat";
			font-size: em(13);
			color: #666666;
			line-height: 120%;
		}
		.sdrC-siteText{
			font-family: "Montserrat";
			font-size: em(13);
			color: #999;
			line-height: 120%;
			margin-top: em(5,13);
		}
	}
	.mod_banner_img{
		width: 55%;
		.brg-descriptionText{
			max-width: 100%;
		}
		.brg-imgUser{
			&:after{
				left: 18px;
				bottom: -12px;
			}
			img{
				width: 55px;
				height: 55px;
			}
		}
	}
}

@mixin m-mod_slider {
	.mod-sliderFade {
		.slf-content-R {
			.row {
				display: inline-block;
			    position: relative;
			    right: -50%;
				.slf-img {
					position: relative;
    				left: -50%;
    				height: 420px;
    				width: auto;
				}
			}
		}
		.slf-groupParraf {
			width: 89%;
			.slf-title {
				font-size: 35px;
				margin-bottom: em(20);
			}
			.slf-parraf {
				display: none;
			}
		}
	}
	.mod-sliderCenter{
		.mod_banner_img{
			width: 100%;
		}
		li {
			&.sdrC-content_lat {
				//visibility: visible;
			}
			.sdrC-content_txt {
				width: 57%;
			}
			.sdrC-content_img {
				width: 43%;
			}
			.sdrC-content_titule{
				display: none;
			}
		}
		.sdrC-date{
			width: 90%;
		}
	}
	.mod-sliderFadeImg {
		height: em(222);
		margin-bottom: 5.5em;
		.slick-dots {
			bottom: -2em;
			z-index: 998;
		    li {
		    	border: 1px solid $BDR_cromatico_1;
		    }
		}
		.slick-list, .slick-track, .slf-content {

		}
		.slf-content {

			.slf-img {
				//width: 100%;
				max-width: 1279px;
			}
		}
	}
} 

@mixin s-mod_slider {
	.mod-sliderCenter{
		overflow: inherit;
		ul {
			width: 100%;
		}
		li{
			//visibility: hidden;
			display: block;
			width: 0%;
			&.sdrC-content_center {
				width: 82%;
				overflow: inherit !important;
				.sdrC-content_item{
					overflow: inherit;
				}
				&+li{
					visibility: visible;
					display: block;
					width: 18%;
					overflow: inherit !important;
					.sdrC-content_item {
						overflow: inherit !important;
						.sdrC-content_txt {

						}
					}
				}
			}
			&.itemFirst {
				overflow: inherit !important;
					.sdrC-content_item {
						overflow: inherit !important;
						.sdrC-content_txt {

						}
					}
			}
			.sdrC-content_txt{
				top: 100%;
				padding: 0 1em;
				overflow: inherit;
			}
			.sdrC-content_img{
				width: 100%;
				left: 0;
				img{
					//width: 100%;
				}
			}
			.sdrC-content_txt,.sdrC-content_img{
				width: 100%;
			}
			.sdrC-content_titule{
				display: block;
			}
			&:first-child{
				margin-left: em(-50) !important;
			}
		}
		.mod_banner_img{
			width: 100%;
		}
		.sdrC-date{
			width: 100%;
			bottom: -120px;
		}
		// Botonera
		.sdrC-btnP, .sdrC-btnN{
			display: none;
		}

	}
	.mod-sliderFade {
		.slf-content-R {
			display: none;
		}
		.slf-groupParraf {
			width: 100%;
			   padding: 0 1em;
			.slf-title {
				width: 100%;
				text-align: left;
				font-size: 35px;
				margin: em(10) 0 em(15);
			}
			.slf-parraf {
				display: none;
			}
		}
		.slick-dots {
			position: absolute;
			bottom: 5em;
			z-index: 1000;
			width: 100%;
			li {
				float: left;
				width: em(24);
				height: em(24);
				@include border-radius(50px);
				margin: 0 em(15);
				background-color: $BG_cromatico_2;
				&.slick-active {
					background-color: $BG_cromatico_1;
				}
				button {
					border: 0;
					background-color: transparent;
					width: inherit;
					height: inherit;
					text-indent: -999999px;
				}
			}
		}
	}
	.mod-sliderFadeImg {
		height: auto;
		margin-bottom: 5.5em;
		.slick-dots {

		    li {

		    }
		}
		.slick-list, .slick-track, .slf-content {

		}
		.slf-content {

			.slf-img {
				max-width: 100%;
			}
		}
	}
} 
