//****************************************************************************
//    Proyect: Allianz
//    Title: mod_parrafo
//    Description: Styles for _mod_parrafo
//*****************************************************************************/
//mod_parrafo*/
.mod-parrafo {
	float: left;
	width: 100%;
	.pfo-tit {
		font-family: "Montserrat-Bold";
		font-size: em(20);
		margin-bottom: 1.5em;
	}
	.pfo-text {
		font-family: OpenSans;
		font-size: em(18);
		color: $TXT_cromatico_7;
		margin-bottom: 1.5em;
	}
}

//End mod_parrafo*/

//VIEW LARGE
@mixin xl-mod_parrafo { 

	.mod-parrafo {
    
	}

}
@mixin l-mod_parrafo {

	.mod-parrafo {

	}

}

//VIEW TABLET
@mixin m-mod_parrafo {

    .mod-parrafo {
		.pfo-tit {
			font-size: em(14);
		}
		.pfo-text {
			font-size: em(14);
		} 
    }
    
}

//VIEW MOBILE
@mixin s-mod_parrafo {

    .mod-parrafo {
		.pfo-tit {
			font-size: em(14);
		}
		.pfo-text {
			font-size: em(14);
		}        
    }

}