//****************************************************************************
//    Proyect: Allianz
//    Title: mod_main
//    Description: Styles for _mod_main
//*****************************************************************************/
//mod_main*/
.mod-main {
	position: relative;
	&.min-home{
		top: -135px;
		margin-bottom: -135px;
	}
	&.mod_vivePost, &.mod_viveSeguro{
		background-color: $BG_cromatico_14;
		.container{
			background-color: $BG_cromatico_3;
		}
	}
}

//End mod_main*/

//VIEW LARGE
@mixin xl-mod_main { 

	.mod-main {
		max-width: 1600px;
	    margin-left: auto;
	    margin-right: auto;
    
	}

}
@mixin l-mod_main {

	.mod-main {

	}

}

//VIEW TABLET
@mixin m-mod_main {

    .mod-main {

    }
    
}

//VIEW MOBILE
@mixin s-mod_main {
    .mod-main {
        
    }
}