//****************************************************************************
//    Proyect: Allianz - Zona
//    Title: _mod_formField
//    Description: Styles for _mod_formField
//*****************************************************************************/

// Mixin para insertar las imagenes 

@mixin iconsCheckbox ($class,$iconName){
    &.#{$class}{
        &:before{
            content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_formConect/" + $iconName + ".png");
        }
        &:hover, &:focus{
            &:before{
                content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_formConect/" + $iconName + "-activo.png");
            }
        }
    }
}

@mixin iconsCheckboxChecked ($class, $iconName){
    &.#{$class}{
        &:before{
            content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_formConect/" + $iconName + "-activo.png");
        }
    }
}


//mod_formField*/
.mod_formField {
    $TC-fieldText-primary: #333333;
    $BR-fieldText-primary: #DDDDDD;
    .fmf-field{
        display: block;
        width: 100%;
        //height: em(55);
        margin: 0;
        padding: em(10);
        font-family: "OpenSans";
        font-size: em(16);
        color: $TC-fieldText-primary;
        border: 1px solid $BR-fieldText-primary;
        border-radius: 10px;
    }
    .fmf-text{
    }
    .fmf-fieldGroup{
        position: relative;
    }
    .fmf-checkboxGroup{
        position: relative;
    }
    .fmf-groupHide{
        left: -9999em;
        position: absolute;
    }
    .fmf-groupFile{
        min-height: inherit;
        .fmf-labelFile{
            font-family: "Montserrat-Bold";
            font-size: 18px;
            color: $TXT_cromatico_4;
            padding: 11.4px 20px;
            border: 1px solid $BDR_cromatico_5;
            border-radius: 5px;
            margin-left: 20px;
        }
        .fmf-file{
            display: inline-block;
            width: 65%;
            margin-top: 0px;
        }
    }
    .fmf-fieldGroupInline{
        margin-bottom: em(20);
        .fmf-label{
            display: block;
            text-align: right;
            margin-top: em(20);
            font-size: em(14);
            font-family: "OpenSans";
        }
        .fmf-text{
            line-height: 200%;
        }
    }
    .fmf-radioGroup{
        position: relative;
        display: inline-block;
        .fmf-radio{
            position: absolute;
            left: -999em;
            + .fmf-label-on, + .fmf-label-off{
                width: em(100);
                height: em(100);
                cursor: pointer;
            }
             + .fmf-label-on, + .fmf-label-off{
                &:after{
                    position: absolute;
                    top:0;
                    left:0;
                }
            }
            + .fmf-label-on{
                &:after{
                    content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_formField/si.png");   
                }
            }
            + .fmf-label-off{
                &:after{
                    content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_formField/not.png");
                }
            }
            &:checked{
                + .fmf-label-on,  + .fmf-label-off{
                    &:after{
                        position: absolute;
                        top:0;
                        left:0;
                    }
                }
                + .fmf-label-on{
                    &:after{
                        content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_formField/si-hover.png");
                    }
                }
                + .fmf-label-off{
                    &:after{
                        content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_formField/not-hover.png");
                    }
                }
            }
        }
    }
    .fmf-linkShowMore{
        font-family: "Opensans";
        font-size: em(17);
        color: $BG_cromatico_1;
        text-decoration: none;
    }
    .fmf-aviso{
        font-family: "opensans";
        font-size: em(16);
        margin: em(40) 0;
    }
    .fmf-checkbox{
        position: absolute;
        left: -999em;
        + .fmf-label{
            padding: em(2.5,18) 0 em(2.5,18) 35px;
            cursor: pointer;
            &:after{
                content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_formField/checkbox.png");
                position: absolute;
                top: 50%;
                left: 0;
                width: 28px;
                height: 28px;
                margin-top: -14px;
                //border: 1px solid #DDD;
                //border-radius: 5px;
            }
        }
        &:checked{
            + .fmf-label {
                &:after {
                    content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_formField/checkbox-checked.png");
                    //background-color: #E76340;
                    //border-color: #E76340;
                }
            }
        }
        &.fmf-rightCheckbox{
            + .fmf-label{
                padding: em(2.5,18) 35px em(2.5,18) 0;
                &:after{
                    left: auto;
                    right: 0;
                }
            }
        }
    }
    .fmf-combobox {
        font-family: "Montserrat";
        color: #1F3D79;
    }
    .fmf-textarea {
        padding: em(30);
        color: #878787;
        min-height: em(200);
        resize: none;
    }
    .fmf-search{
        position: relative;
        padding-left: em(12);
        border-left: 18px solid #FF7A4D;
        .fmf-text {
            padding: em(10, 20);
            font-size: em(20);
            font-family: "OpenSans-Light";
            line-height: 120%;
            color: #666666;
            background: transparent;
            border: 0;
            border-bottom: 1px solid #1F3D79;
            border-radius: 0;
            &:focus {
                border-color: #1F3D79;
            }
        }
        .fmf-btnSearch{
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 100%;
            border: 0;
            background-color: transparent;
            text-indent: -999em;
            &:after{
                content: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-lupa-blue.png");;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 34px;
                height: 34px;
                margin-top: -17px;
                margin-left: -17px;
                text-indent: 0;
            }
        }
    }
    .fmf-label{
        font-family: "OpenSans";
        font-size: em(18);
        color: #333333;
    }
    .fmf-legend{
        float: left;
        font-family: "OpenSans";
        font-size: em(14);
        color: #203D7A;
        line-height: 120%;
    }
    .fmf-swich {
        position: relative;
        float: left;
        width: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        .fmf-swich-checkbox {
            position: absolute;
            left: -999em;
        }
        .fmf-swich-label {
            display: block;
            width: em(83);
            overflow: hidden;
            cursor: pointer;
            @include border-radius(70px);
            position: relative;
            z-index: 1;
        }

        .fmf-swich-inner {
            display: block;
            width: 200%;
            margin-left: 0;
            //transition: margin 0s ease-in 0.3s;
            &:before, &:after {
                display: block;
                float: left;
                width: 50%;
                height: 40px;
                padding: 0;
                line-height: 39px;
                font-size: 14px;
                color: white;
                font-family: OpenSans;
                font-weight: bold;
                box-sizing: border-box;
            }
            &:before {
                content: "No";
                padding-right: 15px;
                background-color: #D8E7EC;
                color: #333333;
                text-align: right;
            }
            &:after {
                content: "Si";
                padding-left: 15px;
                background-color: #D8E7EC;
                color: #333333;
            }
        }

        .fmf-swich-switch {
            display: block;
            width: 30px;
            height: 30px;
            margin: 6px;
            position: absolute;
            top: 0;
            bottom: 0;
            border-radius: 20px;
            left: 0;
            background-color: #203D7A;
            //transition: all 0s ease-in 0.3s;
        }

        .fmf-swich-checkbox{
            &:checked {
                + .fmf-swich-label {
                    .fmf-swich-inner {
                        margin-left: -100%;
                    }
                    .fmf-swich-switch {
                        left: auto;
                        right: 0;
                        background-color: #FF7A4D;
                    }
                }
            }
            &:focus{
                + .fmf-swich-label {
                    outline: 5px auto -webkit-focus-ring-color;
                    outline-offset: -2px;
                }
            }
        }
        .fmf-swich_text {
            position: absolute;
            width: auto;
            display: block;
            top: 0;
            font-size: em(14);
            padding: 0.7em 0 0.7em em(115);
            color: $TXT_cromatico_2;
            font-family: OpenSans;
            z-index: 0;
        }
        .fmf-swich_link {
            font-family: OpenSans-bold;
            color: $TXT_cromatico_2;
            text-decoration: underline;
        }
    }
    // Checkbox iconos  Formulario Conecta-formulario
    .fmf-fieldGroupIcon{
        display: inline-block;
        vertical-align: top;
        width: em(90);
        margin-right: em(15);
    }
    .fmf-checkIcon{
        $fontBaseThis: 14;
        font-family: "OpenSans";
        font-size: em($fontBaseThis);
        color: $TXT_cromatico_5;
        text-align: center;
        cursor: pointer;
        &:before{
            display: block;
            margin-bottom: em(20,$fontBaseThis);
            width: em(88,$fontBaseThis);
            height: em(88,$fontBaseThis);
        }
        // Iconos para checkbox de contactar - contecta formulario
        @include iconsCheckbox("ico-phoneIn","quiero-que-me-llame");
        @include iconsCheckbox("ico-phoneOut","quiero-llamar");
        @include iconsCheckbox("ico-skype-square","skype");
        @include iconsCheckbox("ico-facetime","facetime");
        @include iconsCheckbox("ico-email","email");
        @include iconsCheckbox("ico-insitu","presencial");
        @include iconsCheckbox("ico-whatsapp","whatsapp");
        @include iconsCheckbox("ico-line","line");
        @include iconsCheckbox("ico-facebookMss","facebook-messenger");
        @include iconsCheckbox("ico-other","otra");

        // Iconos checkbox info seguros - conecta formulario
        @include iconsCheckbox("ico-car","coche-formulario");
        @include iconsCheckbox("ico-moto","moto-formulario");
        @include iconsCheckbox("ico-home","hogar-formulario");
        @include iconsCheckbox("ico-health","salud-formulario");
        @include iconsCheckbox("ico-freelance","autonomo-formulario");
        @include iconsCheckbox("ico-travel","viajes-formulario");
        @include iconsCheckbox("ico-accident","accidentes-formulario");
        @include iconsCheckbox("ico-boat","embarcaciones-formulario");
        @include iconsCheckbox("ico-life","vida-inversion-formulario");
        @include iconsCheckbox("ico-other02","otros-formulario");
        
    }
    .fmf-linkIcon{
        $fontBaseThis: 14;
        display: block;
        text-decoration: none;
        font-family: "OpenSans";
        font-size: em($fontBaseThis);
        color: $TXT_cromatico_5;
        text-align: center;
        cursor: pointer;

        &:before{
            display: block;
            margin-bottom: em(20,$fontBaseThis);
            width: em(88,$fontBaseThis);
            height: em(88,$fontBaseThis);
        }
        &.ico-smsInstant{
            &:before{
                content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_formConect/mensajeria-instantanea.png");
            }
            &.xui-activo, &:hover, &:focus{
                &:before{
                    content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_formConect/mensajeria-instantanea-activo.png");
                }
            }
        }
    }
    .fmf-smsInstant, .fmf-contentInfo{
        display: none;
        margin-top: em(35);
        padding: em(20) em(10) em(20) em(20);
        width: em(466);
        border: 1px solid $BDR_cromatico_2;
        @include border-radius (10px);
        background-color: $BG_cromatico_8;
    }
    .fmf-checkIconInput{
        position: absolute;
        left: -999em;
        &:checked{
            + .fmf-checkIcon{
                // @include iconsCheckboxChecked ("ico-phoneIn", $iconName);
                @include iconsCheckboxChecked("ico-phoneIn","quiero-que-me-llame");
                @include iconsCheckboxChecked("ico-phoneOut","quiero-llamar");
                @include iconsCheckboxChecked("ico-skype-square","skype");
                @include iconsCheckboxChecked("ico-facetime","facetime");
                @include iconsCheckboxChecked("ico-email","email");
                @include iconsCheckboxChecked("ico-insitu","presencial");
                @include iconsCheckboxChecked("ico-whatsapp","whatsapp");
                @include iconsCheckboxChecked("ico-line","line");
                @include iconsCheckboxChecked("ico-facebookMss","facebook-messenger");
                @include iconsCheckboxChecked("ico-other","otra");

                // Iconos checkbox info seguros - conecta formulario
                @include iconsCheckboxChecked("ico-car","coche-formulario");
                @include iconsCheckboxChecked("ico-moto","moto-formulario");
                @include iconsCheckboxChecked("ico-home","hogar-formulario");
                @include iconsCheckboxChecked("ico-health","salud-formulario");
                @include iconsCheckboxChecked("ico-freelance","autonomo-formulario");
                @include iconsCheckboxChecked("ico-travel","viajes-formulario");
                @include iconsCheckboxChecked("ico-accident","accidentes-formulario");
                @include iconsCheckboxChecked("ico-boat","embarcaciones-formulario");
                @include iconsCheckboxChecked("ico-life","vida-inversion-formulario");
                @include iconsCheckboxChecked("ico-other02","otros-formulario");
            }
        }
    }
    // Fin de checkbox
    
    // Input de timepicker
    .fmf-timepicker{
        background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_timepicker/seleccion-hora.png") 98% center no-repeat;
    }
    .listMotive{
        width: 100%;
        .lm-item{
            margin-bottom: em(10);
            width: 100%;
            .fmf-linkInfo{
                position: relative;
                display: block;
                padding: em(30) em(35);
                font-family: "Montserrat";
                color: $TXT_cromatico_4;
                cursor: pointer;
                border: 1px solid #cccccc;
                border-radius: em(10);
                &:after{
                    content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_formField/flecha4-abajo.png");
                    position: absolute;
                    top: 31px;
                    right: 20px;
                }
                &.xui-activo{
                    &:after{
                        content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_formField/flecha4-arriba.png");
                    }
                }
            }
            .fmf-fieldGroupIcon{
                margin-bottom: em(20);
            }
            .fmf-checkIcon:before{
                width: em(67,14);
                height: em(67,14);
                margin: auto;
                margin-bottom: em(20);
            }
            .fmf-contentInfo{
                margin-top: em(25);
                width: 100%;
                padding-left: em(100);
                padding-right: em(100);
                text-align: center;
            }
            .fmf-label{
                display: block;
                padding: em(30) em(35);
                font-family: "Montserrat";
                color: $TXT_cromatico_4;
                cursor: pointer;
                border: 1px solid #cccccc;
                border-radius: em(10);
                &:hover{
                    background-color: $BG_cromatico_1;
                    color: $TXT_cromatico_1;
                    border-color: transparent;
                }
            }
            .fmf-input{
                position: absolute;
                left: -999em;
                &:checked{
                    + .fmf-label{
                        background-color: $BG_cromatico_1;
                        color: $TXT_cromatico_1;
                        border-color: transparent;
                    }
                }
            }
        }
    }
    .ico-back{
        float: left;
        margin-top: em(17);
    }
}

.mod-formNews {
    height: inherit;
    background-color: $BG_cromatico_3;
    min-height: em(354);

    .frmN-fieldset {

    }
    .frmN-legend {
        float: left;
        margin-top: 4em;
        font-family: Montserrat;
        color: $TXT_cromatico_2;
    }
    .frmN-tit, .frmN-subtit {
        float: left;
        width: 100%;
        text-align: center;
        color: $TXT_cromatico_2;
    }
    .frmN-tit {
        font-size: em(40);
        margin-bottom: 0.2em;
    }
    .frmN-subtit {
        font-size: em(18);
        margin-bottom: 0.4em;
    }
    .frmN-parrafo {
        float: left;
        width: 100%;
        text-align: center;
        font-size: em(22);
        color: $TXT_cromatico_2;
    }
    .frmN-input {
        float: left;
        width: 100%;
        background-color: $BG_cromatico_7;
        border: 0;
        @include border-radius(5px);
        font-family: Montserrat;
        font-size: em(18);
        padding: 0.65em 0.8em 0.85em 0.8em;
        color: $TXT_cromatico_2;
        &::-webkit-input-placeholder, {
            color: $TXT_cromatico_3;
        }
        &:-moz-placeholder {
            color: $TXT_cromatico_3;
        }
        &::-moz-placeholder {
            color: $TXT_cromatico_3;
        }
        &:-ms-input-placeholder {
            color: $TXT_cromatico_3;
        }
    }
    .btn-orange {
        width: 100%;
    }
    .frmN-fila {
        margin-top: 25px;
    }
}

//End _mod_formField*/

//VIEW LARGE
@mixin l-mod_formField {

}

//VIEW TABLET
@mixin m-mod_formField {
    .mod_formField {
        .fmf-swich {
            .fmf-swich_text {
                width: 21em;
                padding: 0 0 0 7.1875em;
            }
        }
        .fmf-linkShowMore{
            display: block;
            padding-top: em(20);
            float: right;
        }
    }
    .mod-formNews {
        .frmN-parrafo {
            font-size: em(15);
        }
    }
}

//VIEW MOBILE
@mixin s-mod_formField {
    .mod_formField{
        .fmf-smsInstant{
            width: 100%;
        }
        .fmf-fieldGroupInline{
            .fmf-label{
                float: left;
            }
        }
        .listMotive{
            .lm-item{
                .fmf-contentInfo{
                    padding-left: em(16);
                    padding-right: em(16);
                }
                .fmf-linkInfo,.fmf-label{
                        padding-left: 0;
                        border-right: 0;
                        border-left: 0;
                        border-radius: 0;
                        padding-right: em(50);
                        &:after{
                            top:55px;
                        }
                }
                .fmf-label{
                    padding-left: em(20);
                    border-right: 0;
                    border-left: 0;
                    border-radius: 0;
                    padding-right: em(20);
                }
            } 
        }
        .fmf-groupFile{
            
            .fmf-labelFile{
                margin-left: 0;
                float: right;
            }
            .fmf-file{
                display: inline-block;
                width: 100%;
                margin-bottom: 10px;
            }
        } 
    }
    .fmf-search{
        margin-left: em(-15);
    }
    .mod-formNews {
        .frmN-parrafo {
            font-size: em(15);
        }
        .frmN-legend {
            margin-top: 2.55em;
        }
    }
}