//****************************************************************************
//    Proyect: Allianz Zona
//    Title: _mod_tags
//    Description: Styles for _mod_tags
//*****************************************************************************/
//mod_tags*/
.mod_tags {
    &.tgs-spacing{
        margin-top: em(20);
    }
    .tgs-title {
        font-family: "OpenSans";
        font-size: em(20);
        color: #1F3D79;
    }
    .tgs-number {
        font-family: "OpenSans-Bold";
        font-size: em(25, 20);
    }
    .tgs-list {
        @include clearfix;
    }
    .tgs-listItem {
        display: inline-block;
        margin: em(15) 0 0 em(10);
        vertical-align: middle;
        &:first-child {
            margin-left: 0;
        }
    }
    .tgs-listItemLink {
        position: relative;
        display: block;
        padding: em(10.5, 14) em(15, 14) em(10.5, 14) em(15, 14);
        font-family: "OpenSans-Semibold"; //semibold
        font-size: em(14);
        color: #FFF;
        background-color: #1F3D79;
        border-radius: 20px;
        text-decoration: none;
        .tgs-close{
            margin-left: 10px;
        }
        // &:after {
        //     content: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-close-white.png");
        //     position: absolute;
        //     top: 50%;
        //     right: 10px;
        //     width: 11px;
        //     height: 11px;
        //     margin-top: -4px;
        //     line-height: 0;
        // }
    }
}

//End _mod_tags*/

//VIEW LARGE
@mixin l-mod_tags {

}

//VIEW TABLET
@mixin m-mod_tags {

}

//VIEW MOBILE
@mixin s-mod_tags {

}