//****************************************************************************
//    Proyect: Allianz Zona
//    Title: _mod_vive
//    Description: Styles for mod_vive
//*****************************************************************************/
.mod_vive{
    // Adaptación de las diagonales para esta vista.
    .mod-homeRow2TapVive{
        position: relative;
        z-index:11;
        background-color: #ffffff;
        height: em(200);
        margin-top: 0;
        transform: skew(0deg, 2.6deg);
        -webkit-transform: skew(0deg, 2.6deg);
        -moz-transform: skew(0deg, 2.6deg);
        -o-transform: skew(0deg, 2.6deg);
        -ms-transform: skew(0deg, 2.6deg);
    }
    .mod-homeRow3{
        &.homeRowLast{
            z-index:5;
        }
    }
    .mod-homeRow3Tap{
        &.homeFinal{
            margin-bottom: em(40);
        }
    }
    .mod-homeRow4Vive{
        height: 27.5em;
        overflow: hidden;
        transform: skew(0deg, 2.6deg);
        -webkit-transform: skew(0deg, 2.6deg);
        -moz-transform: skew(0deg, 2.6deg);
        -o-transform: skew(0deg, 2.6deg);
        -ms-transform: skew(0deg, 2.6deg);
        position: relative;
        margin-top: -88px;
        width: 100%;
        z-index: 7;
        .hr4-content {
            height: em(450);
            transform:          skew(0deg, -2.6deg) ;
            -webkit-transform:  skew(0deg, -2.6deg) ;
            -moz-transform:     skew(0deg, -2.6deg) ;
            -o-transform:       skew(0deg, -2.6deg) ;
            -ms-transform:      skew(0deg, -2.6deg) ;
            position: absolute;
            top: 25px;
            width: 100%;
        }
    }
    .mv_titVive{
        padding-top: em(40);
        text-align: center;
        z-index: 12;
        .mv-tith2{
            font-family: "Montserrat-Bold";
            font-size: em(40);
            color: $TXT_cromatico_9;
            .mv-sub{
                display: block;
            }
        }
    }
    // Contenido interior de las cajas
    .mv-boxL, .mv-boxR{
        display: block;
        height: 100%;
        padding: 0;
        .mv-boxInner{
            display: block;
            height: 100%;
            width: 80%;
            background-color: rgba(31,61,121,0.9);
            .mv-content{
                display: none;
            }
            &:hover{
                background-color: rgba(255,255,255,0.9);
            }
            .mv-link{
                $fontBase: 50;
                display: block;
                height: 100%;
                padding: em(160,$fontBase) em(60,$fontBase) em(75,$fontBase);
                font-family: "Montserrat-Bold";
                font-size: em($fontBase);
                color: $TXT_cromatico_1;
                text-decoration: none;
                &:hover{
                    $fontBaseHover: 40;
                    font-size: em( $fontBaseHover);
                    color:$TXT_cromatico_10;
                    padding-top: em(60, $fontBaseHover);
                    > .mv-content{
                        display: block;
                        margin-top: em(40, $fontBaseHover);
                    }
                }
                .mvc-text{
                    margin-bottom: em(40,40);
                    font-size: em(20,40);
                    font-family: "Montserrat";
                    color: $TXT_cromatico_9;
                }
            }
        }
    }
    .mv-boxL{
        border-right: em(5) solid $BDR_cromatico_4;
        .mv-boxInner{
            float: right;
        }
    }
    .mv-boxR{
        border-left: em(5) solid $BDR_cromatico_4;
    }
    // Enlaces de las cajas

    // Background boxes and content
    .mod-homeRow3{
        .mv-boxL{
            background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_vive/windows.jpg") no-repeat top left $BG_cromatico_3;
        }
        .mv-boxR{
            background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_vive/road.jpg") no-repeat top left $BG_cromatico_3;
        }
    }
    .mod-homeRow4Vive{
        .mv-boxL{
            background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_vive/wedding.jpg") no-repeat top left $BG_cromatico_3;
            .mv-boxInner{
                .mv-link{
                    &:hover{
                        padding-top: em(100, 40);
                    }
                }
            }
        }
        .mv-boxR{
            background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_vive/coffe.jpg") no-repeat top left $BG_cromatico_3;
        }
    }
    .mod-homeRow3.homeRowLast{
        .mv-boxL{
            background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_vive/home.jpg") no-repeat top left $BG_cromatico_3;
        }
        .mv-boxR{
            background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_vive/travel.jpg") no-repeat top left $BG_cromatico_3;
        }
    }
    // Estilos para las cajas inferiores
    .mvn-titH3{
        font-family: "Montserrat-Bold";
        font-size: em(35);
        color: $TXT_cromatico_9;
    }
    .mvn-sub{
        display: block;
        font-size: em(23,35);
        font-family: "Montserrat";
        color: $TXT_cromatico_9;
        margin-top: em(20,23);
        margin-bottom: em(20,23);
    }
    .mv-needHelp{
        position: relative;
        background-color: $BG_cromatico_1;
        margin-bottom: em(80);
        &:after{
            content:"";
            position: absolute;
            right:0;
            top: 0;
            width: em(300);
            min-height: em(300);
            background-color: #132c5d;
            z-index: 1;
        }
        .mvn-boxO{
            padding-top: em(60);
            padding-bottom: em(30);
            background-color: $BG_cromatico_1;
            height: 100%;
            min-height: em(300);
            border-right: em(5) solid $BDR_cromatico_4;
            &:nth-child(3){
                border-right: none;
            }
        }
        .mvn-boxA{
            padding: em(60) 0 em(30) em(40);
            background-color: $BG_cromatico_12;
            min-height: em(300);
            z-index: 2;
        }
        .mvn-link{
            display: block;
            font-family: "Montserrat-Bold";
            font-size: em(30);
            text-decoration: none;
            color: $TXT_cromatico_1;
        }
        .mvn-text{
            font-family: "Montserrat";
            font-size: em(20);
            color: $TXT_cromatico_1;
            margin-bottom: em(40,20);
        }
        .mod_botonera{
            .btn-orange.ico-conecta.mvn-button{
                background-position: 15px center;
                padding-left: em(45,18);
            }
        }
    }
}

//VIEW LARGE
@mixin l-mod_vive {
    .mod_vive{
    }
}

@mixin resetDiagol{
    position:inherit;
    transform:          skew(0deg, 0deg);
    -webkit-transform:  skew(0deg, 0deg);
    -moz-transform:     skew(0deg, 0deg);
    -o-transform:       skew(0deg, 0deg);
    -ms-transform:      skew(0deg, 0deg);
}
//VIEW TABLET
@mixin m-mod_vive {
    .mod_vive{
        

        .mv_titVive{
            padding-top:em(40);
            padding-left:em(25);
            .mv-tith2{
                font-size: em(25);
                text-align: left;
            }
        }
        .mod-homeRow2TapVive,.mod-homeRow2Tap,.mod-homeRow3Tap{
            display: none;
        }
        
        .mod-homeRow3{
            margin-bottom: em(40);
            height:auto;
            @include resetDiagol;
            @include clearfix;
            .hr3-content{
                height:auto;
                @include resetDiagol;
                @include clearfix;
            }
            &.homeRowLast{
                display: none;
                margin-top: 0;
                margin-bottom: em(40);
                height:auto;
                @include resetDiagol;
                @include clearfix;
                .hr3-content{
                    top:0;
                    .mv-boxL, .mv-boxR{
                        display:none;
                    }
                }
            }
        }
        .mod-homeRow4Vive{
            display: none;
            margin-top: 0;
            margin-bottom: em(40);
            height:auto;
            @include resetDiagol;
            @include clearfix;
            .hr4-content{
                top:0;
                height:auto;
                @include resetDiagol;
                @include clearfix;
                .mv-boxL, .mv-boxR{
                    display:none;
                }
            }
        }
        .mv-boxR{
            // display: none;
            margin-top: em(40);
            position:inherit;
            border: inherit;
            .mv-boxInner{
                float: right;
            }
        }
         // Contenido interior de las cajas
        .mv-boxL, .mv-boxR{
            height: em(370);
            .mv-boxInner{
                background-color: rgba(255,255,255,0.9);
                .mv-link{
                    $fontBase: 20;
                    padding: em(50,$fontBase) em(60,$fontBase) em(75,$fontBase);
                    font-size: em($fontBase);
                    color:$TXT_cromatico_10;
                    &:hover{
                        padding: em(50,$fontBase) em(60,$fontBase) em(75,$fontBase);
                        font-size: em($fontBase);
                        color:$TXT_cromatico_10;
                        > .mv-content{
                            margin-top: em(40,20);
                            .mvc-text{
                                margin-bottom: em(20,20);
                                font-size: em(13,20);
                                font-family: "Montserrat";
                                color: $TXT_cromatico_9;
                            }
                        }
                    }
                }
                .mv-content{
                    display: block;
                    margin-top: em(40,20);
                    .mvc-text{
                        margin-bottom: em(20,20);
                        font-size: em(13,20);
                        font-family: "Montserrat";
                        color: $TXT_cromatico_9;
                    }
                }
            }
        }
        .mod-homeRow4Vive{
            .mv-boxL{
                .mv-boxInner{
                    .mv-link{
                        &:hover{
                            padding-top: em(100,20);
                        }
                    }
                }
            }
        }
        // // Estilos para las cajas inferiores
        .mvn-titH3{
            font-size: em(25);
        }
        .mvn-sub{
            display: block;
            font-size: em(18,25);
        }
        .mv-needHelp{
            background-color:$BG_cromatico_3;
            padding-left: em(15);
            padding-right: em(15);
            margin-bottom: em(40);
            &:after{
                content: initial;
            }
            .mvn-boxO{
                padding-top: 0;
                padding-bottom: 0;
                min-height: initial;
                border-right: none;
                border-bottom: em(5) solid $BDR_cromatico_4;
                &:nth-child(3){
                    border-bottom: none;
                }
            }
            .mvn-boxA{
                padding: em(40) em(25);
                min-height: initial;
            }
            .mvn-link{
                padding: em(40,20) em(15,20);
                font-size: em(20);
            }
            .mvn-text{
                font-size: em(18);
            }
            .mod_botonera{
                .btn-orange.ico-conecta.mvn-button{
                    background-position: 15px center;
                    padding-left: em(45,18);
                }
            }
        }

    }
}

//VIEW MOBILE
@mixin s-mod_vive {
    .mod_vive{
        .mv_titVive{
            padding: em(25) em(15) 0 em(15);
            text-align: left;
            .mv-tith2{
                font-size: em(25);
            }
        }
        .mv-boxL, .mv-boxR{
            .mv-boxInner{
                .mv-link, .mv-link:hover{
                    padding: em(30,20) em(20,20) em(15,20);

                    }
                .mvc-text{
                }
            }
        }
        .mv-needHelp{
            .mvn-link{
                padding-top: em(25,20);
                padding-bottom: em(25,20);
            }
            .mod_botonera{
                .btn-orange.ico-conecta.mvn-button{
                    background-position: 10px center;
                    font-size: em(16);
                    padding-left: em(40,16);
                    width: 100%;
                }
            }
        }
    }
}