//****************************************************************************
//    Proyect: Allianz Zona
//    Title: mod_banner
//    Description: Styles for _mod_banner
//*****************************************************************************/
//mod_banner*/
.mod_banner {
    @include clearfix;
    display: block;
    border: 1px solid $BDR_cromatico_1;
    padding: em(30) em(20);
    .bnr-tit {
        font-size: em(20);
        color: $TXT_cromatico_2;
        font-family: Montserrat;
        margin-bottom: 0.8em;
    }
}


//End mod_banner*/

//VIEW LARGE
@mixin l-mod_banner {

}

//VIEW TABLET
@mixin m-mod_banner {
    .mod_banner{
        margin: 0 -15px;
        padding: em(40) em(25);
        border-left: 0;
        border-right: 0;
        .bnr-tit{
            display: inline-block;
            vertical-align: middle;
            width: 40%;
            font-size: em(18);
            margin: 0;
        }
    }
    .mod-homeRow1_XL {
        .mod-banner {
            top: -1em;
        }
    }
}

//VIEW MOBILE
@mixin s-mod_banner {
    .mod-homeRow1_XL {
        .mod_banner {
            top: -1em;
        }
    }
}