//*****************************************************************************
//    Proyecto: Allianz Zona
//    Titulo: mod_ftr_content
//    Desripcion: Estilos carrusel para text de productos
//******************************************************************************/

$bgColor: $BG_cromatico_9;
$bgColor2: $BG_cromatico_1;
$textColor: $TXT_cromatico_1;

.mod_ftr_content{
	position: relative;
	background-color: $bgColor;
	&:before {
		content: "";
		position: absolute;
		background-color: #FF7A4D;
		width: 50%;
		height: 100%;
		top: 0;
		z-index: 0;
		left: 0;
	}
	&:after {
		content: "";
		position: absolute;
		background: #962476;
		width: 50%;
		height: 100%;
		top: 0;
		z-index: -1;
		right: 0;
	}
	.ftr-boxName{
		position: relative;
		min-height: em(55);
		background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/ico-box.jpg") right center no-repeat #FF7A4D;
	}
	.ftr-name{
		position: relative;
		color: $textColor;
		text-decoration: none;
		font-family: OpenSans;
		font-size: em(18);
		vertical-align: middle;
		text-align: left;
		padding-top: em(15,18);
		padding-bottom: em(15,18);
	}
	.ftr-legal{
		position: relative;
		min-height: em(55);
		background-color: $bgColor;
		float: right;
		text-align: right;
		.ftr-item{
			display: inline-block;
			.ftr-link{
				font-family: OpenSans;
				display: block;
				padding: em(16.5) em(30);
				color: $textColor;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		&:before{
	 		content: "";
			background-color: $bgColor;
			position: absolute;
			top: 0;
			left: 50px;
			width: 100%;
			height: 100%;
			margin-left: -15px;
 			padding-left: 15px;
		    box-sizing: initial;
    		z-index: -1;
	 	}
	}
}

@mixin l-mod_ftr_content{
	.mod_ftr_content{
		.ftr-legal{
			&:before{
				width: 95%;
			}
		}
	}
}
@mixin m-mod_ftr_content{
	.mod_ftr_content{
		.ftr-legal{
			padding-top: em(16);
			padding-bottom: em(16);
			&:before{
				width: 92%;
			}
			.ftr-item{
				display: block;
				text-align: center;
			}
		}
		.ftr-boxName{
			background: none;
		}
		.ftr-name{
			padding-top: em(15,18);
			padding-bottom: em(15,18);
			background-color: #FF7A4D;
			text-align: center;
			&:after{
				content: "";
				background:url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/ico-box.jpg") left center no-repeat #962476;
				position: absolute;
				top: 0;
				right: 0;
				width: 31%;
				height: 100%;
			}
		}
	}
}
@mixin s-mod_ftr_content{
	.mod_ftr_content{
		.ftr-legal{
			&:before{
				width: 82%;
			}
		}
		.ftr-boxName{
			background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_footer/ico-box.jpg") right center no-repeat #FF7A4D;
		}
		.ftr-name {
			background-color: transparent;
			&:after {
				display: none;
			}
		}
	}
}