//****************************************************************************
//    Proyect: Allianz Zona
//    Title: mod_search
//    Description: Styles for _mod_search
//*****************************************************************************/
//mod_search*/
.mod_search {
    &.sch-spacing{
        margin-top: em(80);
    }
    .sch-result {
        margin-top: em(30, 20);
        font-family: "Montserrat";
        font-size: em(20);
        line-height: 120%;
        color: #666;
        font-style: italic;
    }
    .sch-list {
        padding-bottom: em(50);
    }
    .sch-listItem {
        @include clearfix;
        margin-top: em(40);
    }
    .sch-listItemLink {
        font-family: "Montserrat";
        font-size: em(30);
        line-height: 120%;
        color: #1F3D79;
        &.ico-twitter{
            display: inline-block;
            padding: em(3,30) 60px em(3,30) 0;
        }
    }
    .sch-description {
        margin-top: em(20, 18);
        font-family: "OpenSans";
        font-size: em(18);
        line-height: 150%;
        color: #333;

    }
    .sch-link {
        display: inline-block;
        color: #1D3A7A;
    }
    .sch-medium {
        margin-top: em(10);
        padding: em(10) em(40) em(10) 0;
        float: left;
        width: 50%;
        + .sch-medium {
            padding: em(10) 0 em(10) em(40);
            border-left: 1px solid #BBB;
        }
        .sch-description {
            margin-top: 0;
        }
    }

}

//End mod_search*/

//VIEW LARGE
@mixin l-mod_search {

}

//VIEW TABLET
@mixin m-mod_search {
    .mod_search {
        &.sch-spacing{
            margin-top: em(20);
        }
        .sch-medium {
            width: 100%;
            padding: em(10) 0;
            +.sch-medium{
                padding: em(10) 0;
                border: 0;
            }

        }
        .sch-result{
            margin-top: em(40, 14);
            font-size: em(14);
        }
        .sch-listItemLink{
            font-size: em(18);
            &.ico-twitter{
                background-position: left bottom;
                padding: em(3,18) 0 40px 0;
            }
        }
        .sch-description{
            font-size: em(14);
            margin-top: em(20,14);
        }
        .mod_paginator{
            margin: 0 em(-15);
        }
    }
}

//VIEW MOBILE
@mixin s-mod_search {
    .mod_search{
        .mod_paginator{
            .pgr-listItemLink{
                &.pgr-prev,&.pgr-next{
                    margin: 0 em(15);
                }
                &.pgr-page{
                    margin-right: em(3);
                }
            }
        }
    }
}