//****************************************************************************
//    Proyect: Allianz Zona
//    Title: mod_social
//    Description: Styles for mod_social
//*****************************************************************************/
//mod_social*/
.mod_social {
    &.scl-spacing{
        margin-top: em(20);
    }
    .scl-listItem{
        display: inline-block;
        margin-left: em(25);
        &:first-child{
            margin-left: 0;
        }
    }
    .scl-listItemLink{
        position: relative;
        display: inline-block;
        text-indent: -999em;
        width: 62px;
        height: 62px;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-indent: 0;
        }
        &.scl-facebook{
            &:after{
                content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_social/ico-facebook.png");
            }
            &:hover{
                &:after{
                    content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_social/ico-facebook-hover.png");
                }
            }
        }
        &.scl-twitter{
            &:after{
                content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_social/ico-twitter.png");
            }
            &:hover{
                &:after{
                    content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_social/ico-twitter-hover.png");
                }
            }
        }
        &.scl-google{
            &:after{
                content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_social/ico-google.png");
            }
            &:hover{
                &:after{
                    content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_social/ico-google-hover.png");
                }
            }
        }
        &.scl-linkedin{
            &:after{
                content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_social/ico-linkedin.png");
            }
            &:hover{
                &:after{
                    content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_social/ico-linkedin-hover.png");
                }
            }
        }
    }

}

//End _mod_social*/

//VIEW LARGE
@mixin l-mod_social {

}

//VIEW TABLET
@mixin m-mod_social {
    .mod_social{
        width: 100%;
        &.scl-spacing{
            margin: 0;
        }
        .scl-list{
            width: 50%;
            margin: 0 auto;
            text-align: center;
        }
    }
}

//VIEW MOBILE
@mixin s-mod_social {
    .mod_social{
        width: 100%;
        .scl-list{
            width: 100%;
        }
        .scl-listItem{
            width: 45%;
            margin: em(5) 0 em(10) 0;
        }
    }
}