//****************************************************************************
//    Proyect: desarrollo
//    Title: _mod_accordion
//    Description: Styles for _mod_accordion
//*****************************************************************************/
//mod_accordion*/
.mod_accordion {
    &.ui-accordion {
        padding: 0;
        .ui-accordion-header{
            margin: 0;
            padding: em(10,14);
            font-family: "OpenSans";
            font-size: em(14);
            color: #203D7A;
            line-height: 120%;
            .ui-accordion-header-icon{
                top: 50%;
                left: auto;
                right: 5px;
                width: 17px;
                height: 11px;
                margin-top: -5px;
                line-height: 0;
                &:after{
                    content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_accordion/arrow-bottom.png");
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    text-indent: 0;
                }
            }
            &.ui-state-active {
                .ui-accordion-header-icon {
                    &:after {
                        content: url("../" + $CONFIG_IMG_PATH + "/modules/mod_accordion/arrow-top.png");
                    }
                }
            }
        }
        .ui-accordion-content{
            margin: 0;
            padding: 0 0 em(10);
        }
        // Estilos para la cabecera y el cuerpo del acordeon en la pagina de Conecta - Formulario
        .acn-headForm{
            padding-left: 0;
            font-family: "Montserrat-Bold";
            color: $TXT_cromatico_2;
            font-size: em(20);
            // Estilos para el numero del formulario
            .acn-headNumber{
                font-family: "Montserrat";
                font-size: em(40,20);
            }
            .ui-accordion-header-icon{
                display: none;
            }
        }
        .acn-bodyForm{
            padding-left: em(40);
            padding-top: em(40);
            overflow: inherit;
        }
    }
}

//End _mod_accordion*/

//VIEW LARGE
@mixin l-mod_accordion {

}

//VIEW TABLET
@mixin m-mod_accordion {
    .mod_accordion{
        &.ui-accordion{
            .acn-headForm{
                border-top: 1px solid $BDR_cromatico_2;
                border-bottom: 1px solid $BDR_cromatico_2;
                font-size:em(14);
                padding: em(25) em(40) em(25) 0;
                .acn-headNumber{
                    font-size: em(40,14);
                }
                &:after, &.ui-accordion-header-active:after{
                    position: absolute;
                    top: 30px;
                    right: 20px;
                }
                &:after{
                    content: url("../images/modules/mod_formField/flecha4-abajo.png");
                }
                &.ui-accordion-header-active{
                    &:after{
                        content: url("../images/modules/mod_formField/flecha4-arriba.png");
                    }
                }
            }
            .acn-bodyForm,.acn-bfList{
                padding-left:0;
                padding-right:0;
            }
        } 
    }
}

//VIEW MOBILE
@mixin s-mod_accordion {

}