//****************************************************************************
//    Proyect: Allianz Zona
//    Title: mod_combobox
//    Description: Styles for mod_combobox
//*****************************************************************************/
//mod_combobox*/
.ui-selectmenu-button {
    display: block;
    padding: em(5) 25px em(5) em(8);
    font-family: "Montserrat";
    font-size: em(16);
    color: #1F3D79;
    width: 100%!important;
    .ui-icon{
        top: 0;
        right: 0;
        margin: 0;
        width: 17px;
        height: 100%;
        background:url("../" + $CONFIG_IMG_PATH + "/modules/icons/arrow-bottom-orange.png") no-repeat center center transparent;
    }
    .ui-selectmenu-text{
        padding: 0;
        color: #1F3D79;
        line-height: 120%;
    }
}

.ui-selectmenu-menu{
    font-size:em(14);
    background-color: #FFF;
    .ui-menu{
        max-height:16em;
        margin-top:-1px;
        .ui-menu-item {
            padding:em(8) em(10);
            &.ui-state-focus,&.ui-state-active{
                margin:0;
                background: #FF794C;
            }
        }
    }
}

//End mod_combobox*/

//VIEW LARGE
@mixin l-mod_combobox {

}

//VIEW TABLET
@mixin m-mod_combobox {

}

//VIEW MOBILE
@mixin s-mod_combobox {

}