//****************************************************************************
//    Proyect: Allianz
//    Title: mod_header
//    Description: Styles for _mod_header
//*****************************************************************************/
//mod_header*/
.mod_header {
    $BG-background-primary: $BG_cromatico_9;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: em(1600);
    margin: 0 auto;
    z-index: 99;
    background-color: $TXT_cromatico_1;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 15%;
        height: 100%;
        //margin-left: -15px;
        //padding-left: 15px;
        background-color: $BG-background-primary;
        box-sizing: initial;
        z-index: -1;
    }
    .hdr-logo {
        position: relative;
        float: left;
        width: 19.5%;
        padding: em(20.5) em(15) em(20.5) em(5);
        background-color: $BG-background-primary;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: -65px;
            width: 65px;
            height: 100%;
            background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_header/bg_logo.png") no-repeat top right transparent;
        }

    }
    .hdr-logoLink {
        display: block;
    }
    .hdr-img {
        img {
            display: block;
            width: auto;
            max-width: 100%;
            margin: 0 auto;
            &.hdr-logoMobile {
                display: none;
            }
        }
    }
    .hdr-search {
        float: left;
        padding: em(26.5) 0 em(26.5) em(25);
        .mod_formField{
            height: 34px;
        }
        &.active {
            display: block !important;
            width: 83.5%;
            padding-bottom: em(19.5);
            .hdr-searchLink {
                float: right;
            }
            .hdr-searchField {
                display: block;
                .fmf-field {
                    &.fmf-text {
                        display: block;
                        height: auto;
                    }
                }
            }
        }
    }

    .hdr-language {
        position: relative;
        float: left;
        padding: em(29) 0 em(29) em(20);
        width: 10%;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 120%;
            border-right: 2px solid $TXT_cromatico_1;
            -webkit-transform: skew(35deg, 0deg);
            -moz-transform: skew(35deg, 0deg);
            -o-transform: skew(35deg, 0deg);
            -ms-transform: skew(35deg, 0deg);
            opacity: 0.25;
        }
    }
    .hdr-zone {
        float: right;
        padding: em(29.5) 0 em(28) em(10);
    }
    .hdr-zoneLink {
        display: block;
        padding: em(4, 13) em(10, 13) em(4, 13) 25px;
        font-size: em(13);
        color: $TXT_cromatico_4;
        background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-candado-blue.png") no-repeat center left 10px transparent;
        border: 1px solid $TXT_cromatico_4;
        border-radius: 5px;
    }
    .hdr-searchLink {
        display: inline-block;
        position: relative;
        width: 34px;
        height: 34px;
        text-indent: -999em;
        overflow: hidden;
        &:after {
            content: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-lupa-blue.png");
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-indent: 0;
        }
        &.active {
            padding-left: 78%;
        }
    }
    .hdr-searchField {
        display: none;
        float: left;
        width: 93%;
        margin-top: -9px;
        &.mod_formField {
            .fmf-text {
                padding: em(10, 20);
                font-size: em(20);
                color: $TXT_cromatico_4;
                background: transparent;
                border: 0;
                border-bottom: 2px solid $TXT_cromatico_4;
                border-radius: 0;
            }
        }
    }
    .mod_navMenu {
        float: left;
        padding-left: 65px;
        width: 80.5%;
    }
    .mod_formField {
        .fmf-field {
            &.fmf-text {
                display: none;
            }
            &.fmf-combobox {
                border: 0;
            }
        }
    }
    &.hdr-home {
        background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_header/bg_header.png") repeat-x 0 0 transparent;
        &:before{
            display: none;
        }
        .hdr-logo {
            padding: em(4) 0 0 0;
            background: transparent;
            &:before, &:after {
                display: none;
            }
        }
        .hdr-searchLink {
            &:after {
                content: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-lupa-white.png");
            }
        }
        .hdr-zoneLink {
            color: $TXT_cromatico_1;
            background-image: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-candado-white.png");
            border-color: $TXT_cromatico_1;
        }

        .mod_navMenu {
            .nvm-listItemLink {
                color: $TXT_cromatico_1;
            }
        }
        .mod_formField {
            .ui-selectmenu-button {
                .ui-selectmenu-text {
                    color: $TXT_cromatico_1;
                }
            }
            &.hdr-searchField {
                .fmf-text {
                    color: $TXT_cromatico_1;
                    border-color: $TXT_cromatico_1;
                }
            }
        }
    }
}

//End mod_header*/

//VIEW LARGE
@mixin l-mod_header {

}

//VIEW TABLET
@mixin m-mod_header {
    $BG-background-primary: $BG_cromatico_9;
    .mod_header {
        .hdr-logo {
            padding: em(21) em(15) em(21) em(5);
            background-color: $BG-background-primary;
            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: -65px;
                width: 65px;
                height: 100%;
                background: url("../" + $CONFIG_IMG_PATH + "/modules/mod_header/bg_logo.png") no-repeat top right transparent;
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 194%;
                height: 100%;
                margin-left: -15px;
                padding-left: 15px;
                background-color: $BG-background-primary;
                box-sizing: initial;
                z-index: -1;
            }
        }
        &.hdr-home {
            .hdr-logo {
                padding: em(21) em(15) em(21) em(5);
                background-color: $BG-background-primary;
                &:after {
                    display: block;
                }
                &:before {
                    display: block;
                }
            }
        }
        .hdr-img {
            img {
                &.hdr-logoMobile {
                    display: block;
                }
                &.hdr-logoDesktop {
                    display: none;
                }
            }
        }

        .hdr-language {
            width: 100%;
            padding: 0;
            background-color: #791D5F;
            &:before {
                display: none;
            }
            .ui-selectmenu-button {
                padding: em(14) 25px em(14) em(20);
                .ui-selectmenu-text {
                    color: $TXT_cromatico_1;
                }
                .ui-icon {
                    right: em(20);
                }
            }
        }
        .hdr-zone {
            width: 100%;
            padding: 0;
            background-color: #671851;
            .hdr-zoneLink {
                padding: em(16, 13) em(20, 13) em(16, 13) 40px;
                font-size: em(13);
                color: $TXT_cromatico_1;
                background: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-candado-white.png") no-repeat left 20px center;
                border: 0;
            }
        }
        .hdr-search {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0 0 0 em(20);
            background-color: $BG_cromatico_1;
            .hdr-searchLink {
                position: absolute;
                top: 50%;
                right: 15px;
                margin-top: -17px;
                &:after {
                    content: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-lupa-mobile.png");
                    top: 50%;
                    left: 50%;
                    width: 23px;
                    height: 23px;
                    margin-top: -12px;
                    margin-left: -12px;
                }
            }
            .fmf-field {
                width: 100%;
                border-radius: 0;
                padding-right: 60px;
                font-family: "OpenSans-light";
                color: #666666;
            }
            .mod_formField{
                height: auto;
            }
        }
        .hdr-searchField {
            display: block;
            float: left;
            width: 100%;
            margin-top: 0;
            &.mod_formField {
                .fmf-field {
                    &.fmf-text {
                        padding: em(14) 60px em(14) em(10);
                        font-size: em(16);
                        color: #666;
                        background: $TXT_cromatico_1;
                        border: 0;
                        //border-bottom: 2px solid #1F3D79;
                        border-radius: 0;
                    }
                }
            }
        }
        .mod_formField {
            .fmf-field {
                &.fmf-text {
                    display: block;
                }
            }
        }

    }
}

//VIEW MOBILE
@mixin s-mod_header {
    .mod_header {
        .hdr-logo {
            width: 25%;
        }
        .mod_navMenu {
            width: 75%;
        }
    }
}