//****************************************************************************
//    Proyect: Allianz Zona
//    Title: mod_modal
//    Description: Styles for mod_modal
//*****************************************************************************/
//mod_modal*/
.mod_modal {
    .modal {
        top: 0;
        padding-right: 0 !important;
        width: auto;
        margin-left: 0;
        background: transparent;
        border: 0;
        &.fade{
            &.in{
                top: 0;
            }
        }
    }
    .mod_title{
        margin: 0;
    }
    .modal-dialog{
        width: em(1037);
        max-width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: -340px auto 0 auto;
        max-height: em(680);
    }
    .modal-content{
        padding: em(50) em(100);
        height: 90%;
        text-align: left;
        border: 1px solid #BBB;
    }
    .modal-header, .modal-dialog{
        padding: 0;
        border: 0;
        .close{
            position: absolute;
            top: em(30);
            right: em(35);
            font-size: 1em;
            width: 100px;
            height: 100px;
            margin: 0;
            opacity: 1;
            text-indent: -999em;
            z-index: 9;
            &:after{
                content: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-close-orange.png");
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                text-indent: 0;
            }
        }
    }
    .modal-title{
        font-family: "Montserrat";
    }
    .modal-body{
        overflow: hidden;
        padding: em(25) 0 0;
        max-height: inherit;
    }
    .modal-footer{
        padding: em(50) 0 em(10);
        background: transparent;
        border-top: 0;
        .mod_botonera{
            text-align: center;
            border: 0;
            .btn-orange{
                float: none;
                display: inline-block;
                padding-left: em(70);
                padding-right: em(70);
            }
        }
    }
    .mod_accordion .acn-bodyForm{
        padding-top: em(30);
    }
    .fmf-aviso{
        margin: em(20) 0;
        p{
            margin-left: em(20);
        }
    }
    .fmf-swich{
        margin-top: em(20);
        padding-left: em(20);
    }
    .modalPlay {
        .modal-content{
            background-color: #000;
        }
        .modal-header{

            .close{
                background-color: transparent;
            }
        }
        .modal-dialog{
            width: 100%;
            height: 100%;
            top: 0;
            max-height: inherit;
            margin: 0;
        }
        .modal-body {
            margin-top: 75px;
            padding: ((315/420) * 100%) 0 0 0;
            iframe {
                width: 100%;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                height: 100%;
            }
        }
    }
}


//End mod_modal*/

//VIEW LARGE
@mixin l-mod_modal {

}

//VIEW TABLET
@mixin m-mod_modal {
    .mod_modal{
        .modal{
            &.fade{
                &.in{
                    box-shadow: none;
                    overflow: inherit;
                }
            }
        }
        .modal-dialog{
            width: 100%;
            height: 100%;
            top: 0;
            max-height: inherit;
            margin: em(87) 0 0 0;
        }
        .modal-content {
            padding: em(40) em(30);
            border: 0;
            box-shadow: none;
            //overflow: inherit;
            overflow-y: initial !important;
        }
        .modal-header,.modal-body{
            padding-right: 75px;
        }
        .modal-header,.modal-dialog{
            .close{
                top: em(-69);
                right: em(20);
                background-color: white;
                &:after{
                    content: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-menu-close-mobile.png");
                }
            }
        }
        .mod_accordion.ui-accordion .acn-headForm{
            border-top: 0;
            border-bottom: 0;
            padding: 0;
            &:after{
                display: none;
            }
        }
        .fmf-fieldGroupInline {
            .fmf-label{
                text-align: left;
            }
        }
        .fmf-swich{
            padding-left: 0;
            .fmf-swich_text{
                width: 100%;
                padding: em(10,14) 0 0 95px ;
            }
        }
        .fmf-aviso{
            font-size: em(14);
            p{
                margin: 0;
            }
        }
        .modalPlay {
            .modal-dialog{
                width: 100%;
                height: 100%;
                top: 0;
                max-height: inherit;
                margin: 0;
            }
            .modal-body {
                margin-top: 75px;
                padding: ((315/420) * 100%) 0 0 0;
                iframe {
                    width: 100%;
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    height: 100%;
                }
            }
            .modal-header{
                padding: 0;
                border: 0;
                .close{
                    position: absolute;
                    top: em(30);
                    right: em(35);
                    font-size: 1em;
                    width: 53px;
                    height: 53px;
                    margin: 0;
                    opacity: 1;
                    text-indent: -999em;
                    z-index: 9;
                    &:after{
                        content: url("../" + $CONFIG_IMG_PATH + "/modules/icons/ico-close-orange.png");
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        text-indent: 0;
                    }
                }
            }
        }
    }
}

//VIEW MOBILE
@mixin s-mod_modal {
    .mod_modal {
        .modal-content {
            padding: em(30) em(15);
        }
        .modal-body{
            padding-right: 0;
        }
        .modal-header {
            padding-right: em(50);
        }
        .modalPlay {
            .modal-dialog{
                width: 100%;
                height: 100%;
                top: 0;
                max-height: inherit;
                margin: 0;
            }
        }
    }
}