//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer
include modules/_mod_imageList
include modules/_mod_filter
include modules/_mod_banner
include modules/_mod_paginator

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui"> <!--<![endif]-->
+m-headBuilder({
    title: "Resultados de busqueda - Allianz Zona",
    metaList: {
        "viewport": "width=device-width, initial-scale=1.0"
    },
    cssFiles: [
        "css/styles-aui",
        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
        "css/bootstrap",
        "libs/rangeSlider/classic-min",
        "css/datepicker.min",
        "css/general",
        "css/modules"
    ],
    jsFiles: [
        "libs/jquery-1.11.3.min",
        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
        "libs/slick",
        "libs/rangeSlider/jQAllRangeSliders-min",
        "libs/datepicker/lang/es",
        "libs/datepicker/datepicker",
        "js/init",
        "js/main"
    ]
})
body
    section.dFront
        h1.hideAccessible P&aacute;gina de b&uacute;squeda
        //-mod_header
        +mod_header({
            menu: {
                items: [
                    {
                        content: "Vive"
                    },
                    {
                        content: "Conecta"
                    },
                    {
                        content: "Disfruta",
                        active: true
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main
            form(class="container mod_formField mod_search sch-spacing",method="post",action="#")
                .row
                    .col-xs-12.col-lg-7
                        .mod_title
                            h1.tit-title.tit-h1 Resultados -&nbsp;
                                span.tit-result Marc M&aacute;rquez
                .row
                    .col-xs-12.col-md-10.col-lg-7
                        fieldset.fmf-fieldset
                            legend.hideAccessible Resultados de busqueda
                            div.fmf-search
                                label(for="search-result", class="fmf-label hideAccessible") Campo de texto para buscar
                                input(type="text", class="fmf-field fmf-text", id="search-result", placeholder="Iniciar busqueda")
                                button(type="submit", class="fmf-btnSearch") Search
                            p.sch-result Se han encontrado&nbsp;
                                span.sch-number 6
                                | &nbsp;resultados
                        ul.sch-list
                            li.sch-listItem
                                h2.sch-listItemTitle
                                    a(href="#", class="sch-listItemLink") Eventos - Allianz Zona Oficial - Marc M&aacute;rquez
                                p.sch-description Zona Allianz es un espacio en el que podr&aacute;s interactuar u estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con...
                            li.sch-listItem
                                h2.sch-listItemTitle
                                    a(href="#", class="sch-listItemLink ico-twitter") Allianz (@AllianzZona) Twitter
                                .sch-medium
                                    p.sch-description Allianz will stop financing coal-based business models. Read more here:
                                        a(href="#",title="Ir a enlace",class="sch-link") bit.ly/1HjDjQv #COP21 #divest #coal
                                .sch-medium
                                    p.sch-description Allianz will stop financing coal-based business models. Read more here:
                                        a(href="#",title="Ir a enlace",class="sch-link") bit.ly/1HjDjQv #COP21 #divest #coal
                            li.sch-listItem
                                h2.sch-listItemTitle
                                    a(href="#", class="sch-listItemLink") Eventos - Allianz Zona Oficial - Marc M&aacute;rquez
                                p.sch-description Zona Allianz es un espacio en el que podr&aacute;s interactuar u estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con...
                            li.sch-listItem
                                h2.sch-listItemTitle
                                    a(href="#", class="sch-listItemLink") Eventos - Allianz Zona Oficial - Marc M&aacute;rquez
                                p.sch-description Zona Allianz es un espacio en el que podr&aacute;s interactuar u estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con...
                            li.sch-listItem
                                h2.sch-listItemTitle
                                    a(href="#", class="sch-listItemLink") Eventos - Allianz Zona Oficial - Marc M&aacute;rquez
                                p.sch-description Zona Allianz es un espacio en el que podr&aacute;s interactuar u estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con...
                            li.sch-listItem
                                h2.sch-listItemTitle
                                    a(href="#", class="sch-listItemLink") Eventos - Allianz Zona Oficial - Marc M&aacute;rquez
                                p.sch-description Zona Allianz es un espacio en el que podr&aacute;s interactuar u estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con...
                .row
                    .col-xs-12.col-md-12.col-lg-7
                        +mod_paginator({
                            cssClass: "pgr-search pgr-border",
                            items: [
                                {
                                    content: "Previous Page",
                                    type: "disabled",
                                    cssClass: "pgr-prev"
                                },
                                {
                                    content: "1",
                                    type: "active"
                                },
                                {
                                    content: "2"
                                },
                                {
                                    content: "Next Page",
                                    cssClass: "pgr-next"
                                }
                            ]
                        })

        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>