//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer
include modules/_mod_imageList
include modules/_mod_filter
include modules/_mod_tags
include modules/_mod_machine

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
+m-headBuilder({
                    title:"Conecta - Allianz Zona",
                    metaList:{
                        "viewport": "width=device-width, initial-scale=1.0"
                    }, 
                    cssFiles:[
                        "css/styles-aui",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "css/bootstrap",
                        "libs/rangeSlider/classic-min",
                        "css/datepicker.min",
                        "css/timepicker",
                        "css/general",
                        "css/modules"
                     ],
                    jsFiles:[
                        "libs/jquery-1.11.3.min",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/jquery.mobile.custom/jquery.mobile.custom.min",
                        "libs/slick",
                        "libs/rangeSlider/jQAllRangeSliders-min",
                        "libs/datepicker/lang/es",
                        "libs/datepicker/datepicker",
                        "libs/timepicker/timepicker.min",
                        "libs/jquery.easing.1.3",
                        //"libs/jquery.jSlots.min",
                        "libs/jquery.jSlots",
                        "js/init",
                        "js/main"
                    ]
                })
body
    section.dFront

        //- mod_cookie
        +mod_cookie()
        //- End mod_cookie

        //-mod_header
        +mod_header({
            menu:{
                items:[
                    {
                        content: "Vive"
                    },
                    {
                        content: "Conecta",
                        active: true
                    },
                    {
                        content: "Disfruta"
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main
            form(class="container mod_formField",method="post",action="#")
                .row
                    .col-xs-12.col-lg-9.col-lg-offset-3
                        .mod_title
                            h1.tit-title.tit-h1 Conecta con tu agente ideal
                            h2.tit-description Hay 20 agentes esperando para atenderte
                .row
                    .col-xs-12.col-lg-9.col-lg-push-3
                        +mod_machine()

                        +mod_tags({
                            cssClass: "tgs-spacing",
                            numberAgents: "5",
                            items:[
                                {
                                    content: "Mañanas"
                                },
                                {
                                    content: "Hogar"
                                },
                                {
                                    content: "Edad 35-50"
                                },

                                {
                                    content: "Deporte"
                                }
                            ]
                        })
                        +mod_imageList({
                            items:[
                                {
                                    name: "Mar&iacute;a Jos&eacute;",
                                    lastName: "Gutierrez de la Torre",
                                    profession: "Surfista",
                                    src: "img1"
                                },
                                {
                                    name: "Anna",
                                    lastName: "Abell&agrave; S&aacute;ez",
                                    profession: "Cocina francesa",
                                    src: "img2"
                                },
                                {
                                    name: "Javier",
                                    lastName: "Noyrs Carbonell",
                                    profession: "Triatleta",
                                    src: "img3"
                                },
                                {
                                    name: "Anna",
                                    lastName: "Abell&agrave; S&aacute;ez",
                                    profession: "Cocina japonesa",
                                    src: "img4"
                                }
                            ]
                        })
                    .col-xs-12.col-lg-3.col-lg-pull-9
                        +mod_filter()


        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>