//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer
include modules/_mod_imageList
include modules/_mod_filter

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
+m-headBuilder({
                    title:"Conecta - Allianz Zona - Formulario",
                    metaList:{
                        "viewport": "width=device-width, initial-scale=1.0"
                    }, 
                    cssFiles:[
                        "css/styles-aui",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "css/bootstrap",
                        "libs/rangeSlider/classic-min",
                        "css/datepicker.min",
                        "css/timepicker",
                        "css/general",
                        "css/modules"
                     ],
                    jsFiles:[
                        "libs/jquery-1.11.3.min",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/slick",
                        "libs/rangeSlider/jQAllRangeSliders-min",
                        "libs/datepicker/lang/es",
                        "libs/datepicker/datepicker",
                        "libs/timepicker/timepicker.min",
                        "js/init",
                        "js/main"
                    ]
                })
body
    section.dFront
        h1.hideAccessible Fomulario para pedir cita con un agente
        //-mod_header
        +mod_header({
            menu:{
                items:[
                    {
                        content: "Vive"
                    },
                    {
                        content: "Conecta",
                        active: true
                    },
                    {
                        content: "Disfruta"
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main
            form(class="container mod_formField",method="post",action="#")
                .row
                    .col-md-12.col-lg-3
                        a(href="#back", title="volver a todos los agentes", class="ico-back") Ver todos los agentes
                       
                    .col-xs-12.col-lg-9
                        .mod_title
                            h2.tit-title.tit-h1 Pide cita con Anna Abell&agrave;
                            //-h2.tit-description Hay 20 agentes esperando para atenderte
                .row
                    .col-lg-3.visible-lg.mod_imageList.conectForm
                        a(class="iml-listItemLink",href="#Nana",title="Ver a María Jose")
                            figure.iml-figure
                                img(src="images/content/img1.png", alt="María José Surfista")
                                figcaption.iml-description
                                    h2.iml-name María José Gutierrez de la Torre
                                    p(class="iml-btn") Conecta con María José
                    .col-xs-12.col-lg-9
                        .mod_title
                                .mt-user
                                    img(src="images/content/img2-mini.png", alt="María José Surfista", class="mt-imgUser")
                                h2.tit-title.tit-h1 Hola,
                                a(class="mt-link") Conecta con María José
                        fieldset.fmf-fieldset.mod_accordion.fc-accordion_init
                            legend.fmf-legend.hideAccessible 01. ¿C&oacute;mo quieres que el agente conecte contigo?
                            h3.fc-accordion_head.acn-headForm 
                                span.acn-headNumber o1. 
                                | ¿C&oacute;mo quieres que el agente conecte contigo?
                            .acn-bodyForm.row
                                .col-xs-12
                                    .fmf-fieldGroupIcon
                                        input(id="phoneIn", type="checkbox", class="fmf-checkIconInput")
                                        label(for="phoneIn" class="fmf-checkIcon ico-phoneIn") Quiero que me llamen
                                    .fmf-fieldGroupIcon
                                        input(id="phoneOut", type="checkbox", class="fmf-checkIconInput")
                                        label(for="phoneOut" class="fmf-checkIcon ico-phoneOut") Quiero llamar
                                    .fmf-fieldGroupIcon
                                        input(id="skype", type="checkbox", class="fmf-checkIconInput")
                                        label(for="skype" class="fmf-checkIcon ico-skype-square") Skype
                                    .fmf-fieldGroupIcon
                                        input(id="facetime", type="checkbox", class="fmf-checkIconInput")
                                        label(for="facetime" class="fmf-checkIcon ico-facetime") Facetime
                                    .fmf-fieldGroupIcon
                                        input(id="email", type="checkbox", class="fmf-checkIconInput")
                                        label(for="email" class="fmf-checkIcon ico-email") Email
                                    .fmf-fieldGroupIcon
                                        input(id="insitu", type="checkbox", class="fmf-checkIconInput")
                                        label(for="insitu" class="fmf-checkIcon ico-insitu") Presencial
                                    .fmf-fieldGroupIcon
                                        a(class="fmf-linkIcon ico-smsInstant fc-slideLink") Mensajer&iacute;a instant&aacute;nea
                                    .fmf-smsInstant.fc-slideContent
                                        .fmf-fieldGroupIcon
                                            input(id="whatsapp", type="checkbox", class="fmf-checkIconInput")
                                            label(for="whatsapp" class="fmf-checkIcon ico-whatsapp") Whatsapp
                                        .fmf-fieldGroupIcon
                                            input(id="line", type="checkbox", class="fmf-checkIconInput")
                                            label(for="line" class="fmf-checkIcon ico-line") Line
                                        .fmf-fieldGroupIcon
                                            input(id="facebookMss", type="checkbox", class="fmf-checkIconInput")
                                            label(for="facebookMss" class="fmf-checkIcon ico-facebookMss") Facebook Messenger
                                        .fmf-fieldGroupIcon
                                            input(id="other", type="checkbox", class="fmf-checkIconInput")
                                            label(for="other" class="fmf-checkIcon ico-other") Otra

                        fieldset.fmf-fieldset.mod_accordion.fc-accordion_init
                            legend.fmf-legend.hideAccessible  02. Selecciona la fecha y la hora que m&aacute;s te convenga para nuestra reuni&oacute;n
                            h3.fc-accordion_head.acn-headForm 
                                span.acn-headNumber o2. 
                                | Selecciona la fecha y la hora que m&aacute;s te convenga para nuestra reuni&oacute;n
                            .acn-bodyForm.row
                                
                                .fmf-fieldGroup.mod_datepicker.col-xs-12.col-md-6.col-lg-6
                                    label(for="calendar01", class="fmf-label") Fecha
                                    .md-controlIcon
                                        input(id="calendar01", type="text", name="calendar01", maxlength="10", class="fc-datepicker_init fmf-field")
                                
                                .fmf-fieldGroup.mod_timepicker.col-xs-12.col-md-6.col-lg-6
                                    label(for="time01", class="fmf-label") Hora
                                    input(id="time01", type="text", name="time01", maxlength="5", class="fc-timepicker_init fmf-field fmf-timepicker")

                        fieldset.fmf-fieldset.mod_accordion.fc-accordion_init
                            legend.fmf-legend.hideAccessible 03. Indica tus datos de contacto
                            h3.fc-accordion_head.acn-headForm 
                                span.acn-headNumber o3. 
                                | Indica tus datos de contacto
                            .acn-bodyForm
                                .col-xs-12.col-md-6.col-lg-12 
                                    .fmf-fieldGroupInline.row
                                        .col-xs-12.col-md-3
                                            label(for="name", class="fmf-label fmf-inline") Nombre
                                        .col-xs-12.col-md-8
                                            input(id="name", class="fmf-field fmf-text", type="text", name="name")
                                .col-xs-12.col-md-6.col-lg-12
                                    .fmf-fieldGroupInline.row
                                        .col-xs-12.col-md-3
                                            label(for="email02", class="fmf-label") Email
                                        .col-xs-12.col-md-8  
                                            input(id="email02", class="fmf-field fmf-text", type="email", name="email")

                                .row
                                    .col-xs-12.col-md-8.fmf-aviso
                                        p Para poder avisarte ante cualquier imprevisto, por favor, facil&iacute;tanos tu tel&eacute;fono.

                                .col-xs-12.col-md-6.col-lg-12
                                    .fmf-fieldGroupInline.row
                                        .col-md-3
                                            label(for="phone01", class="fmf-label") Tel&eacute;fono
                                        .col-md-8
                                            input(id="phone01", class="fmf-field fmf-text", type="tel", name="phone") 

                        fieldset.fmf-fieldset.mod_accordion.fc-accordion_init
                            legend.fmf-legend.hideAccessible 04. ¿En qu&eacute; idioma prefieres conversar?
                            h3.fc-accordion_head.acn-headForm 
                                span.acn-headNumber o4.  
                                | ¿En qu&eacute; idioma prefieres conversar?
                            .acn-bodyForm.row
                                .fmf-checkboxGroup.col-xs-6.col-md-3.col-lg-2
                                    input.fmf-field.fmf-checkbox(type="checkbox",id="español")
                                    label.fmf-label(for="español") Español
                                .fmf-checkboxGroup.col-xs-6.col-md-3.col-lg-2
                                    input.fmf-field.fmf-checkbox(type="checkbox",id="catalan")
                                    label.fmf-label(for="catalan") Catal&aacute;n
                                .fmf-checkboxGroup.col-xs-6.col-md-3.col-lg-2
                                    input.fmf-field.fmf-checkbox(type="checkbox",id="ingles")
                                    label.fmf-label(for="ingles") Ingl&eacute;s
                                .fmf-checkboxGroup.col-xs-6.col-md-3.col-lg-2
                                    input.fmf-field.fmf-checkbox(type="checkbox",id="aleman")
                                    label.fmf-label(for="aleman") Alem&aacute;n
                                .col-md-12.col-lg-2
                                    a(href="#",class="fmf-linkShowMore", title="") Mostrar más

                        fieldset.fmf-fieldset.mod_accordion.fc-accordion_init
                            legend.fmf-legend.hideAccessible 05. ¿Eres cliente de Allianz?
                            h3.fc-accordion_head.acn-headForm 
                                span.acn-headNumber o5. 
                                | ¿Eres cliente de Allianz?
                            .acn-bodyForm
                                .row
                                    .col-xs-12.col-md-8
                                        .fmf-radioGroup
                                            input(id="yes",type="radio", name="yesOrNot", class="fmf-radio")
                                            label(for="yes", class="fmf-label-on")
                                                span.hideAccessible S&iacute;
                                        .fmf-radioGroup
                                            input(id="not",type="radio", name="yesOrNot", class="fmf-radio")
                                            label(for="not",class="fmf-label-off")
                                                span.hideAccessible No
                                .row
                                    .col-xs-12.col-md-8.fmf-aviso
                                        p Para poder avisarte ante cualquier imprevisto, por favor, facil&iacute;tanos tu tel&eacute;fono.
                                .fmf-fieldGroupInline.row
                                    .col-md-2
                                        label(for="nif", class="fmf-label") NIF
                                    .col-md-6
                                        input(id="nif", class="fmf-field fmf-text", type="text", name="nif")

                        fieldset.fmf-fieldset.mod_accordion.fc-accordion_init
                            legend.fmf-legend.hideAccessible o6. ¿Cu&acute;l es el motivo por el que deseas esta cita?
                            h3.fc-accordion_head.acn-headForm 
                                span.acn-headNumber o6. 
                                | ¿Cu&aacute;l es el motivo por el que deseas esta cita?
                            .acn-bodyForm.row
                                .col-xs-12.acn-bfList
                                    ul.listMotive
                                        li.lm-item
                                            h4.fmf-linkInfo.fc-linkMotive Me gustar&iacute;a obtener informaci&oacute;n sobre un seguro
                                            .fc-contentMotive.fmf-contentInfo
                                                .fmf-fieldGroupIcon
                                                    input(id="car01", type="checkbox", class="fmf-checkIconInput", name="car01")
                                                    label(for="car01" class="fmf-checkIcon ico-car") Coche
                                                .fmf-fieldGroupIcon
                                                    input(id="moto01", type="checkbox", class="fmf-checkIconInput", name="moto01")
                                                    label(for="moto01" class="fmf-checkIcon ico-moto") Moto y ciclomotor
                                                .fmf-fieldGroupIcon
                                                    input(id="home01", type="checkbox", class="fmf-checkIconInput", name="home01")
                                                    label(for="home01" class="fmf-checkIcon ico-home") Hogar
                                                .fmf-fieldGroupIcon
                                                    input(id="health01", type="checkbox", class="fmf-checkIconInput", name="health01")
                                                    label(for="health01" class="fmf-checkIcon ico-health") Salud
                                                .fmf-fieldGroupIcon
                                                    input(id="freelance01", type="checkbox", class="fmf-checkIconInput", name="freelance01")
                                                    label(for="freelance01" class="fmf-checkIcon ico-freelance") Aut&oacute;nomos
                                                .fmf-fieldGroupIcon
                                                    input(id="travel01", type="checkbox", class="fmf-checkIconInput", name="travel01")
                                                    label(for="travel01" class="fmf-checkIcon ico-travel") Viaje
                                                .fmf-fieldGroupIcon
                                                    input(id="accident01", type="checkbox", class="fmf-checkIconInput", name="accident01")
                                                    label(for="accident01" class="fmf-checkIcon ico-accident") Accidentes
                                                .fmf-fieldGroupIcon
                                                    input(id="boat01", type="checkbox", class="fmf-checkIconInput", name="boat01")
                                                    label(for="boat01" class="fmf-checkIcon ico-boat") Embarcaciones
                                                .fmf-fieldGroupIcon
                                                    input(id="life01", type="checkbox", class="fmf-checkIconInput", name="life01")
                                                    label(for="life01" class="fmf-checkIcon ico-life") Vida e inversi&oacute;n
                                                .fmf-fieldGroupIcon
                                                    input(id="other02", type="checkbox", class="fmf-checkIconInput", name="other02")
                                                    label(for="other02" class="fmf-checkIcon ico-other02") Otros
                                        li.lm-item
                                            input(id="changeContact", type="checkbox", name="changeContact", class="fmf-input")
                                            label(for="changeContact", class="fmf-label") Necesito modificar mis datos de contacto
                                        li.lm-item
                                            input(id="dude", type="checkbox", name="dude", class="fmf-input")
                                            label(for="dude", class="fmf-label") He tenido un siniestro y tengo dudas sobre c&oacute;mo gestionarlo
                                        li.lm-item
                                            input(id="claim", type="checkbox", name="claim", class="fmf-input")
                                            label(for="claim", class="fmf-label") Me gustar&iacute;a hacer una reclamaci&oacute;n
                                        li.lm-item
                                            input(id="otherQuestion", type="checkbox", name="otherQuestion", class="fmf-input")
                                            label(for="otherQuestion", class="fmf-label") Otro tipo de consulta

                        fieldset.fmf-fieldset.mod_accordion.fc-accordion_init
                            legend.fmf-legend.hideAccessible 07. Si te apetece, describe brevemente el detalle de su consulta para que el agente pueda ayudarte mejor
                            h3.fc-accordion_head.acn-headForm 
                                span.acn-headNumber o7. 
                                | Si te apetece, describe brevemente el detalle de su consulta para que el agente pueda ayudarte mejor
                            .acn-bodyForm.row
                                .col-xs-12.fmf-fieldGroup
                                    label(for="comment01", class="hideAccessible") Describe tu consulta
                                    textarea(id="comment01",class="fmf-field fmf-textarea") Soy autónomo, ¿qué opciones tengo para asegurar mi comercio?
                                .col-xs-12.col-md-6
                                    .mod_botonera.conectForm
                                        input(class="btn-orange", type="submit", value="enviar")

        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>