//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer
include modules/_mod_imageList
include modules/_mod_filter
include modules/_mod_banner
include modules/_mod_paginator

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui"> <!--<![endif]-->
+m-headBuilder({
    title: "Disfruta - Allianz Zona",
    metaList: {
        "viewport": "width=device-width, initial-scale=1.0"
    },
    cssFiles: [
        "css/styles-aui",
        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
        "css/bootstrap",
        "libs/rangeSlider/classic-min",
        "css/datepicker.min",
        "css/general",
        "css/modules"
    ],
    jsFiles: [
        "libs/jquery-1.11.3.min",
        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
        "libs/slick",
        "libs/rangeSlider/jQAllRangeSliders-min",
        "libs/datepicker/lang/es",
        "libs/datepicker/datepicker",
        "js/init",
        "js/main"
    ]
})
body
    section.dFront
        h1.hideAccessible!="Eventos Dsifruta - Allinaz Zona"
        //- mod_cookie
        +mod_cookie()
        //- End mod_cookie

        //-mod_header
        +mod_header({
            menu: {
                items: [
                    {
                        content: "Vive"
                    },
                    {
                        content: "Conecta"
                    },
                    {
                        content: "Disfruta",
                        active: true
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main
            form(class="container mod_formField",method="post",action="#")
                .row
                    .col-xs-12.col-lg-8.col-lg-offset-2
                        .mod_title.tit-center
                            h1.tit-title.tit-h1 ¡Entérate de los mejores eventos en Barcelona!
                .row
                    .col-xs-12.col-lg-9.col-lg-push-3
                        +mod_banner_img({
                            cssClass: "fc-filter_showHide",
                            brgShowMore: true,
                            items: [
                                {
                                    img: "mark",
                                    day: "8",
                                    month: "octubre",
                                    hour: "19:30",
                                    organizerTitle: "ORGANIZA",
                                    organizerSubtitle: "Allianz Zona",
                                    title: "Conferencia: &quot;Marc Márquez & Allianz&quot;",
                                    subtitle: "Una charla sobre como optimizar los procesos para ser  más competitivo y cómo las nuevas tecn..."
                                },
                                {
                                    recommend: true,
                                    img: "rihanna",
                                    day: "20",
                                    month: "octubre",
                                    hour: "19:30",
                                    organizerSubtitle: "Recomendado",
                                    title: "Rihanna Loud Tour 2015",
                                    name: "Anna Abell&agrave; S&aacute;ez"
                                },
                                {
                                    recommend: true,
                                    img: "nadal",
                                    day: "1",
                                    month: "noviembre",
                                    hour: "19:30",
                                    organizerSubtitle: "Recomendado",
                                    title: "Copa Nadal 2015",
                                    name: "Javier Noysr"
                                },
                                {
                                    img: "scrumm",
                                    day: "23",
                                    month: "noviembre",
                                    hour: "19:30",
                                    organizerTitle: "ORGANIZA",
                                    organizerSubtitle: "Allianz Zona",
                                    title: "Mesa redonda: SCRUMM, ¿de verdad sirve para algo?",
                                    subtitle: "Una charla sobre como optimizar los procesos para ser  más competitivo y cómo las nuevas tecn..."
                                },
                                {
                                    img: "localler",
                                    day: "24",
                                    month: "noviembre",
                                    hour: "19:30",
                                    organizerTitle: "ORGANIZA",
                                    organizerSubtitle: "Allianz Zona",
                                    title: "Tarde de Networking con Localler",
                                    subtitle: "Una charla sobre como optimizar los procesos para ser  más competitivo y cómo las nuevas tecn..."
                                }
                            ],
                            paginatorSettings: {
                                items: [
                                    {
                                        content: "Previous Page",
                                        type: "disabled",
                                        cssClass: "pgr-prev"
                                    },
                                    {
                                        content: "Page 1",
                                        type: "active"
                                    },
                                    {
                                        content: "Page 2"
                                    },
                                    {
                                        content: "Next Page",
                                        cssClass: "pgr-next"
                                    }
                                ]
                            }
                        })

                    .col-xs-12.col-lg-3.col-lg-pull-9
                        +mod_filter_sec()
                    .col-xs-12.col-lg-8.col-lg-offset-2

                        fieldset.mod-formNews.fc-filter_showHide
                            legend.frmN-legend
                                span.frmN-subtit Ap&uacute;ntate a nuestra
                                span.frmN-tit Newsletter

                            p.frmN-parrafo ¿Quieres estar al corriente de las actividades en Allianz Zona?
                            .row
                                .col-xs-12.col-md-7.col-md-offset-1
                                    label.hideAccessible(for="idEmail") E-mail
                                    input.frmN-input.frmN-fila(id="idEmail", type="email" value="", placeholder="E-mail")

                                    .fmf-swich.frmN-fila
                                        input#idSiNo.fmf-swich-checkbox(type='checkbox', name='onoffswitch', checked='')
                                        label.fmf-swich-label(for='idSiNo')
                                            span.fmf-swich-inner
                                            span.fmf-swich-switch
                                        p.fmf-swich_text Estoy de acuerdo con la&nbsp;
                                            a.fmf-swich_link(href="#ni", title="Política de Privacidad") Pol&iacute;tica de Privacidad
                                .col-xs-12.col-md-3
                                    .mod_botonera.frmN-fila
                                        a.btn-orange(href="#ni", title="Enviar") Enviar



        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>