//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer
include modules/_mod_imageList
include modules/_mod_filter
include modules/_mod_banner
include modules/_mod_paginator
include modules/_mod_social

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui"> <!--<![endif]-->
+m-headBuilder({
                    title:"Disfruta Evento - Allianz Zona",
                    metaList:{
                        "viewport": "width=device-width, initial-scale=1.0"
                    },
                    cssFiles:[
                        "css/styles-aui",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "css/bootstrap",
                        "libs/rangeSlider/classic-min",
                        "css/datepicker.min",
                        "css/general",
                        "css/modules"
                     ],
                    jsFiles:[
                        "libs/jquery-1.11.3.min",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/slick",
                        "libs/rangeSlider/jQAllRangeSliders-min",
                        "libs/datepicker/lang/es",
                        "libs/datepicker/datepicker",
                        "js/init",
                        "js/main"
                    ]
                })
body
    section.dFront

        //- mod_cookie
        +mod_cookie()
        //- End mod_cookie

        //-mod_header
        +mod_header({
            menu:{
                items:[
                    {
                        content: "Vive"
                    },
                    {
                        content: "Conecta"
                    },
                    {
                        content: "Disfruta",
                        active: true
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main
            form(class="container mod_formField",method="post",action="#")
                .row
                    .col-xs-12.col-lg-3
                        a(href="#back", title="volver a todos los agentes", class="ico-back") Ver todos los agentes
                        +mod_banner_img({
                            brgLeftColumn: true,
                            items: [
                                {
                                    recommend: true,
                                    img: "rihanna",
                                    day: "20 de octubre",
                                    hour: "20:00",
                                    organizerTitle: "ORGANIZA",
                                    organizerSubtitle: "Rihanna Official",
                                    title: "Rihanna Loud Tour",
                                    subtitle: "Una charla sobre como optimizar los procesos para ser  más competitivo y cómo las nuevas tecn...",
                                    btnContent: "Web del evento",
                                    btnClass: "ico-event",
                                    name: "Anna Abell&agrave; S&aacute;ez"
                                }
                            ]
                        })
                        +mod_social({
                            cssClass:"ftl scl-spacing visible-lg",
                            items:[
                                {
                                    content: "facebook"
                                },
                                {
                                    content: "twitter"
                                }
                            ]
                        })
                    .col-xs-12.col-lg-8
                        .mod_title.tit-spacing
                            h1.tit-title.tit-h1 Rihanna Loud Tour llega a Barcelona
                        .mod_event
                            p.evt-content.evt-spacing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            figure.evt-img
                                img(src="images/content/rihanna-tour.png")
                            p.evt-content.evt-spacing Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            +mod_social({
                                cssClass:"ftl scl-spacing visible-md visible-sm visible-xs",
                                items:[
                                    {
                                        content: "facebook"
                                    },
                                    {
                                        content: "twitter"
                                    }
                                ]
                            })
                            .mod_botonera.btn-border
                                a(href="#",class="btn-orange ico-event", title="Ir a la web del evento") Web del evento



        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>