//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer
include modules/_mod_imageList
include modules/_mod_filter
include modules/_mod_banner
include modules/_mod_paginator
include modules/_mod_social

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui"> <!--<![endif]-->
+m-headBuilder({
                    title:"Disfruta Evento Allianz - Allianz Zona",
                    metaList:{
                        "viewport": "width=device-width, initial-scale=1.0"
                    }, 
                    cssFiles:[
                        "css/styles-aui",
                        "css/bootstrap",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/rangeSlider/classic-min",
                        "css/datepicker.min",
                        "css/general",
                        "css/modules"
                     ],
                    jsFiles:[
                        "libs/jquery-1.11.3.min",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/slick",
                        "libs/rangeSlider/jQAllRangeSliders-min",
                        "libs/datepicker/lang/es",
                        "libs/datepicker/datepicker",
                        "libs/bootstrap.min",
                        "js/init",
                        "js/main"
                    ]
                })
body
    section.dFront

        //- mod_cookie
        +mod_cookie()
        //- End mod_cookie

        //-mod_header
        +mod_header({
            menu:{
                items:[
                    {
                        content: "Vive"
                    },
                    {
                        content: "Conecta"
                    },
                    {
                        content: "Disfruta",
                        active: true
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main
            form(class="container mod_formField",method="post",action="#")
                .row
                    .col-xs-12.col-lg-3
                        a(href="#back", title="volver a todos los agentes", class="ico-back") Ver todos los agentes
                        +mod_banner_img({
                            brgLeftColumn: true,
                            items: [
                                {
                                    img: "mark",
                                    day: "18 de septiembre",
                                    hour: "19:30",
                                    organizerTitle: "ORGANIZA",
                                    organizerSubtitleLink: "Allianz Zona",
                                    title: "Conferencia: &quot;Marc Márquez & Allianz&quot;",
                                    subtitle: "Una charla sobre como optimizar los procesos para ser  más competitivo y cómo las nuevas tecn...",
                                    btnContent: "Inscribirse al evento",
                                    btnModal: true
                                }
                            ]
                        })
                        +mod_social({
                            cssClass:"ftl scl-spacing visible-lg",
                            items:[
                                {
                                    content: "facebook"
                                },
                                {
                                    content: "twitter"
                                }
                            ]
                        })
                    .col-xs-12.col-lg-8.col-lg-offset-1
                        .mod_title.tit-spacing
                            h1.tit-title.tit-h1 Conferencia: &quot;Marc Márquez & Allianz&quot;
                        .mod_event
                            p.evt-content.evt-spacing Zona Allianz es un espacio en el que podrás interactuar y estar a la última sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Reúnete con uno de nuestros agentes, asiste a alguna de las conferencias que tenemos programadas o simplemente disfruta del entorno digital e interactivo que ponemos a tu disposición.
                                span.evt-content ¿Te has comprado una moto? ¿Acabas de alquilar un piso? Desde nuestra sucursal digital podemos solventar todas las dudas que tengas sobre lo que necesitas para asegurar tu día a día. Y lo mejor es que no tienes que desplazarte: pide cita y habla con uno de nuestros agentes a través de Skype, Whatsapp… O si lo deseas, te atenderemos en un espacio exclusivo para clientes en nuestra Zona Allianz.
                            figure.evt-img
                                img(src="images/content/mark.png")
                            p.evt-content.evt-spacing Zona Allianz es un espacio en el que podrás interactuar y estar a la última sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Reúnete con uno de nuestros agentes, asiste a alguna de las conferencias que tenemos programadas o simplemente disfruta del entorno digital e interactivo que ponemos a tu disposición.
                            p.evt-content.evt-title PONENTES
                            ul.evt-list
                                li.evt-listItem
                                    span.evt-listItemLink Marc Márquez
                                li.evt-listItem
                                    span.evt-listItemLink Guillem Camprodon
                                li.evt-listItem
                                    span.evt-listItemLink Anna Gabriel
                                li.evt-listItem
                                    span.evt-listItemLink Pablo Garrido
                                li.evt-listItem
                                    span.evt-listItemLink Sigfried Sepúlveda

                            +mod_social({
                                cssClass:"ftl scl-spacing visible-md visible-sm visible-xs",
                                items:[
                                    {
                                        content: "facebook"
                                    },
                                    {
                                        content: "twitter"
                                    }
                                ]
                            })
                            .mod_botonera.btn-border.mod_modal
                                a(href="#", class="evt-link", title="Click para descargarse el programa") Descargarse el programa
                                button.btn-orange(type='button', data-toggle='modal', data-target='#myModal') Inscribirse al evento
                                // Modal
                                #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                                    .modal-dialog(role='document')
                                        button.close(type='button', data-dismiss='modal', aria-label='Close') Cerrar Modal
                                        .modal-content
                                            .modal-header
                                                .mod_title
                                                    h3.tit-title.tit-h1.modal-title Conferencia: "Marc M&aacute;rquez & Allianz"
                                            .modal-body
                                                fieldset.fmf-fieldset.mod_accordion.ui-accordion
                                                    legend.fmf-legend.hideAccessible 01. Indica tus datos de contacto
                                                    h3.fc-accordion_head.acn-headForm
                                                        span.acn-headNumber o1.&nbsp;
                                                        | Indica tus datos de contacto
                                                    .acn-bodyForm
                                                        .row
                                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                                .row
                                                                    .col-xs-12.col-lg-2
                                                                        label(for="name", class="fmf-label fmf-inline") Nombre
                                                                    .col-xs-12.col-lg-6
                                                                        input(id="name", class="fmf-field fmf-text", type="text", name="name")
                                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                                .row
                                                                    .col-xs-12.col-lg-2
                                                                        label(for="email02", class="fmf-label") Email
                                                                    .col-xs-12.col-lg-6
                                                                        input(id="email02", class="fmf-field fmf-text", type="email", name="email")

                                                        .row
                                                            .col-xs-12.fmf-aviso
                                                                p Te pedimos, por favor, que seas puntual para poder cumplir con las actividades previstas y que aproveches al máximo la charla de Marc Márquez.

                                                        .fmf-fieldGroupInline.row
                                                            .col-xs-12.col-sm-8.col-sm-offset-2.col-md-7.col-md-offset-3.col-lg-offset-0
                                                                .fmf-swich.frmN-fila
                                                                    input#idSiNo.fmf-swich-checkbox(type="checkbox", name="onoffswitch")
                                                                    label.fmf-swich-label(for='idSiNo')
                                                                        span.fmf-swich-inner
                                                                        span.fmf-swich-switch
                                                                    p.fmf-swich_text
                                                                        | Estoy de acuerdo con la&nbsp;
                                                                        a.fmf-swich_link(href='#ni', title='Pol&iacute;tica de Privacidad') Política de Privacidad

                                            .modal-footer
                                                .mod_botonera
                                                    button.btn-orange(type="button", data-dismiss="modal") Enviar


        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>