//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer
include modules/_mod_imageList
include modules/_mod_filter
include modules/_mod_banner
include modules/_mod_paginator
include modules/_mod_social

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui"> <!--<![endif]-->
+m-headBuilder({
                    title:"Error 404 - Allianz Zona",
                    metaList:{
                        "viewport": "width=device-width, initial-scale=1.0"
                    }, 
                    cssFiles:[
                        "css/styles-aui",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "css/bootstrap",
                        "libs/rangeSlider/classic-min",
                        "css/datepicker.min",
                        "css/general",
                        "css/modules"
                     ],
                    jsFiles:[
                        "libs/jquery-1.11.3.min",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/slick",
                        "libs/rangeSlider/jQAllRangeSliders-min",
                        "libs/datepicker/lang/es",
                        "libs/datepicker/datepicker",
                        "js/init",
                        "js/main"
                    ]
                })
body
    section.dFront
        h1.hideAccessible P&aacute;gina de error
        //- mod_cookie
        +mod_cookie()
        //- End mod_cookie

        //-mod_header
        +mod_header({
            menu:{
                items:[
                    {
                        content: "Vive"
                    },
                    {
                        content: "Conecta"
                    },
                    {
                        content: "Disfruta",
                        active: true
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main
            .mod_error
                .container
                    .row
                        .col-xs-12
                            .err-box
                                .err-left

                                .err-right

                                .err-message
                                    p.err-title Oops!
                                    p.err-description La p&aacute;gina que est&aacute;s buscando no puede ser encontrada
                                    .mod_botonera
                                        a(href="#ni", class="btn-orange", title="Pulsa para volver a la página principal") Volver a inicio


        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>