//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer
include modules/_mod_imageList
include modules/_mod_filter

include modules/_mod_social

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
+m-headBuilder({
                    title:"Ficha agente - Allianz Zona",
                    metaList:{
                        "viewport": "width=device-width, initial-scale=1.0"
                    },
                    cssFiles:[
                        "css/styles-aui",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "css/bootstrap",
                        "libs/rangeSlider/classic-min",
                        "css/general",
                        "css/modules"
                     ],
                    jsFiles:[
                        "libs/jquery-1.11.3.min",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/slick",
                        "libs/rangeSlider/jQAllRangeSliders-min",
                        "js/init",
                        "js/main"
                    ]
                })
body
    section.dFront
        h1.hideAccessible!= "Ficha de agente - Allianz Zona"
        //- mod_cookie
        +mod_cookie()
        //- End mod_cookie

        //-mod_header
        +mod_header({
            menu:{
                items:[
                    {
                        content: "Vive"
                    },
                    {
                        content: "Conecta"
                    },
                    {
                        content: "Disfruta"
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main
            .mod_fichaGente
                div.container
                    .row
                        .col-xs-12
                            .fcg-personal
                                a(class="fcg-back ico-back ico-white", title="Volver atras y ver todos los agentes", href="#") Ver todos los agentes
                                figure.fcg-img
                                    img(src=globals.imgPath+"/content/thumbnail1.png", alt="Anna Abella Gutierrez")
                                h1.fcg-title Anna Abella Gutierrez
                                h2.fcg-description Amante de los animales y surfista
                                .mod_botonera
                                    a(class="btn-orange ico-conecta",href="#", title="Pulsa para conectar con Anna") Conecta con Anna
                                ul.fcg-list
                                    li.fcg-listItem
                                        p.fcg-listItemText
                                            span.fcg-listItemTitle Edad
                                            span.fcg-listItemDescription 38
                                    li.fcg-listItem
                                        p.fcg-listItemText
                                            span.fcg-listItemTitle Hijos
                                            span.fcg-listItemDescription.ico-ok OK
                                    li.fcg-listItem
                                        p.fcg-listItemText
                                            span.fcg-listItemTitle Aficiones
                                            span.fcg-listItemDescription Deporte / Cine / Gastronomía
                                    li.fcg-listItem
                                        p.fcg-listItemText
                                            span.fcg-listItemTitle Mascotas
                                            span.fcg-listItemDescription.ico-dog Dog
            .mod_fichaDatos.fcd-spacing
                div.container
                    .row
                        .col-xs-12.col-lg-6
                            div.fcd-box
                                div.fcd-head
                                    h3.fcd-headTitle Sobre m&iacute;
                                div.fcd-body
                                    p.fcd-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                                    p.fcd-language Te puedo atender en: Español - Ingl&eacute;s
                                        span Catal&aacute;n - Alem&aacute;n
                                    p.fcd-horary 12:00 - 18:00 - De lunes a viernes
                                        span Fines de semana
                                    +mod_social({
                                        cssClass:"scl-spacing",
                                        items:[
                                            {
                                                content: "facebook"
                                            },
                                            {
                                                content: "twitter"
                                            },
                                            {
                                                content: "google +",
                                                icoClass: "scl-google"
                                            },
                                            {
                                                content: "linkedin"
                                            }
                                        ]
                                    })


                        .col-xs-12.col-lg-6
                            div.fcd-box.fcd-video
                                div.fcd-head
                                    h3.fcd-headTitle Video
                                div.fcd-body
                                    a.fcd-link(href="#", title="Enlace a video")
                                        figure
                                            img(src="images/content/allianzArena-stadium.jpg",alt="Allianz Arena Stadium")
                                            figcaption.ico-playB Video

                    .row
                        .col-xs-12
                            div.fcd-box.fcd-interes
                                div.fcd-head
                                    h3.fcd-headTitle Datos de inter&eacute;s
                                div.fcd-body
                                    p.fcd-content.ico-telephone
                                        span.fcd-telephones-number 934 213 145 - 657 432 456
                                        span.fcd-ico-contact
                                            span.fcd-ico-video
                                                span.hideAccessible
                                                img(class="fcd-ico-img", src="images/modules/icons/ico-video-orange.png")
                                            span.fcd-ico-whatsapp
                                                span.hideAccessible
                                                img(class="fcd-ico-img", src="images/modules/icons/ico-whatsapp-orange.png")
                                    p.fcd-content.ico-mail
                                        a(href="#",title="Mail Maria Gutierrez") maria.gutierrez@alianzmed.es
                                        span.fcd-separator &nbsp;//&nbsp;
                                        a(href="#",title="Mail Maria Gutierrez 2") maria.gutierrez_2@allianzmed.es
                                    p.fcd-content.ico-skype ma.gutierrez
                                    .mod_botonera
                                        a(class="btn-orange ico-conecta",href="#", title="Pulsa para conectar con Anna") Conecta con Anna
                    .row
                        .col-xs-12.col-lg-4
                            div.fcd-box
                                div.fcd-head.fcd-arrow
                                    h3.fcd-headTitle Puntos fuertes
                                div.fcd-body
                                    p.fcd-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&nbsp;
                                        span.fcd-strong Aenean commodo ligula eget dolor. Aenean massa.&nbsp;
                                        | Cum sociis natoque penatibus et magnis.
                        .col-xs-12.col-lg-4
                            div.fcd-box
                                div.fcd-head.fcd-arrow
                                    h3.fcd-headTitle Te interesa
                                div.fcd-body
                                    p.fcd-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&nbsp;
                                        span.fcd-strong Aenean commodo ligula eget dolor. Aenean massa.&nbsp;
                                        | Cum sociis natoque penatibus et magnis.
                        .col-xs-12.col-lg-4
                            div.fcd-box
                                div.fcd-head.fcd-arrow
                                    h3.fcd-headTitle Te aconsejamos
                                div.fcd-body
                                    p.fcd-content Lorem ipsum dolor sit amet, consectetuer adipiscing elit.&nbsp;
                                        span.fcd-strong Aenean commodo ligula eget dolor. Aenean massa.&nbsp;
                                        | Cum sociis natoque penatibus et magnis.


        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>