//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
+m-headBuilder({
                    title:"Home - Allianz Zona",
                    metaList:{
                        "viewport": "width=device-width, initial-scale=1.0"
                    }, 
                    cssFiles:[
                        "css/styles-aui",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "css/bootstrap",
                        "css/general",
                        "css/modules"
                     ],
                    jsFiles:[
                        "libs/jquery-1.11.3.min",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/jquery.mobile.custom/jquery.mobile.custom.min",
                        "libs/jquery.ui.touch-punch.min",
                        "libs/slick",
                        "libs/rangeSlider/jQAllRangeSliders-min",
                        "js/init",
                        "js/main"
                    ]
                })
body
    section.dFront

        //- mod_cookie
        +mod_cookie()
        //- End mod_cookie

        //-mod_header
        +mod_header({
            isHome:true,
            menu:{
                items:[
                    {
                        content: "Vive"
                    },
                    {
                        content: "Conecta"
                    },
                    {
                        content: "Disfruta"
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main.min-home
            .mod-homeRow1
                .hr1-content
                    .container
                        .row
                            .mod-banner.col-sm-12
                                h1.bnr-txt
                                    span Descubre todo lo que 
                                        span.extraBold Allianz 
                                            span.bold puede hacer por ti en Barcelona
            .mod-homeRow1Tap
            .mod-homeRow2
                .hr2-content
                    .row
                        .mod-banner.col-sm-12
                            .mod-sliderCenter.fc-sliderCenter
                                button.sdrC-btnP(type="button", data-role="none", aria-label="Previous") Previous
                                ul
                                    li 
                                        div.sdrC-content_item
                                            .sdrC-content_txt
                                                p.sdrC-content_titule Rihanna Loud Tour llega a Barcelona 2

                                                div.mod_banner_img
                                                    figure.brg-imgUser
                                                        img(src="images/content/thumbnail1.png",alt="Anna")
                                                        figcaption.brg-userDescription
                                                            .brg-name Anna Abellà Sáez
                                                            .brg-agent Tu agente digital te recomienda:
                                                    .brg-descriptionText "Un evento imprescindible para los amantes de la m&uacute;sica pop"
                                                .sdrC-date
                                                    p.sdrC-dateText 20/10/2015 - 20:00 h
                                                    p.sdrC-siteText Palau Sant Jordi
                                                    .mod_botonera
                                                        a.btn-orange.ico-conecta Conoce más
                                            .sdrC-content_img
                                                img.sdrC-img(src=globals.imgPath+"/content/img-carrusel-01.png", alt="desc")
                                    li.sdrC-content_center 
                                        div.sdrC-content_item
                                            .sdrC-content_txt
                                                p.sdrC-content_titule Rihanna Loud Tour llega a Barcelona

                                                div.mod_banner_img
                                                    figure.brg-imgUser
                                                        img(src="images/content/thumbnail1.png",alt="Anna")
                                                        figcaption.brg-userDescription
                                                            .brg-name Anna Abellà Sáez
                                                            .brg-agent Tu agente digital te recomienda:
                                                    .brg-descriptionText "Un evento imprescindible para los amantes de la m&uacute;sica pop"
                                                .sdrC-date
                                                    p.sdrC-dateText 20/10/2015 - 20:00 h
                                                    p.sdrC-siteText Palau Sant Jordi
                                                    .mod_botonera
                                                        a.btn-orange.ico-conecta Conoce más
                                            .sdrC-content_img
                                                img.sdrC-img(src=globals.imgPath+"/content/img-carrusel-02.png", alt="desc")
                                    li 
                                        div.sdrC-content_item
                                            .sdrC-content_txt
                                                p.sdrC-content_titule Rihanna Loud Tour llega a Barcelona
                                            .sdrC-content_img
                                                img.sdrC-img(src=globals.imgPath+"/content/img-carrusel-03.png", alt="desc")
                                    li 
                                        div.sdrC-content_item
                                            .sdrC-content_txt
                                                p.sdrC-content_titule Rihanna Loud Tour llega a Barcelona
                                            .sdrC-content_img
                                                img.sdrC-img(src=globals.imgPath+"/content/img-carrusel-01.png", alt="desc")
                                    li 
                                        div.sdrC-content_item
                                            .sdrC-content_txt
                                                p.sdrC-content_titule Rihanna Loud Tour llega a Barcelona
                                            .sdrC-content_img
                                                img.sdrC-img(src=globals.imgPath+"/content/img-carrusel-02.png", alt="desc")
                                    li 
                                        div.sdrC-content_item
                                            .sdrC-content_txt
                                                p.sdrC-content_titule Rihanna Loud Tour llega a Barcelona
                                            .sdrC-content_img
                                                img.sdrC-img(src=globals.imgPath+"/content/img-carrusel-03.png", alt="desc")
                                    li 
                                        div.sdrC-content_item
                                            .sdrC-content_txt
                                                p.sdrC-content_titule Rihanna Loud Tour llega a Barcelona
                                            .sdrC-content_img
                                                img.sdrC-img(src=globals.imgPath+"/content/img-carrusel-01.png", alt="desc")
                                    li 
                                        div.sdrC-content_item
                                            .sdrC-content_txt
                                                p.sdrC-content_titule Rihanna Loud Tour llega a Barcelona
                                            .sdrC-content_img
                                                img.sdrC-img(src=globals.imgPath+"/content/img-carrusel-02.png", alt="desc")
                                button.sdrC-btnN(type="button", data-role="none", aria-label="Next") Next


            .mod-homeRow2Tap
            .mod-homeRow3
                .hr3-content
                    .mod-sliderFade.fc-sliderFade
                        div
                            .slf-content
                               .row
                                    .slf-content-L.col-sm-12.col-md-6.col-lg-5
                                        .slf-groupParraf
                                            p.slf-title "Acabo de alquilar mi primer piso1"
                                            p.slf-parraf
                                                span Resuelve tus dudas en un momento. 
                                                span Lorem ipsum dolor amet, ipsum tramp sip
                                            .mod_botonera
                                                a.btn-orange.icoBtnGlobo(href="#ni", title="Conecta con un agente") Conecta con un agente
                                    .slf-content-R.col-md-6.col-lg-7
                                        .row
                                            img.slf-img(src=globals.imgPath+"/modules/mod_slider/imgSliderFade01.png", alt="desc")
                        div
                            .slf-content
                               .row
                                    .slf-content-L.col-sm-12.col-md-6.col-lg-5
                                        .slf-groupParraf
                                            p.slf-title "Acabo de alquilar mi primer piso2"
                                            p.slf-parraf
                                                span Resuelve tus dudas en un momento. 
                                                span Lorem ipsum dolor amet, ipsum tramp sip
                                            .mod_botonera
                                                a.btn-orange.icoBtnGlobo(href="#ni", title="Conecta con un agente") Conecta con un agente
                                    .slf-content-R.col-md-6.col-lg-7
                                        .row
                                            img.slf-img(src=globals.imgPath+"/modules/mod_slider/imgSliderFade01.png", alt="desc")
                        div
                            .slf-content
                               .row
                                    .slf-content-L.col-sm-12.col-md-6.col-lg-5
                                        .slf-groupParraf
                                            p.slf-title "Acabo de alquilar mi primer piso3"
                                            p.slf-parraf
                                                span Resuelve tus dudas en un momento. 
                                                span Lorem ipsum dolor amet, ipsum tramp sip
                                            .mod_botonera
                                                a.btn-orange.icoBtnGlobo(href="#ni", title="Conecta con un agente") Conecta con un agente
                                    .slf-content-R.col-md-6.col-lg-7
                                        .row
                                            img.slf-img(src=globals.imgPath+"/modules/mod_slider/imgSliderFade01.png", alt="desc")
            .mod-homeRow3Tap
            .mod-homeRow4
                .hr4-content
                    .mod-tiempo.tpo-01
                        .container
                            .row
                                .col-sm-12.col-lg-9
                                    form.mod-formNews.mod_formField(id="formNewsletter", method="GET",action="#")
                                        fieldset
                                            legend.frmN-legend
                                                span.frmN-subtit Ap&uacute;ntate a nuestra
                                                span.frmN-tit Newsletter

                                            p.frmN-parrafo ¿Quieres estar al corriente de las actividades en Allianz Zona?
                                            .row
                                                .col-xs-12.col-md-7.col-md-offset-1
                                                    label.hideAccessible(for="idEmail") E-mail
                                                    input.frmN-input.frmN-fila(id="idEmail", type="email" value="", placeholder="E-mail")

                                                    .fmf-swich.frmN-fila
                                                        input#idSiNo.fmf-swich-checkbox(type='checkbox', name='onoffswitch', checked='')
                                                        label.fmf-swich-label(for='idSiNo')
                                                            span.fmf-swich-inner
                                                            span.fmf-swich-switch
                                                        p.fmf-swich_text Estoy de acuerdo con la 
                                                            a.fmf-swich_link(href="#ni", title="Pol&iacute;tica de Privacidad") Pol&iacute;tica de Privacidad
                                                .col-xs-12.col-md-3
                                                    .mod_botonera.frmN-fila
                                                        a.btn-orange(href="#ni", title="Enviar") Enviar
                                                .col-xs-12.col-md-10.col-md-offset-1.frmN-fila
                                                    

                                .col-lg-3.hidden-md
                                    .tpo-content
                                        p.tpo-ciudad 
                                            span Barcelona
                                        p.tpo-tempMin 
                                            span m&iacute;n.
                                                span.tpo-tempNumber 13
                                                span.tpo-simbol &deg;
                                        p.tpo-tempMax
                                            span m&aacute;x.
                                                span.tpo-tempNumber.bold 23
                                                span.tpo-simbol.bold &deg;
                                        p.tpo-fecha
                                            span Lunes, 20 octubre 2015
            
        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>