//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
+m-headBuilder({
                    title:"Ven - Allianz Zona",
                    metaList:{
                        "viewport": "width=device-width, initial-scale=1.0"
                    }, 
                    cssFiles:[
                        "css/styles-aui",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "css/bootstrap",
                        "css/general",
                        "css/modules"
                     ],
                    jsFiles:[
                        "libs/jquery-1.11.3.min",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/jquery.mobile.custom/jquery.mobile.custom.min",
                        "libs/jquery.ui.touch-punch.min",
                        "libs/slick",
                        "libs/rangeSlider/jQAllRangeSliders-min",
                        "libs/bootstrap.min",
                        "js/init",
                        "js/main"
                    ]   
                })
body
    section.dFront
        h1.hideAccessible Allianz - Ven

        //- mod_cookie
        +mod_cookie()
        //- End mod_cookie

        //-mod_header
        +mod_header({
            menu:{
                items:[
                    {
                        content: "Vive"
                    },
                    {
                        content: "Conecta"
                    },
                    {
                        content: "Disfruta"
                    },
                    {
                        content: "Ven",
                        active: true
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main.min-home
            .mod-homeRow1.mod-homeRow1_XL
                .hr1-content
                    .container
                        .row
                            .mod-banner.col-sm-12
                                h2.bnr-txt
                                    span.extraBold &iquest;Qu&eacute; es Allianz Zona? 

                                //a.bnr-link.ico_play(href="#ni", target="", title="") Ejecutar video
                                
                                a.bnr-link.ico_play(href="#", data-toggle='modal', data-target='#myModalPlay')


                                a.bnr-link.ico_downPage.fc-downPage.visible-lg(href="#ni", title="") Bajar al contenido
            .mod-homeRow1Tap
            .mod-homeRow5
                .hr4-content
                    .mod-generalContent
                        .container
                            .row
                                .col-xs-12.col-lg-7
                                    .mod-parrafo.gct-content
                                        p.pfo-tit &iquest;Qu&eacute; es Allianz Zona?
                                        p.pfo-text Allianz Zona es un espacio en el que podr&aacute;s interactuar y estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con uno de nuestros agentes, asiste a alguna de las conferencias que tenemos programadas o simplemente disfruta del entorno digital e interactivo que ponemos a tu disposici&oacute;n.
                                        p.pfo-text Allianz Zona es un espacio en el que podr&aacute;s interactuar y estar a la &uacute;ltima sobre todo lo relacionado con tu ciudad y en especial con el mundo del seguro. Re&uacute;nete con uno de nuestros agentes, asiste a alguna de las conferencias que tenemos programadas o simplemente disfruta del entorno digital e interactivo que ponemos a tu disposici&oacute;n.
                                            
                                .col-xs-12.col-lg-4.col-lg-offset-1.mod_banner_info.gct-content.visible-lg
                                    .bni-content 
                                        p.bni-title &iquest;Quieres organizar un evento en nuestra Zona Allianz?
                                        p.bni-text Ponte en contacto con nosotros
                                        .mod_botonera.btn-center
                                            //a.btn-orange(href="#ni", title="") Contacta con nosotros
                                            a(href="#", data-toggle="modal", data-target="#myModal", class="btn-orange") Contacta con nosotros

                        .col-xs-12.mod-sliderFadeImg.fc-sliderFade
                            div
                                .slf-content
                                   .row
                                        .slf-content.col-md-12
                                            .row
                                                img.slf-img(src=globals.imgPath+"/content/ven-img-01.png", alt="desc")
                            div
                                .slf-content
                                   .row
                                        .slf-content.col-md-12
                                            .row
                                                img.slf-img(src=globals.imgPath+"/content/ven-img-02.png", alt="desc")
                            div
                                .slf-content
                                   .row
                                        .slf-content.col-md-12
                                            .row
                                                img.slf-img(src=globals.imgPath+"/content/ven-img-01.png", alt="desc")

                        .mod_banner_info.gct-content.visible-md.visible-sm.visible-xs
                            .bni-content 
                                p.bni-title &iquest;Quieres organizar un evento en nuestra Zona Allianz?
                                p.bni-text Ponte en contacto con nosotros
                                .mod_botonera.btn-center
                                    a(href="#", type="button", data-toggle="modal", data-target="#myModal", class="btn-orange") Contacta con nosotros

                        .mod_mapa.fc-mapa.gct-content
                            .map-parrafo
                                .container
                                    .row
                                        .map-parrafo-box
                                            p.map-tit &iquest;A qu&eacute; esperas para visitarnos? 
                                            p.map-text 
                                                span Nos encontrar&aacute;s en 
                                                span Carrer carrer, n&uacute;mero A (080AA) 
                                                span Barcelona
                            .map-iframe
                                iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3037.6349277003014!2d-3.7061871842501026!3d40.4169376135501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1452533988506", width="1600", height="515",  allowfullscreen)

                        .col-xs-12.col-lg-8.col-lg-offset-2
                            form(method="post" action="#" class="mod-formNews fc-filter_showHide mod_formField")
                                fieldset
                                    legend.frmN-legend
                                        span.frmN-subtit Ap&uacute;ntate a nuestra
                                        span.frmN-tit Newsletter

                                    p.frmN-parrafo &iquest;Quieres estar al corriente de las actividades en Allianz Zona?
                                    .row
                                        .col-xs-12.col-md-7.col-md-offset-1
                                            label.hideAccessible(for="idEmail") E-mail
                                            input.frmN-input.frmN-fila(id="idEmail", type="email" value="", placeholder="E-mail")

                                            .fmf-swich.frmN-fila
                                                input#idSiNo.fmf-swich-checkbox(type='checkbox', name='onoffswitch', checked='')
                                                label.fmf-swich-label(for='idSiNo')
                                                    span.fmf-swich-inner
                                                    span.fmf-swich-switch
                                                p.fmf-swich_text Estoy de acuerdo con la&nbsp;
                                                    a.fmf-swich_link(href="#ni", title="Pol&iacute;tica de Privacidad") Pol&iacute;tica de Privacidad
                                        .col-xs-12.col-md-3
                                            .mod_botonera.frmN-fila
                                                a.btn-orange(href="#ni", title="Enviar") Enviar
            
        // END CONTAINER

        +mod_footer()
        .mod_modal
            // Modal Video
            #myModalPlay.modalPlay.modal.fade(tabindex='-1', role='dialog')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close') Cerrar Modal
                        .modal-body
                            iframe(width="420", height="315", src="https://www.youtube.com/embed/-vgdPcA6v8o", allowfullscreen, title="Video de youtube")
            // Modal Form
            #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                .modal-dialog(role='document')
                    button.close(type='button', data-dismiss='modal', aria-label='Close') Cerrar Modal
                    .modal-content
                        .modal-header
                            .mod_title
                                h3.tit-title.tit-h1.modal-title Me gustar&iacute;a organizar un evento en Allianz Zona
                        .modal-body
                            form(method="post", action="#", class="mod_formField")
                                fieldset.fmf-fieldset.mod_accordion.ui-accordion
                                    legend.fmf-legend.hideAccessible 01. Indica tus datos de contacto
                                    h3.fc-accordion_head.acn-headForm
                                        span.acn-headNumber o1. 
                                        | Indica tus datos de contacto
                                    .acn-bodyForm
                                        .row
                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                .row
                                                    .col-xs-12.col-lg-2
                                                        label.fmf-label.fmf-inline(for='name') Nombre
                                                    .col-xs-12.col-lg-6
                                                        input#name.fmf-field.fmf-text(type='text', name='name')
                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                .row
                                                    .col-xs-12.col-lg-2
                                                        label.fmf-label(for='email02') Email
                                                    .col-xs-12.col-lg-6
                                                        input#email02.fmf-field.fmf-text(type='email', name='email02')
                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                .row
                                                    .col-xs-12.col-lg-2
                                                        label.fmf-label(for='phone02') Tel&eacute;fono
                                                    .col-xs-12.col-lg-6
                                                        input#phone02.fmf-field.fmf-text(type='tel', name='phone02')
                                                
                                fieldset.fmf-fieldset.mod_accordion.ui-accordion
                                    legend.fmf-legend.hideAccessible 02. &iquest;Escribes en nombre de una organizaci&oacute;n?
                                    h3.fc-accordion_head.acn-headForm
                                        span.acn-headNumber o2. 
                                        | &iquest;Escribes en nombre de una organizaci&oacute;n?
                                    .acn-bodyForm
                                        .row
                                            .col-xs-12.col-md-8
                                                .fmf-radioGroup
                                                    input(id="yes",type="radio", name="yesOrNot", class="fmf-radio")
                                                    label(for="yes", class="fmf-label-on")
                                                        span.hideAccessible S&iacute;
                                                .fmf-radioGroup
                                                    input(id="not",type="radio", name="yesOrNot", class="fmf-radio")
                                                    label(for="not",class="fmf-label-off")
                                                        span.hideAccessible No
                                        .row
                                            .col-xs-12.fmf-aviso
                                                p Indica por favor los datos de la organizaci&oacute;n
                                        .row
                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                .row
                                                    .col-xs-12.col-lg-2
                                                        label.fmf-label.fmf-inline(for='name02') Nombre
                                                    .col-xs-12.col-lg-6
                                                        input#name02.fmf-field.fmf-text(type='text', name='name02')
                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                .row
                                                    .col-xs-12.col-lg-2
                                                        label.fmf-label(for='email03') Email
                                                    .col-xs-12.col-lg-6
                                                        input#email03.fmf-field.fmf-text(type='email', name='email03')
                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                .row
                                                    .col-xs-12.col-lg-2
                                                        label.fmf-label(for='phone03') Tel&eacute;fono
                                                    .col-xs-12.col-lg-6
                                                        input#phone03.fmf-field.fmf-text(type='tel', name='phone03')
                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                .row
                                                    .col-xs-12.col-lg-2
                                                        label.fmf-label(for='role01') Rol que ocupas en la oragnizaci&oacute;n
                                                    .col-xs-12.col-lg-6
                                                        input#role00.fmf-field.fmf-text(type='text', name='role01')
                                            .fmf-fieldGroupInline.col-xs-12.col-md-5.col-lg-12
                                                .row
                                                    .col-xs-12.col-lg-2
                                                        label.fmf-label(for='activity01') Actividad a la que se dedica la organizaci&oacute;n
                                                    .col-xs-12.col-lg-6
                                                        input#activity01.fmf-field.fmf-text(type='text', name='activity01')
                                                
                                    

                                    

                                fieldset.fmf-fieldset.mod_accordion.ui-accordion
                                    legend.fmf-legend.hideAccessible 03. Describe la actividad que te gustar&iacute;a organizar en Allianz Zona
                                    h3.fc-accordion_head.acn-headForm
                                        span.acn-headNumber o3. 
                                        | Describe la actividad que te gustar&iacute;a organizar en Allianz Zona
                                    .acn-bodyForm
                                        .row
                                            .col-xs-12.fmf-aviso
                                                p S&eacute; lo m&aacute; concreto en la descripci&oacute;n para poder valorar la propuesta adecuadamente. Incluye la fecha y hora propuestas, la duraci&oacute;n de la actividad, qu&eacute; suceder&aacute; y qui&eacute;n participar&aacute; y a qu&eacute; p&uacute;blico va dirigido.
                                        .row
                                            .col-xs-12.fmf-fieldGroup
                                                label(for="comment02", class="hideAccessible") Describe tu consulta
                                                textarea(id="comment02",class="fmf-field fmf-textarea") Lorem Ipsu
                                        .row
                                            .col-xs-12.fc-inputFile
                                                p.fmf-aviso Si lo prefieres puedes adjuntar un documento
                                                .fmf-groupHide.fc-groupHide
                                                    label(for="file02") Adjuntar
                                                    input(id="file02", type="file", class="fmf-file")
                                                .fmf-groupFile.fc-groupShow.mod-formNews
                                                    input(id="text04", type="text", class="frmN-input frmN-fila fmf-file", placeholder="Selecciona un archivo")
                                                    label(for="text04", class="fmf-labelFile") Adjuntar
                                                .fmf-fieldGroupInline.row
                                                    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-7.col-md-offset-3.col-lg-offset-0
                                                        .fmf-swich.frmN-fila
                                                            input#idSiNo02.fmf-swich-checkbox(type='checkbox', name='onoffswitch')
                                                            label.fmf-swich-label(for='idSiNo02')
                                                                span.fmf-swich-inner
                                                                span.fmf-swich-switch
                                                            p.fmf-swich_text Estoy de acuerdo con la 
                                                                a.fmf-swich_link(href='#ni', title='Pol&iacute;tica de Privacidad') Política de Privacidad
                                .row
                                    .col-xs-12.fmf-aviso
                                        p Gracias por interesarte en Allianz Zona. Estudiaremos tu propuesta e intentaremos darte respueat lo antes posible. 
                        .modal-footer
                            .mod_botonera
                                button.btn-orange(type='button', data-dismiss='modal') Enviar la informaci&oacute;n
//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>