//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
+m-headBuilder({
                    title:"Vive - Allianz Zona",
                    metaList:{
                        "viewport": "width=device-width, initial-scale=1.0"
                    },
                    cssFiles:[
                        "css/styles-aui",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "css/bootstrap",
                        "css/general",
                        "css/modules"
                     ],
                    jsFiles:[
                        "libs/jquery-1.11.3.min",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/jquery.mobile.custom/jquery.mobile.custom.min",
                        "libs/jquery.ui.touch-punch.min",
                        "libs/slick",
                        "libs/rangeSlider/jQAllRangeSliders-min",
                        "js/init",
                        "js/main"
                    ]
                })
body
    section.dFront
        h1.hideAccessible Allianz - Vive

        //- mod_cookie
        +mod_cookie()
        //- End mod_cookie

        //-mod_header
        +mod_header({
            menu:{
                items:[
                    {
                        content: "Vive",
                        active: true
                    },
                    {
                        content: "Conecta"
                    },
                    {
                        content: "Disfruta"
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main.mod_vive
            .col-xs-12.mv_titVive
                h2.mv-tith2 Aseg&uacute;rate con Allianz.
                    span.mv-sub Encuentra tu seguro ideal
            .mod-homeRow2TapVive
            .mod-homeRow3.fc-homeRow
                .hr3-content
                    .col-xs-12.col-lg-6.mv-boxL
                        .mv-boxInner
                            a(class="mv-link" href="#life", title="Me voy a vivir solo") "Me voy a vivir solo"
                                .mv-content
                                    p.mvc-text &iquest;Sabes qué hacer si te roban el móvil?
                                    p.mvc-text &iquest;Sabes qué hacer si pierdes las llaves?
                                    p.mvc-text Las 5 diferencias entre continente y contenido
                                    p.mvc-text Consejos para elegir un buen seguro de hogar
                    .col-xs-12.col-lg-6.mv-boxR
                        .mv-boxInner
                            a(class="mv-link" href="#buyHouse", title="Me compro un coche") "Me compro un coche"
                                .mv-content
                                    p.mvc-text &iquest;Sabes qué hacer si te roban el móvil?
                                    p.mvc-text &iquest;Sabes qué hacer si pierdes las llaves?
                                    p.mvc-text Las 5 diferencias entre continente y contenido
                                    p.mvc-text Consejos para elegir un buen seguro de hogar
            .mod-homeRow3Tap
            .mod-homeRow4Vive.fc-homeRow
                .hr4-content
                    .col-xs-12.col-lg-6.mv-boxL
                        .mv-boxInner
                            a(class="mv-link" href="#wedding", title="Me caso") "Me caso"
                                .mv-content
                                    p.mvc-text &iquest;Sabes qué hacer si te roban el móvil?
                                    p.mvc-text &iquest;Sabes qué hacer si pierdes las llaves?
                                    p.mvc-text Las 5 diferencias entre continente y contenido
                                    p.mvc-text Consejos para elegir un buen seguro de hogar
                    .col-xs-12.col-lg-6.mv-boxR
                        .mv-boxInner
                            a(class="mv-link" href="#bussines", title="Monto un negocio") "Monto un negocio"
            .mod-homeRow2Tap
            .mod-homeRow3.homeRowLast.fc-homeRow
                .hr3-content
                    .col-xs-12.col-lg-6.mv-boxL
                        .mv-boxInner
                            a(class="mv-link" href="#sons", title="Quiero tener un hijo") "Quiero tener un hijo"
                                .mv-content
                                    p.mvc-text &iquest;Sabes qué hacer si te roban el móvil?
                                    p.mvc-text &iquest;Sabes qué hacer si pierdes las llaves?
                                    p.mvc-text Las 5 diferencias entre continente y contenido
                                    p.mvc-text Consejos para elegir un buen seguro de hogar

                    .col-xs-12.col-lg-6.mv-boxR
                        .mv-boxInner
                            a(class="mv-link" href="#travel", title="Me voy de viaje") "Me voy de viaje"
            .mod-homeRow3Tap.homeFinal

            .container
                .row
                    .col-xs-12.mod_showMore.mod_machine
                        p.fc-verMas
                            a(href="#mostrarMas", title="Mostrar Más", class="mch-link")
                            span.md-link   Ver m&aacute;s

            .container
                .row
                    .col-xs-12
                        h3.mvn-titH3 &iquest;Necesitas asegurar algo especial?
                            small.mvn-sub &iexcl;Podemos ayudarte!
            .mv-needHelp
                .container
                    .row
                        .col-xs-12.col-md-12.col-lg-3.mvn-boxO
                            a(class="mvn-link", href="", title="Quiero asegurar mi tabla de surf") " Quiero asegurar mi tabla de surf "
                        .col-xs-12.col-md-12.col-lg-3.mvn-boxO
                            a(class="mvn-link", href="", title="Quiero asegurar mi equipo fotografico") " Quiero asegurar mi equipo fotogr&aacute;fico "
                        .col-xs-12.col-md-12.col-lg-3.mvn-boxO
                            a(class="mvn-link", href="", title="Soy musico, &iquest;Puedo asegurar mi violin?") " Soy m&uacute;sico, &iquest;puedo asegurar mi viol&iacute;n? "
                        .col-xs-12.col-md-12.col-lg-3.mvn-boxA
                            p.mvn-text Ponte en contacto con uno de nuestros agentes y te ayudaremos encantados
                            .mod_botonera
                                button(class="btn-orange ico-conecta mvn-button", type="button") Conecta con un agente


        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>