//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer
include modules/_mod_social

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
+m-headBuilder({
                    title:"Vive Post - Allianz Zona",
                    metaList:{
                        "viewport": "width=device-width, initial-scale=1.0"
                    }, 
                    cssFiles:[
                        "css/styles-aui",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "css/bootstrap",
                        "css/general",
                        "css/modules"
                     ],
                    jsFiles:[
                        "libs/jquery-1.11.3.min",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/jquery.mobile.custom/jquery.mobile.custom.min",
                        "libs/jquery.ui.touch-punch.min",
                        "libs/slick",
                        "libs/rangeSlider/jQAllRangeSliders-min",
                        "js/init",
                        "js/main"
                    ]   
                })
body
    section.dFront
        h1.hideAccessible Allianz - Vive Post

        //- mod_cookie
        +mod_cookie()
        //- End mod_cookie

        //-mod_header
        +mod_header({
            menu:{
                items:[
                    {
                        content: "Vive",
                        active: true
                    },
                    {
                        content: "Conecta"
                    },
                    {
                        content: "Disfruta"
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main.mod_vivePost
            .container
                .row
                    .col-xs-12.mod_back
                        a(href="#ni", title="Seguro de hogar", class="mb-linkBack ico-back") Seguro de hogar
                .row    
                    .col-xs-12.col-lg-5.col-lg-push-7.mod_calc
                        a(class="mc-link", href="", title="Calcula tu seguro")
                            figure 
                                img(class="mc-img", src=globals.imgPath+"/modules/icons/ico-cal.png", alt="Calculadora de seguro") 
                                figcaption.mc-figCap Calcula tu seguro
                    .col-xs-12.col-lg-7.col-lg-pull-5.mvp-titH2
                        h2 &iquest; Sabes qu&eacute; hacer si te roban el m&oacute;vil ?
                .row
                    .col-xs-12.col-lg-7.mvp-post
                        p.mvp-text Minions ipsum chasy velit sit amet magna po kass hana dul sae la bodaaa. Ut aliqua potatoooo occaecat potatoooo. Voluptate ti aamoo! Baboiii eiusmod para tú pepete uuuhhh bee do bee do bee do cillum. Chasy veniam wiiiii sed esse et velit veniam jeje velit tempor. Ad sit amet labore magna potatoooo po kass poulet tikka masala belloo! Ex laboris qui belloo! Bananaaaa.
                        p.mvp-text Sed poulet tikka masala enim po kass bee do bee do bee do. Nisi tatata bala tu aute nisi ad baboiii pepete tank yuuu! Daa quis quis daa veniam butt. Me want bananaaa! velit consectetur po kass daa ullamco magna. Po kass bananaaaa enim sit amet bappleees enim poulet tikka masala po kass. Uuuhhh jeje adipisicing wiiiii incididunt ullamco. Ut aute chasy para tú gelatooo nisi dolore jiji.

                        h3.mvp-titH3 Lorem Ipsum

                        p.mvp-text Minions ipsum quis daa daa nisi velit. Duis commodo ex la bodaaa bananaaaa. Dolor potatoooo tank yuuu! Dolore para tú bee do bee do bee do ad belloo! Consequat uuuhhh. Duis wiiiii ut elit et aliquip ad. Hana dul sae ullamco butt esse wiiiii cillum sit amet nostrud officia ut. Ad gelatooo me want bananaaa! Incididunt ut consequat nostrud. Adipisicing wiiiii poulet tikka masala duis esse aute consequat jeje. Reprehenderit jiji ex aute. 

                        figure.mvp-fig
                            img(class="mvp-item", src=globals.imgPath+"/content/img-post.jpg", alt="Imagen del post")
                            figcaption.mvp-figcaption 
                    .col-xs-12.col-lg-5.mvp-boxAside
                        +mod_social({
                            cssClass:"scl-spacing",
                            items:[
                                {
                                    content: "facebook"
                                },
                                {
                                    content: "twitter"
                                }
                            ]
                        })
                        .mod_boxButton
                            p.mbb-text Un 
                                span.text-strong agente 
                                | puede atenderte 
                                span.text-strong online y resolverte 
                                |cualquier 
                                span.text-strong consulta 
                                | que tengas sobre este 
                                span.text-strong seguro
                            .mod_botonera 
                                button(class="btn-orange ico-conecta mvn-button", type="button") Conecta con un agente

        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>