//- jade mixin includes
//- general
include _config
include general/_headBuilder
include modules/_mod_header
include modules/_mod_navMenu
include modules/_mod_cookie
include modules/_mod_footer

//- modules

doctype html
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="es" dir="ltr" class="aui ltr yui3-js-enabled webkit ltr js"> <!--<![endif]-->
+m-headBuilder({
                    title:"Vive Seguro - Allianz Zona",
                    metaList:{
                        "viewport": "width=device-width, initial-scale=1.0"
                    },
                    cssFiles:[
                        "css/styles-aui",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "css/bootstrap",
                        "css/general",
                        "css/modules"
                     ],
                    jsFiles:[
                        "libs/jquery-1.11.3.min",
                        "libs/jquery-ui-custom-1.11.4/jquery-ui-1.11.4.min",
                        "libs/jquery.mobile.custom/jquery.mobile.custom.min",
                        "libs/jquery.ui.touch-punch.min",
                        "libs/slick",
                        "libs/rangeSlider/jQAllRangeSliders-min",
                        "js/init",
                        "js/main"
                    ]
                })
body
    section.dFront
        h1.hideAccessible Allianz - Vive Seguro

        //- mod_cookie
        +mod_cookie()
        //- End mod_cookie

        //-mod_header
        +mod_header({
            menu:{
                items:[
                    {
                        content: "Vive",
                        active: true
                    },
                    {
                        content: "Conecta"
                    },
                    {
                        content: "Disfruta"
                    },
                    {
                        content: "Ven"
                    }
                ]
            }
        })
        //-End mod_header

        // CONTAINER
        main.mod-main.mod_viveSeguro
            .container
                .row
                    .col-xs-12.col-lg-6.mvs-colunmL
                        .row
                            .col-xs-12.mod_back
                                a(href="#ni", title="Seguro de hogar", class="mb-linkBack ico-back") Ver todos los momentos
                        .row
                            .col-xs-12.col-md-10.col-md-offset-1
                                h2.mvs-titH2
                                    span.mvs-icoH2 
                                        img(src=globals.imgPath+"/modules/icons/ico-home-orange.png", alt="Seguro de hogar")
                                    |Seguro de hogar
                                .mod_boxButton
                                    p.mbb-text Minions ipsum me want bananaaa! Ti aamoo! Tatata bala tu gelatooo. Poopayee bee do bee do bee do po kass bananaaaa para tú po kass. Tulaliloo underweaaar jiji potatoooo belloo! Chasy aaaaaah.
                                    .mod_botonera
                                        button(class="btn-orange ico-conecta mvn-button", type="button") Conecta con un agente

                                .mod_calc
                                    a(class="mc-link", href="", title="Calcula tu seguro")
                                        figure
                                            img(class="mc-img", src=globals.imgPath+"/modules/icons/ico-cal.png", alt="Calculadora de seguro")
                                            figcaption.mc-figCap Calcula tu seguro

                    //- Columna derecha con Overflow
                    .col-xs-12.col-lg-6.mvs-colunmR
                        .row
                            .col-xs-12.col-md-10.col-md-offset-1.col-lg-12.col-lg-offset-0.bck-columnR
                                .row.mvs-boxGroup
                                    .col-xs-12.col-md-6.mvs-boxOptions
                                        .mvs-boxOptionsbox
                                            a(href="", title="", class="mvs-boxLink ico-smile") Qu&eacute; opina la gente como tu
                                            .mvs-boxImg
                                                img(class="ico-mvs-boxLink", alt="texto_alternativo" src="images/modules/icons/ico-smile.png")
                                    .col-xs-12.col-md-6.mvs-boxOptions
                                        .mvs-boxOptionsbox
                                            a(href="", title="", class="mvs-boxLink ico-house-white") &iquest; Por qu&eacute; contratarlo?
                                            .mvs-boxImg
                                                img(class="ico-mvs-boxLink", alt="texto_alternativo" src="images/modules/icons/ico-white-house.png")
                                .row.mvs-boxGroup
                                    .col-xs-12.col-md-6.mvs-boxOptions
                                        .mvs-boxOptionsbox
                                            a(href="", title="", class="mvs-boxLink ico-threeHouse") Tipos de seguros de hogar
                                            .mvs-boxImg
                                                img(class="ico-mvs-boxLink", alt="texto_alternativo" src="images/modules/icons/ico-threeHouse.png")
                                    .col-xs-12.col-md-6.mvs-boxOptions
                                        .mvs-boxOptionsbox
                                            a(href="", title="", class="mvs-boxLink ico-link") Consulta toda la informaci&oacute;n de este seguro en Allianz.es
                                            .mvs-boxImg
                                                img(class="ico-mvs-boxLink", alt="texto_alternativo" src="images/modules/icons/ico-linkExternal.png")
                                .row.mvs-boxGroup
                                    .col-xs-12.col-md-6.mvs-boxOptions
                                        .mvs-boxOptionsbox
                                            a(href="", title="", class="mvs-boxLink ico-smile") Qu&eacute; opina la gente como tu
                                            .mvs-boxImg
                                                img(class="ico-mvs-boxLink", alt="texto_alternativo" src="images/modules/icons/ico-smile.png")
                                    .col-xs-12.col-md-6.mvs-boxOptions
                                        .mvs-boxOptionsbox
                                            a(href="", title="", class="mvs-boxLink ico-house-white") &iquest; Por qu&eacute; contratarlo?
                                            .mvs-boxImg
                                                img(class="ico-mvs-boxLink", alt="texto_alternativo" src="images/modules/icons/ico-white-house.png")

                    .col-xs-12.mod_showMore
                        a(href="#mostrarMas", title="Mostrar Más", class="md-link ico-plus-blue") Ver m&aacute;s
        // END CONTAINER

        +mod_footer()

//- DON'T REMOVE: This tag close HTML tag to make compatible conditional comments
</html>