@charset "UTF-8";
/* END _config.EXAMPLE */
/*RESETEO DE ESTILOS*/
html, body, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, article, aside, details, dialog, figcaption, figure, footer, header, hgroup, main, nav, section, summary, audio, canvas, video, mark, code, kbd, pre, samp, a, abbr, acronym, address, code, del, dfn, em, strong, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, div { margin: 0; padding: 0; border: none; font-weight: normal; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-decoration: none; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

input, button, select, textarea { margin: 0; padding: 0; font-weight: normal; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-decoration: none; -ms-box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

ul, ol, dl { list-style: none; }

/*CORRECTA VISUALIZACIÓN DE ETIQUETAS HTML5 EN NAVEGADORES NO SOPORTADOS*/
article, aside, details, dialog, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

dfn { font-style: italic; }

mark { background-color: #ff0; color: #000; }

code, kbd, pre, samp { font-family: monospace, serif; font-size: 1.6em; }

body { font-family: "Montserrat", Helvetica, sans-serif; }

/* ENLACES */
a { cursor: pointer; }

a:visited { text-decoration: none; }

/* cuando un link es visitado recupera el color original del link */
a:hover { text-decoration: underline; }

a:focus, a:active { text-decoration: none; }

/* ENCABEZADOS CON Y SIN ENLACE */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }

/* RESET FORMULARIOS */
/*BOTONES*/
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }

button[disabled], input[disabled] { cursor: default; }

/* RESET TABLAS*/
table { border-collapse: collapse; border-spacing: 0; }

a:active, a:active * { outline: none !important; -moz-outline-style: none !important; }

a:focus, a:focus * { outline: none !important; -moz-outline-style: none !important; }

/* RESET AUI */
.aui html { font-size: 16px; }

.aui body { padding: 0; margin: 0; font-family: "Arial", Helvetica, sans-serif; font-size: 16px; }

.aui label, .aui input, .aui button, .aui select, .aui textarea { font-size: 1em; }

.aui .row { margin-left: -15px; margin-right: -15px; }

.aui ul, .aui ol { margin: 0; }

.aui form, .aui p { margin: 0; }

.aui li { line-height: normal; }

.aui legend { font-size: 16px; border: 0; margin: 0; }

.aui label { font-weight: normal; }

.aui h1, .aui h2, .aui h3, .aui h4, .aui h5, .aui h6 { margin: 0; font-size: 1em; line-height: 1; }

.aui select, .aui textarea, .aui input[type="text"], .aui input[type="password"], .aui input[type="datetime"], .aui input[type="datetime-local"], .aui input[type="date"], .aui input[type="month"], .aui input[type="time"], .aui input[type="week"], .aui input[type="number"], .aui input[type="email"], .aui input[type="url"], .aui input[type="search"], .aui input[type="tel"], .aui input[type="color"] { height: auto; margin: 0; line-height: normal; box-shadow: none; }

.aui textarea:focus, .aui input[type="text"]:focus, .aui input[type="password"]:focus, .aui input[type="datetime"]:focus, .aui input[type="datetime-local"]:focus, .aui input[type="date"]:focus, .aui input[type="month"]:focus, .aui input[type="time"]:focus, .aui input[type="week"]:focus, .aui input[type="number"]:focus, .aui input[type="email"]:focus, .aui input[type="url"]:focus, .aui input[type="search"]:focus, .aui input[type="tel"]:focus, .aui input[type="color"]:focus { box-shadow: none; }

@media screen and (max-width: 1279px) { .modal-open .dFront { height: 5.4375em; overflow: hidden; }
  .modal-open .modal-backdrop { display: none; } }
/* TYPOGRAPHY */
/*Open sans font*/
@font-face { font-family: OpenSans; src: url('fonts/OpenSans/eot/OpenSans.eot');src:url('fonts/OpenSans/eot/OpenSans.eot?#iefix') format('embedded-opentype'),url('fonts/OpenSans/woff/OpenSans.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: OpenSans-Italic; src: url('fonts/OpenSans/eot/OpenSans-Italic.eot');src:url('fonts/OpenSans/eot/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),url('fonts/OpenSans/woff/OpenSans-Italic.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: OpenSans-Bold; src: url('fonts/OpenSans/eot/OpenSans-Bold.eot');src:url('fonts/OpenSans/eot/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),url('fonts/OpenSans/woff/OpenSans-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: OpenSans-Light; src: url('fonts/OpenSans/eot/OpenSans-Light.eot');src:url('fonts/OpenSans/eot/OpenSans-Light.eot?#iefix') format('embedded-opentype'),url('fonts/OpenSans/woff/OpenSans-Light.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: OpenSans-Semibold; src: url('fonts/OpenSans/eot/OpenSans-Semibold.eot');src:url('fonts/OpenSans/eot/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),url('fonts/OpenSans/woff/OpenSans-Semibold.woff') format('woff'); font-weight: normal; font-style: normal; }
/*End Open sans font*/
/*Montserrat font*/
@font-face { font-family: Montserrat; src: url('fonts/Montserrat/eot/Montserrat.eot');src:url('fonts/Montserrat/eot/Montserrat.eot?#iefix') format('embedded-opentype'),url('fonts/Montserrat/woff/Montserrat.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: Montserrat-Italic; src: url('fonts/Montserrat/eot/Montserrat-Italic.eot');src:url('fonts/Montserrat/eot/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),url('fonts/Montserrat/woff/Montserrat-Italic.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: Montserrat-Bold; src: url('fonts/Montserrat/eot/Montserrat-Bold.eot');src:url('fonts/Montserrat/eot/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),url('fonts/Montserrat/woff/Montserrat-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: Montserrat-Light; src: url('fonts/Montserrat/eot/Montserrat-Light.eot');src:url('fonts/Montserrat/eot/Montserrat-Light.eot?#iefix') format('embedded-opentype'),url('fonts/Montserrat/woff/Montserrat-Light.woff') format('woff'); font-weight: normal; font-style: normal; }
/*End Open sans font*/
/*------------ CLASES GENÉRICAS ---------------------*/
/*ANCHOS*/
.w100 { width: 100% !important; }

.w90 { width: 90% !important; }

.w80 { width: 80% !important; }

.w70 { width: 70% !important; }

.w60 { width: 60% !important; }

.w50 { width: 50% !important; }

.w40 { width: 40% !important; }

.w30 { width: 30% !important; }

.w20 { width: 20% !important; }

.w10 { width: 10% !important; }

.wAuto { width: auto !important; }

/*ALTOS*/
.h100 { height: 100%; }

/*PADDING*/
.no_padding { padding: 0 !important; }

/*PADDING-TOP*/
.no_padding_top { padding-top: 0 !important; }

/*PADDING-RIGTH*/
.no_padding_right { padding-right: 0 !important; }

/*PADDING-BOTTOM*/
.no_paddingBottom { padding-bottom: 0 !important; }

/*PADDING-LEFT*/
.no_padding_left { padding-left: 0 !important; }

/*MARGENES*/
.no_margin { margin: 0 !important; }

/*MARGIN-TOP*/
.no_marginTop { margin-top: 0 !important; }

/*MARGIN-RIGHT*/
.no_marginRight { margin-right: 0 !important; }

/*MARGIN-BOTTOM*/
.no_marginBottom { margin-bottom: 0 !important; }

/*MARGIN-LEFT*/
.no_marginLeft { margin-left: 0 !important; }

/*FONDOS*/
.background-colorNone { background-color: transparent !important; }

/*FLOTACIONES*/
.ftl { float: left !important; }

.ftr { float: right !important; }

.ftn { float: none; }

/*MOSTRAR / OCULTAR*/
.hide { display: none !important; }

.show { display: block; }

.hideAccessible { position: absolute; left: -9999em; }

.hidden { visibility: hidden; }

.visible { visibility: visible; }

/*BORDES*/
.no_border { border: none !important; }

/*BORDER TOP*/
.no_borderTop { border-top: none !important; }

/*BORDER RIGHT*/
.no_borderRight { border-right: none !important; }

/*BORDER BOTTOM*/
.no_borderBottom { border-bottom: none !important; }

/*BORDER LEFT*/
.no_borderLeft { border-left: none !important; }

/*ZINDEX*/
.zIndex999 { z-index: 999; }

/*POSICIONAMIENTO*/
.positionR { position: relative; }

.positionA { position: absolute; }

/*TEXTO*/
.bold { font-weight: bold; }
