//*****************************************************************************
//*    Proyecto: INTRODUCIR NOMBRE DEL PROYECTO
//*    Titulo: config.scss
//*    Desripcion: Configuracion de rutas y entorno para SASS, NO DEBE GENERAR
//*                ESTILOS
//******************************************************************************/
$CONFIG_IMG_PATH:"images";
//DEFINICION DE VARIABLES
 
//BREAKPOINTS

$max-large: 1600;
$max-medium: 1280;
$max-small: 768;
$max-x-small: 420;

$width-wrapper: em(1280);


/// $margin-row(true|false)      Indicamos si el row debe llevar los margenes o no
/// true = CON margenes || false = SIN margenes.
$margin-row: true;


//GRID CONFIG

$xl-cols: 12;
// Cols for xlarge resolution
$lg-cols: 12;
// Cols for large resolution
$md-cols: 12;
// Cols for med resolution
$sm-cols: 12;
// Cols for small resolution
$xs-cols: 12;
// Cols for xsmall resolution

$xl-min: $max-large;
// Resolution for xlarge
$lg-min: $max-medium;
// Resolution for large
$md-min: $max-small;
// Resolution for med
$sm-min: 480;
// Resolution for small
$xs-min: 320;
// Resolution for xsmall

$xl-gutter: 10;
// Separation between cols for xlarge
$lg-gutter: 10;
// Separation between cols for large
$md-gutter: 10;
// Separation between cols for med
$sm-gutter: 10;
// Separation between cols for small
$xs-gutter: 10;
// Separation between cols for xsmall

$colPrefix: "col";
// Prefix for column
$hidePrefix: "hide";
// Prefix for hide
$visiblePrefix: "visible";
// Prefix for visible
$inlineVisiblePrefix: "inline-visible";
// Prefix for inline-visible
$offsetPrefix: "offset";
// Prefix for offset
$pullPrefix: "pull";
// Prefix for pull
$pushPrefix: "push";
// Prefix for push
$clearPrefix: "clear";
// Prefix for clear
$leftPrefix: "left";
// Prefix por left
$rightPrefix: "right";
// Prefix for rigth
$bothPrefix: "all";
//Prefix for both
$cancelGutterPrefix: "noGutter";
// Prefix for no padding
$endPrefix: "end";
//End prefix
$xlColPrefix: "xl";
// Prefix for xlarge
$lgColPrefix: "lg";
// Prefix for large
$mdColPrefix: "md";
// Prefix for med
$smColPrefix: "sm";
// Prefix for small
$xsColPrefix: "xs";
// Prefix for xsmall
/* END _config.EXAMPLE */