//*****************************************************************************
//    Proyecto: Allianz - Zona
//    Titulo: functiones
//    Desripcion: Funciones genéricas
//******************************************************************************/
// PIXEL TO EM FUNCTION
    // Definition of: Base-Font-Size
    $browser-context: 16; // Default

    $fontPath: "fonts";
    @function em($pixels, $context: $browser-context) {
      @return #{$pixels/$context}em
    }
    @mixin clearfix($clear:both){
        &:after{
            content:"";
            display:block;
            clear:$clear;
        }
    }
// PERCENTAJE FUNCTION
	@function percentaje($elemPixels,$totalPixels){
		@return unquote(($elemPixels*100)/$totalPixels+"%")
	}
    @mixin generateFontFace($fontName,$path:$fontPath,$fontTypes:("ttf"),$fontConfig:(("normal",("normal"))),$separator:"-"){
        //Solución al fallo de manejo de listas, cuando se indicaba en el mixin una lista con un único item trataba la sublista como una lista produciendo fallos en el manejo de los itesm
        //Si se indica solo un item en la lista el hijo será tratado como un string en lugar de una lista
        @if type_of(nth($fontConfig,1)) != "list"{
            //se añade un item falso para probocar la creación de la lista
            $fontConfig : ($fontConfig,null);
        }
        @each $currentFontConfig in $fontConfig {
            @if $currentFontConfig != null {
                $currentFontWeight: nth($currentFontConfig, 1);
                @if $currentFontWeight == "normal" {
                    $currentFontWeight: "";
                }
                $currentFontWeightRoute: str-slice($currentFontWeight,0,1)+str-slice($currentFontWeight,2,str-length($currentFontWeight));
                $currentFontStyles: nth($currentFontConfig, 2);
                @each $currentFontStyle in $currentFontStyles {
                    @if $currentFontStyle == "normal" {
                        $currentFontStyle: "";
                    }
                    $currentSeparator: "";
                    @if str-length($currentFontWeight) > 0 {
                        $currentSeparator: $separator;
                    } @else if str-length($currentFontStyle) > 0 {
                        $currentSeparator: $separator;
                    }
                    $currentFontStyleRoute: str-slice($currentFontStyle,0,1)+str-slice($currentFontStyle,2,str-length($currentFontStyle));
                    @font-face {
                        font-family: unquote($fontName+$currentSeparator+$currentFontWeightRoute+$currentFontStyleRoute);
                        $currentFontFamily: "";
                        $useSRC: "src:";
                        $endOf: ";";
                        $cont: 0;
                        @each $currentFontType in $fontTypes {
                            $result: unquote("url('"+$path+"/"+$fontName+"/"+$currentFontType+"/"+$fontName+$currentSeparator+$currentFontWeightRoute+$currentFontStyleRoute+"."+$currentFontType);
                            @if $currentFontType == "eot" {
                                $currentFontFamily: $currentFontFamily+unquote($result+"')")+$endOf;
                                @if (length($fontTypes) > 1) OR $cont < (length($fontTypes)-1) {
                                    $endOf: ",";
                                } @else {
                                    $endOf: "";
                                }
                                $currentFontFamily: $currentFontFamily+$useSRC+unquote($result+"?#iefix') format('embedded-opentype')")+$endOf;
                            } @else {
                                @if $cont < (length($fontTypes)-1) {
                                    $endOf: ",";
                                } @else {
                                    $endOf: "";
                                }
                                @if $currentFontType == "ttf" {
                                    $currentFontFamily: $currentFontFamily+unquote($result+"') format('truetype')")+$endOf;
                                } @else if $currentFontType == "woff" {
                                    $currentFontFamily: $currentFontFamily+unquote($result+"') format('woff')")+$endOf;
                                } @else if $currentFontType == "svg" {
                                    $currentFontFamily: $currentFontFamily+unquote($result+"##"+$fontName+"') format('svg')")+$endOf;
                                } @else {
                                    $currentFontFamily: $currentFontFamily+unquote($result+"')")+$endOf;
                                }
                            }
                            $useSRC: "";

                            $cont: $cont+1;

                        }
                        src: unquote($currentFontFamily);
                        font-weight: normal;
                        font-style: normal;
                    }
                }
            }
        }
   }

//mixin border radius
@mixin border-radius($radius) {

  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;

}

//mixin degradado
@mixin filter-gradient-2colors ($color1, $pos1, $color2, $pos2, $color3, $pos3, $deg) {

    background: $color1;
    background: -moz-linear-gradient($deg, $color1 $pos1, $color2 $pos2, $color2 $pos3);
    background: -webkit-gradient(left bottom, right top, color-stop($pos1, $color1), color-stop($pos2, $color1), color-stop($pos3, $color3));
    background: -webkit-linear-gradient($deg, $color1 $pos1, $color2 $pos2, $color3 $pos3);
    background: -o-linear-gradient($deg, $color1 $pos1, $color2 $pos2, $color3 $pos3);
    background: -ms-linear-gradient($deg, $color1 $pos1, $color2 $pos2, $color3 $pos3);
    background: linear-gradient($deg, $color1 $pos1, $color2 $pos2, $color3 $pos3);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=1 );

}
