//*****************************************************************************
//    Proyecto: INTRODUCIR EL NOMBRE DEL PROYECTO
//    Titulo: _responsive.scss
//    Desripcion: Estilos para dispositivos
//******************************************************************************/

/// Si tenemos definido el ancho para pantallas muy grandes, debemos de aplicar estas mediaqueries

 /* LARGE RESOLUTION STYLES */
@media screen and (min-width: ($max-large) + px) {

	@include xl-mod_main;

}

//LARGE RESOLUTION STYLES*/
@media screen and (min-width: $max-medium + px) {
	@include l-mod_navMenu;
	@include l-mod_ftr_content;
	@include l-mod_filter;
	@include l-mod_mapa;
}

//MEDIUM RESOLUTION STYLES*/
@media screen and (max-width: ($max-medium - 1) + px) {
	@include m-mod_slider;
	@include m-mod_homeRow;
	@include m-mod_tiempo;
	@include m-mod_main;
	@include m-mod_title;
	@include m-mod_navMenu;
	@include m-mod_header;
	@include m-mod_formField;
	@include m-mod_cookie;
	@include m-mod_ftr_content;
	@include m-mod_ftr_slick;
	@include m-mod_imageList;
	@include m-mod_filter;
	@include m-mod_fichaGente;
	@include m-mod_fichaDatos;
	@include m-mod_social;
	@include m-mod_accordion;
	@include m-mod_datepicker;
	@include m-mod_banner;
	@include m-mod_banner_img;
	@include m-mod_event;
	@include m-mod_icons;
	@include m-mod_search;
	@include m-mod_error;
	@include m-mod_modal;
	@include m-mod_machine;
	@include m-mod_mapa;
	@include m-mod_parrafo;
	@include m-mod_vive;
	@include m-mod_vivePost;
	@include m-mod_viveSeguro;
	@include m-mod_back;
	@include m-mod_calc;
	@include m-mod_boxButton;
	@include m-mod_showMore;
}

//SMALL RESOLUTION STYLES*/
@media screen and (max-width: ($max-small - 1) + px) {
	@include s-mod_slider;
	@include s-mod_homeRow;
	@include s-mod_buttons;
	@include s-mod_tiempo;
	@include s-mod_formField;
	@include s-mod_navMenu;
	@include s-mod_header;
	@include s-mod_ftr_content;
	@include s-mod_ftr_slick;
	@include s-mod_imageList;
	@include s-mod_fichaGente;
	@include s-mod_social;
	@include s-mod_fichaDatos;
	@include s-mod_datepicker;
	@include s-mod_timepicker;
	@include s-mod_banner_img;
	@include s-mod_event;
	@include s-mod_search;
	@include s-mod_error;
	@include s-mod_modal;
	@include s-mod_machine;
	@include s-mod_banner;
	@include s-mod_mapa;
	@include s-mod_parrafo;
	@include s-mod_vive;
	@include s-mod_vivePost;
	@include s-mod_viveSeguro;
	@include s-mod_back;
	@include s-mod_boxButton;
	@include s-mod_showMore;
	
}

//X-SMALL RESOLUTION STYLES*/
@media screen and (max-width: ($max-x-small - 1) + px) {
	@include xs-mod_banner_img;
}