//*****************************************************************************/
//*    Proyecto: INTRODUCIR NOMBRE DEL Proyecto
//*    Titulo: modules.css
//*    Desripcion: Estilos para la realización de los modulos
//******************************************************************************/
@import "_function";
@import "_config";
@import "general/_colors";
@import "modules/_mod_slick";
@import "modules/_mod_datepicker";
@import "modules/_mod_timepicker";

.dFront {
	position: relative;

	@import "modules/_mod_icons";
	@import "modules/_mod_buttons";
	@import "modules/_mod_homeRow";
	@import "modules/_mod_header";
	@import "modules/_mod_footer";
	@import "modules/_mod_navMenu";
	@import "modules/_mod_slider";
	@import "modules/_mod_combobox";
	@import "modules/_mod_formField";
	@import "modules/_mod_tiempo";
	@import "modules/_mod_ftr_slick";
	@import "modules/_mod_ftr_content";
	@import "modules/_mod_cookie";
	@import "modules/_mod_main";
	@import "modules/_mod_title";
	@import "modules/_mod_machine";
	@import "modules/_mod_filter";
	@import "modules/_mod_imageList";
	@import "modules/_mod_accordion";
	@import "modules/_mod_rangeSlider";
	@import "modules/_mod_tags";
	@import "modules/_mod_fichaGente";
	@import "modules/_mod_banner";
	@import "modules/_mod_datepicker";
	@import "modules/_mod_fichaDatos";
	@import "modules/_mod_social";
	@import "modules/_mod_banner_img";
	@import "modules/_mod_paginator";
	@import "modules/_mod_event";
	@import "modules/_mod_error";
	@import "modules/_mod_search";
	@import "modules/_mod_modal";
	@import "modules/_mod_parrafo";
	@import "modules/_mod_vive";
	@import "modules/_mod_vivePost";
	@import "modules/_mod_viveSeguro";
	@import "modules/_mod_back";
	@import "modules/_mod_calc";
	@import "modules/_mod_boxButton";
	@import "modules/_mod_showMore";
	@import "modules/_mod_mapa";	
	//components
	// Styles
	//.mod_main{
	//	overflow: hidden;		//Oculta el sobrante de los homeRow girados
	//}

	//responsive styles should be imported at bottom
	@import "_responsive";
}
@media (max-width:767px) {
  .aui .modal-open {
      overflow: inherit;
  }
}