//*****************************************************************************
//    Proyecto: Nombre del proyecto
//    Titulo: _generalClasses.scss
//    Desripcion: Css genérico
//******************************************************************************/
/*------------ CLASES GENÉRICAS ---------------------*/

/*ANCHOS*/
.w100{width: 100%!important;}
.w90 {width: 90%!important;}
.w80 {width: 80%!important;}
.w70 {width: 70%!important;}
.w60 {width: 60%!important;}
.w50 {width: 50%!important;}
.w40 {width: 40%!important;}
.w30 {width: 30%!important;}
.w20 {width: 20%!important;}
.w10 {width: 10%!important;}
.wAuto{width: auto!important;}

/*ALTOS*/
.h100{height:100%;}

/*PADDING*/
.no_padding { padding:0!important;}
/*PADDING-TOP*/
.no_padding_top{padding-top:0!important;}
/*PADDING-RIGTH*/
.no_padding_right{padding-right:0!important;}
/*PADDING-BOTTOM*/
.no_paddingBottom { padding-bottom:0!important;}
/*PADDING-LEFT*/
.no_padding_left{padding-left:0!important;}

/*MARGENES*/
.no_margin {margin:0!important;}
/*MARGIN-TOP*/
.no_marginTop {margin-top:0!important;}
/*MARGIN-RIGHT*/
.no_marginRight {margin-right:0!important;}
/*MARGIN-BOTTOM*/
.no_marginBottom {margin-bottom:0!important;}
/*MARGIN-LEFT*/
.no_marginLeft {margin-left:0!important;}

/*FONDOS*/
.background-colorNone{background-color:transparent !important;}

/*FLOTACIONES*/
.ftl { float:left!important;}
.ftr { float:right!important;}
.ftn { float:none; }

/*MOSTRAR / OCULTAR*/
.hide { display:none!important;}
.show { display:block;}
.hideAccessible{ position:absolute;left:-9999em;}
.hidden { visibility:hidden;}
.visible { visibility:visible;}

/*BORDES*/
.no_border { border:none!important;}
/*BORDER TOP*/
.no_borderTop { border-top:none!important;}
/*BORDER RIGHT*/
.no_borderRight { border-right:none!important;}
/*BORDER BOTTOM*/
.no_borderBottom { border-bottom:none!important;}
/*BORDER LEFT*/
.no_borderLeft { border-left:none!important;}

/*ZINDEX*/
.zIndex999{z-index:999;}

/*POSICIONAMIENTO*/
.positionR { position:relative; }
.positionA { position:absolute; }

/*TEXTO*/
.bold{font-weight:bold;}