//*****************************************************************************
//    Proyecto: Nombre del proyecto
//    Titulo: _layouts.scss
//    Desripcion: Estilos para layouts
//******************************************************************************/
/*---------------- CONTENEDORES PRINCIPALES ------------------------------------*/

        /* CONTENEDOR ENVOLVENTE DEL CONTENIDO */
        


	
	/* --------------- CONTENIDO ----------------------------------------------------------- */	
	.contenido {width: 100%; /*BORRAR*/ overflow:hidden; background-color: lightgray;}




/* -------------- LAYOUTS DE COLUMNAS ------------------------------------------------- */

	/* DEFINICIÓN DE COLUMNAS AUXILIARES IZQUIERDA Y DERECHA */
	
	.izquierda {float: left; width: 31.6%; /*BORRAR*/ min-height:550px; background-color: lightskyblue; }
	
	.derecha {float: right; width: 31.6%; /*BORRAR*/ min-height:550px; background-color: lightpink;}

/* CONTENIDOS CENTRALES SEGÚN TIPO DE LAYOUT: LA CLASE PRIMERA QUE DEFINE EL TIPO DE LAYOUT DE LA PÁGINA SE COLOCA EN EL contenedor_general */
	
        /* LAYOUT UNA COLUMNA CENTRAL */
	.layoutUnaCols .central { padding: 0% 0% 0% 0%;}    

        /* LAYOUT TRES COLUMNAS */
	.layoutTresCols .central {padding: 0 34% 0% 34%;}

	/* LAYOUT DOS COLUMNAS CON COLUMNA DERECHA */
	.layoutDosColsDcha .central { padding: 0% 34% 0% 0%;}	
	
	/* LAYOUT DOS COLUMNAS CON COLUMNA IZQUIERDA */
	.layoutDosColsIzda .central { padding: 0% 0% 0% 34%;}
        
        
