//*****************************************************************************
//    Proyecto: Nombre del proyecto
//    Titulo: _reset.scss
//    Desripcion: Reset de estilos
//******************************************************************************/
/*RESETEO DE ESTILOS*/

html, body, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
article, aside, details, dialog, figcaption, figure, footer, header, hgroup, main, nav, section, summary, audio, canvas, video, mark, code, kbd, pre, samp,
a, abbr, acronym, address, code, del, dfn, em, strong, img, q, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, div {
    margin: 0;
    padding: 0;
    border: none;
    font-weight: normal;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    text-decoration: none;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input, button, select, textarea {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    text-decoration: none;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul, ol, dl {
    list-style: none;
}

/*CORRECTA VISUALIZACIÓN DE ETIQUETAS HTML5 EN NAVEGADORES NO SOPORTADOS*/
article, aside, details, dialog, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

audio, canvas, video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1.6em;
}

body {
    font-family: "Montserrat", Helvetica, sans-serif;
}

/* ENLACES */
a {
    cursor: pointer;
}

a:link {
}

a:visited {
    text-decoration: none;
}

/* cuando un link es visitado recupera el color original del link */
a:hover {
    text-decoration: underline;
}

a:focus, a:active {
    text-decoration: none;
}

/* ENCABEZADOS CON Y SIN ENLACE */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}

/* RESET FORMULARIOS */

/*BOTONES*/
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}

button[disabled], input[disabled] {
    cursor: default;
}

/* RESET TABLAS*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:active, a:active * {
    outline: none !important;
    -moz-outline-style: none !important;
}

a:focus, a:focus * {
    outline: none !important;
    -moz-outline-style: none !important;
}

/* RESET AUI */
.aui html {
    font-size: 16px;
}

.aui body {
    padding: 0;
    margin: 0;
    font-family: "Arial", Helvetica, sans-serif;
    font-size: 16px;
}

.aui label, .aui input, .aui button, .aui select, .aui textarea {
    font-size: 1em;
}

.aui .row {
    margin-left: -15px;
    margin-right: -15px;
}

.aui ul, .aui ol {
    margin: 0;
}

.aui form,
.aui p {
    margin: 0;
}

.aui li {
    line-height: normal;
}

.aui legend {
    font-size: 16px;
    border: 0;
    margin: 0;
}

.aui label {
    font-weight: normal;
}

.aui h1,
.aui h2,
.aui h3,
.aui h4,
.aui h5,
.aui h6 {
    margin: 0;
    font-size: 1em;
    line-height: 1;
}

.aui select,
.aui textarea,
.aui input[type="text"],
.aui input[type="password"],
.aui input[type="datetime"],
.aui input[type="datetime-local"],
.aui input[type="date"],
.aui input[type="month"],
.aui input[type="time"],
.aui input[type="week"],
.aui input[type="number"],
.aui input[type="email"],
.aui input[type="url"],
.aui input[type="search"],
.aui input[type="tel"],
.aui input[type="color"], {
    height: auto;
    margin: 0;
    line-height: normal;
    box-shadow: none;
}

.aui textarea:focus,
.aui input[type="text"]:focus,
.aui input[type="password"]:focus,
.aui input[type="datetime"]:focus,
.aui input[type="datetime-local"]:focus,
.aui input[type="date"]:focus,
.aui input[type="month"]:focus,
.aui input[type="time"]:focus,
.aui input[type="week"]:focus,
.aui input[type="number"]:focus,
.aui input[type="email"]:focus,
.aui input[type="url"]:focus,
.aui input[type="search"]:focus,
.aui input[type="tel"]:focus,
.aui input[type="color"]:focus {
    box-shadow: none;
}

@media screen and (max-width: ($max-medium - 1) + px) {
    .modal-open {
        .dFront {
            height: em(87);
            overflow: hidden;
        }
        .modal-backdrop {
            display: none;
        }
    }
}
